.booking-pages,
.booking-options {
  .booking-pages-list,
  .booking-options-list {
    h3 {
      margin-bottom: 3px;
    }

    .desc {
      color: $gray11;
    }
  }
}

.booking-page-show,
.booking-option-show {
  .with-format {
    white-space: pre-wrap;
  }
}

.menu-block {
  width: 77% !important;
  display: flex;
  justify-content: inherit;
  align-items: center;
  color: $black;

  .drag-handler {
    padding-left: 0;
  }

  .menu-info {
    display: flex;
  }
}

.booking-option-field {
  border: 1px solid $gray9;
  border-radius: 6px;
  display: inline-block;
  width: 100%;
  font-size: 90%;

  .booking-option-info {
    padding: 10px 10px 6px 10px;

    .booking-option-name {
      font-size: 18px;
      color: $black;
      margin-bottom: 3px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .booking-option-row {
    border-top: 1px solid $gray9;
    padding: 6px 10px 6px 10px;
    position: relative;
    white-space: pre-wrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.booking-preview-modal {

  .others-options {
    margin-top: 10px;
    text-align: center;
    color: $gray12;
  }
}

.booking-page-preview {
  padding: 12px;

  .header {
    margin-top: 12px;
    margin-bottom: 12px;

    .header-title-part {
      h1 {
        margin: 20px 0 10px;
        display: flex;
        justify-content: space-between;
      }
    }

    .page-title {
      font-size: 24px;
    }

    .greeting {
      margin: 12px 0 20px;
      white-space: pre-wrap;
    }
  }

  .edit-mark {
    margin: 0 !important;
  }
}

$booking-flow-padding: 12px;

.booking-creation-flow {
  padding: $booking-flow-padding;

  .flow-step-indicator {
    margin: 24px 32px;
  }

  .booking-page-preview {
    margin: 12px;
    padding: 12px;
    border: 1px solid $gray-border-1;
  }

  h3.header {
    margin: 20px 0;
  }

  .btn {
    margin: 6px;
  }

  .shop-info {
    text-align: left;
    padding: 0 30px;

    p {
      margin-bottom: 12px;
    }
  }

  .menu-info {
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;

    .menu-data {
      display: flex;
      justify-content: space-between;
      margin: 9px 100px;
    }
  }

  .booking-tax-types {
    margin-top: 12px;

    label {
      margin: 0 12px;
    }
  }

  textarea {
    width: 72%;
  }

  .field-header {
    margin-top: 30px;
  }

  .field-header,
  .field-row {
    margin-left: -$booking-flow-padding;
    margin-right: -$booking-flow-padding;
  }
}

a.field-row:has(+ .booking-page-business-schedules) {
  border-bottom: 0;
}
.booking-page-business-schedules {
  padding: 10px;
  background: #fff;
}
.booking-page-business-schedules .field-row {
  font-size: 90%;
  background: #fffef5;
  border: 0;
  padding-top: 5px;
  padding-bottom: 5px;
}