#login {
  width: 300px;
  margin: auto;
  padding: 20px 0 40px 0;

  h2 {
    text-align: center;
    font-size: 16px;
    margin-bottom: 20px;
  }

  p {
    text-align: left;
    margin-bottom: 10px;
  }

  #socialLogin {
    text-align: center;
    padding: 20px 0;
    border-width: 1px 0 1px 0;
    border-style: solid;
    border-color: #CCCCCC;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
