.desktop-navigator {
  min-width: $desktop-sidebar-width;
  width: $desktop-sidebar-width;
  border-right: 1px solid $gray4;

  li {
    list-style-type: none;
  }

  .nav {
    display: none;
  }

  a.active + .nav {
    display: block;
    margin-left: 3px;
  }
}

.fake-mobile-layout {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  border: 1px solid $gray;
}

.line-chat-background {
  background-color: #A3D1EB;
  padding: 6px;
  padding-right: 60px;
}

.dummy-line-card {
  border: 1px solid $gray;
  border-radius: 20px;
  margin: 10px;
  background-color: #ffffff;

  .picture {
    img {
      width: 100%;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px
    }

    margin-bottom: 10px;
  }

  .content, .actions {
    padding: 10px;
  }
}
