.desktop-navigator {
  min-width: $desktop-sidebar-width;
  width: $desktop-sidebar-width;
  border-right: 1px solid $gray4;

  li {
    list-style-type: none;
  }

  .nav {
    display: none;
  }

  a.active + .nav {
    display: block;
    margin-left: 3px;
  }
}
