.desktop-navigator {
  min-width: $desktop-sidebar-width;
  width: $desktop-sidebar-width;
  height: 100%;
  height: -webkit-fill-available;
  border-right: 1px solid $gray4;
  background-color: #9e9e9e;
  margin-top: 0;
  border: 0;
  z-index: $function-bar-zindex;
  position: fixed;
  filter: drop-shadow(0px 0px 3px black);

  @include media-breakpoint-up(tablet) {
    position: relative;
  }

  li {
    list-style-type: none;
    padding: 5px 0;
  }

  .nav {
    display: none;
  }

  a.active + .nav {
    display: block;
    margin-left: 30px;
  }

  ul li a:hover,
  .p-1 a:hover {
    background-color: #787878;
  }

  .p-1 a.active {
    background-color: #787878;
  }

  a:link,
  a:visited {
    color: #ffffff;
    display: block;
    height: 35px;
    line-height: 35px;
    vertical-align: middle;
    padding: 0 9px;
    border-radius: 7px;
  }

  i {
    font-size: unset;
    width: 19px;
  }
}

.fake-mobile-layout {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  border: 1px solid $gray;

  @include media-breakpoint-up(tablet) {
    width: 380px;
    height: 700px;
    border: 15px solid #000000;
    border-radius: 3em;
    background-color: #ffffff;
    transform: scale(.9);
    margin-top: 0;
    margin-bottom: 20px;
    overflow: scroll;
  }
}

.line-chat-background {
  background-color: #a3d1eb;
  padding: 6px;
  padding-right: 60px;

  @include media-breakpoint-up(tablet) {
    background-image: url(https://toruya.com/user-bot/linecard_footer.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 100%;
    height: -webkit-fill-available;
  }
}

.dummy-line-card {
  border-radius: 20px;
  margin: 10px;
  background-color: #ffffff;

  .picture {
    img {
      width: 100%;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px
    }

    margin-bottom: 10px;
  }

  .actions {
    padding: 10px;
  }

  @include media-breakpoint-up(tablet) {
    .content {
      padding: 0 10px;

      h3 {
        font-size: 13pt;
        margin-bottom: 10px;
      }

      .desc {
        font-size: 10pt;
        color: #888888;
      }
    }
  }
}


@include media-breakpoint-up(tablet) {
  .metrics.mobile-content {
    overflow: scroll;
  }

  .container {
    width: 100%;
    width: -webkit-fill-available;
    padding: 0;

    &.table {
      .row {
        margin-right: 0;
        margin-left: 0;
        background-color: #ffffff;

        &:nth-child(odd) {
          background-color: #f1f1f1;
        }

        &:first-of-type {
          background-color: #d3d3d3;
        }

        & > div:first-child {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        & > div {
          padding: 10px;
        }
      }

    }
  }

  .settings-view {
    overflow: scroll;
    height: 100%;
    border-right: 1px solid #efefef;
    background-color: #ffffff;

    &:has(form.form) {
      background-color: #eeeeee;
    }
  }

  .preview-view {
    padding-top: $bar-height;
    background-color: #f7f7f7;
  }

  .product-content-deails {
    background-color: #ffffff;
  }

  .purchase-buttons {
    margin: 10px 10px 0 10px;
  }
}

.metric-cell {
  border: 3px solid #EFEFEF;
  border-radius: 10px;

  div[data-test-id="CircularProgressbarWithChildren"] {
    & > div {
      width: initial !important;
      height: initial !important;
    }
  }

  .number-difference {
    &.up {
      color: $palette-color10
    }

    &.down {
      color: $danger
    }
  }
}

.container {
  width: 100%;
  width: -webkit-fill-available;
  padding: 0;

  &.table {
    .row {
      margin-right: 0;
      margin-left: 0;
      background-color: #ffffff;

      &:nth-child(odd) {
        background-color: #f1f1f1;
      }

      &:first-of-type {
        background-color: #d3d3d3;
      }

      & > div:first-child {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      & > div {
        padding: 10px;
      }
    }

  }
}