.form {
  .field-group-header {
    background-color: $gray4;
    padding: 28px 7px 7px 7px;
    font-size: $normal-font-size;
  }

  .field-header {
    padding: 7px;
    background-color: $gray2;
    border: 1px solid $gray-border-1;
    display: flex;
    font-size: $normal-font-size;

    &.space-between {
      justify-content: space-between;
    }
  }

  &.with-top-bar {
    padding-top: $bar-height;
  }

  .action-block {
    text-align: center;
    padding: 10px 0 20px;
  }
}

.field-row {
  display: flex;
  padding: 12px;
  background-color: #ffffff;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $gray;
  color: $black;
  flex-wrap: wrap;
  text-align: left;

  &.with-next-arrow {
    > :first-child {
      width: 95%;
    }
  }

  &.column-direction {
    flex-direction: column;
  }

  &.flex-start {
    justify-content: flex-start;
  }

  &.no-border {
    border-bottom: 0;
  }

  &.date-row {
    padding: 12px 2px;
  }

  &.radio-row {
    align-items: baseline;

    > :first-child {
      flex: 1;
    }

    > :nth-child(2) {
      flex: 20;
    }
  }

  &.hint {
    font-size: 14px;
  }

  .desc {
    font-size: 12px;
    color: $gray11;
  }
}

.credit-card {
  padding: 12px;
  text-align: center;
  background-color: #f5f5f7;

  header {
    display: block;
    background-color: #dfdfdf;
    padding: 12px;
    margin-left: -12px;
    margin-right: -12px;
    margin-top: -12px;

    h1 {
      margin: 0;
      font-size: 17px;
      font-weight: 700;
      color: #000
    }

    h2 {
      font-size: 13px;
      font-weight: 500;
      color: #5b5b65;
      text-shadow: 0 1px 0 #fff;
      padding-bottom: 6px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-top: 6px;
    }
  }

  .details {
    margin: 15px;
    color: $black;
    font-weight: bold;
  }

  .StripeElement {
    margin: 15px auto;
    padding: 10px 12px;
    color: #32325d;
    background-color: white;
    border: 1px solid #dfdfdf;
    border-radius: 4px;
  }

  .StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
  }
}
