.form {
  .field-header {
    padding: 7px;
    background-color: $gray5;
    display: flex;

    &.space-between {
      justify-content: space-between;
    }
  }

  .field-row {
    display: flex;
    padding: 12px;
    background-color: #ffffff;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $gray;
    color: $black;
  }

  &.with-top-bar {
    padding-top: $bar-height;
  }
}
