.form {
  padding-bottom: $bar-height * 2;

  .field-group-header {
    background-color: $gray4;
    padding: 28px 7px 7px 7px;
    font-size: $normal-font-size;
    border-style: solid;
    border-color: $gray;
    border-width: 0 0 1px 0;

    &:first-child {
      border-width: 1px 0 1px 0;
    }
  }

  .field-header {
    padding: 7px;
    background-color: $gray2;
    display: flex;
    font-size: $normal-font-size;
    border-style: solid;
    border-color: $gray;
    border-width: 0 0 1px 0;

    &:first-child {
      border-width: 1px 0 1px 0;
    }

    &.space-between {
      justify-content: space-between;
    }
  }

  &.with-top-bar {
    padding-top: $bar-height;
  }

  .action-block {
    text-align: center;
    padding: 10px 0 20px;

    button {
      margin: 0 12px;
    }
  }

  .state {
    width: 20px;
    min-width: 20px;
  }
}

.field-row {
  display: flex;
  padding: 12px;
  background-color: #ffffff;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $gray;
  color: $black;
  flex-wrap: wrap;
  text-align: left;
  width: 100%;

  &.header-row {
    background-color: $gray2;
    font-size: $normal-font-size;
  }

  &.with-next-arrow {
    > :first-child {
      width: 95%;
    }
  }

  &.column-direction {
    flex-direction: column;
  }

  &.flex-start {
    justify-content: flex-start;
  }

  &.justify-center {
    justify-content: center;
  }

  &.no-border {
    border-bottom: 0;
  }

  &.date-row {
    padding: 12px 2px;
  }

  &.radio-row {
    align-items: baseline;

    > :first-child {
      flex: 1;
    }

    > :nth-child(2) {
      flex: 20;
    }
  }

  &.hint {
    font-size: 14px;
  }

  .desc {
    font-size: 12px;
    color: $gray11;
  }

  &.no-content {
    padding: 0;
  }
}

