.user-bot-guest-content {
  padding: 6px;

  .header {
    margin-top: 12px;
    margin-bottom: 12px;

    .header-title-part {
      h1 {
        margin: 20px 0 10px;
      }
    }
  }

  input[type="text"],
  input[type="tel"] {
    width: 45%;

    &.expaned {
      width: 80%;
    }
  }

  input[type="submit"],
  a.submit {
    margin-top: 12px;
  }

  .customer-type-options {
    margin-top: 40px;

    h4 {
      margin-top: 12px;
      margin-bottom: 12px;
      color: $black;
      font-size: 14px;
    }

    .desc {
      margin-bottom: 9px;
    }

    .resend-row {
      margin-top: 9px;
    }
  }

  .field {
    margin-top: 6px;
  }
}
