a.modal-link {
  color: #444444;
}

.modal {
  .modal-header {
    background: #333;
    color: #fff;
    border-radius: 5px 5px 0 0;

    .modal-title .state {
      margin-right: 6px;
      padding: 0 3px;
    }
  }

  .close {
    color: #999;
    opacity: 1;
  }

  .modal-footer dl dd a,
  .modal-footer dl dd a:link {
    width: 100%;
    height: 40px;
    line-height: 40px;
  }
}

.toruya-modal {
  .modal-footer {
    text-align: center;

    dl dd {
      line-height: 22px;
      padding-right: 5px;
      padding-left: 5px;
      vertical-align: middle;
      display: inline-block;
      width: 46%;
      margin: 6px 0;
    }
  }
}
