.user-bot-content {
  .header {
    margin-top: 12px;
    margin-bottom: 12px;

    .header-title-part {
      h1 {
        margin: 20px 0 10px;
      }
    }

    .logo {
      width: 130px;
      height: auto;
      max-height: 45px;
    }
  }
}
