.user-bot-content {
  .header {
    margin-top: 12px;
    margin-bottom: 12px;

    .header-title-part {
      h1 {
        margin: 20px 0 10px;
      }
    }

    .logo {
      width: 130px;
      height: auto;
      max-height: 45px;
    }
  }

  input[type="text"],
  input[type="tel"] {
    width: 45%;
  }

  input[type="submit"],
  a.submit {
    margin-top: 12px;
  }

  .customer-type-options {
    margin-top: 40px;

    .desc {
      margin-bottom: 9px;
    }

    .resend-row {
      margin-top: 9px;
    }
  }
}
