.events {
  width: 100%;
  color: $black;
  padding: 0 6px;

  .event {
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    border: 1px solid $gray7;
    border-radius: 3px;
    margin: 5px;

    &.booking-page-holder {
      background-color: $gray-background-1;
    }

    .year {
      max-width:1px; overflow:visible;
      padding: 9px;
      background-color: $gray-background-1;
      text-align: center;
      color: #ffffff;
    }

    .cell {
      background-color: $gray-background-1;
    }

    .date,
    .state,
    .time,
    .content,
    .info,
    .extra {
      padding: 3px;
    }

    .state {
      border-right: 1px solid $gray7;
      width: 20px;
      vertical-align: middle;
      margin-right: 6px;
    }

    .start-time {
      margin-left: 6px;
    }
  }
}
