.reservation-form {
  padding-top: $bar-height;

  .bottom-navigation-bar {
    .actions {
      .btn-save {
        position: absolute;
        right: 10px;
        top: -24px;
      }

      .btn-delete {
        position: absolute;
        left: 14px;
        top: -24px;
      }
    }
  }

  .form-body {
    .business-hours {
      padding: 6px;
      border: 1px solid $gray7;
      background-color: $gray5;

      &.closed {
        background-color: $palette-color4;
        border: 1px solid $palette-color4-1;
        color: #ffffff;
      }
    }

    .field-header {
      padding: 6px;
      background-color: $gray5;
    }

    .field-row {
      padding: 12px;
      border-bottom: 1px solid $gray;
      display: flex;
      justify-content: space-between;
    }

    .delete-staff-block {
      display: inline-block;
    }

    .menu-option-field {
      .menu-option-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px solid $gray;
        padding: 6px 6px 6px 12px;
        background-color: $gray4;

        .menu-option-details-toggler {
          a.toggler-link {
            padding: 0 10px;
            margin-left: 5px;
            height: 35px;
            line-height: 35px;
            font-size: 18px;
            color: $black;
          }
        }
      }

      .menu-option-content {
        border: 1px solid $gray;
        border-radius: 6px;
        padding-bottom: 6px;
        margin-bottom: 6px;

        .menu-field-row {
          display: flex;
          justify-content: space-between;

          .menu-field-label {
            padding: 6px;
          }
        }
      }

      .add-staff-block,
      .remove-menu-block {
        display: inline-block;
        margin-top: 6px;
        margin-left: 6px;
      }
    }

    .add-menu-block {
      margin: 6px;
      display: inline-block;
    }

    .btn {
      margin: 0 6px;
    }

    textarea {
      width: 100%;
      height: 100px;
    }
  }

  .reservation-state-btn {
    margin-left: 32px;
    padding-left: 12px !important;
    padding-right: 12px !important;
    position: relative;

    &.pending {
      background: #fcd0ce;
      border-color: #f97a68;
      color: #f42c00 !important;
    }

    &.accepted {
      background: #def5ff;
      border-color: #9bd1ef;
      color: #7ed1f9 !important;
    }

    .fa-pencil {
      position: absolute;
      right: 12px;
      top: 8px;
    }
  }

  #staff-states-modal {
    .fa-calendar-check {
      color: $palette-color2;
      margin-right: 3px;
    }

    .fa-calendar {
      color: $palette-color4;
      margin-right: 3px;
    }
  }
}
