.events {
  display: table;
  border-collapse: separate;
  border-spacing: 0 10px;
  width: 100%;
  color: $black;
  padding: 0 6px;
  background-color: #fff;

  .event-row {
    display: table;
  }

  a.event {
    height: 56px;
  }

  .event {
    display: table-row;
    background-color: #ffffff;

    &.booking-page-holder {
      background-color: $gray-background-1;
    }

    .year {
      display: table-cell;
      max-width:1px; overflow:visible;
      padding: 9px;
      background-color: $gray-background-1;
      text-align: center;
      color: #ffffff;
    }

    .cell {
      display: table-cell;
      background-color: $gray-background-1;
    }

    .date,
    .state,
    .time,
    .content,
    .info,
    .extra {
      display: table-cell;
      border-top: 1px solid $gray7;
      border-bottom: 1px solid $gray7;
      padding: 3px;
    }

    .extra {
      border-right: 1px solid $gray7;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }

    .state {
      width: 20px;
      min-width: 20px;
      border: 1px solid $gray7;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
      vertical-align: middle;
    }

    .start-time {
      margin-left: 6px;
    }
  }
}

.schedules {
  .events {
    display: block;
    border-spacing: inherit;

    a.event {
      height: 56px;
    }
  }
}

.schedules {
  .events {
    display: block;
    border-spacing: inherit;
  }

  .event {
    .time {
      width: 56px;
    }

    .content {
      width: 100%;
    }

    .info {
      max-width: 100px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
}

.event-row {
  display: table;
  width: 100%;
  height: 56px;
  margin: 0;
  padding: 5px 0;
}
