$image-btn-background: $gray9;

.sales {
  .btn-flexible {
    h4 {
      margin-top: 12px;
    }
  }

  &.online-services {
    .flow-step-indicator {
      margin: 24px 20px;
    }
  }

  &.booking-pages {
    .flow-step-indicator {
      margin: 24px 80px;
    }
  }

  .product-content-deails {
    align-items: center;
    padding: 12px;
    border: 1px solid $gray-border;
    margin: 6px;
    border-radius: 6px;

    textarea {
      &.what-user-get-tip {
        text-align: center;
        font-size: 18px;
        font-weight: bold;
        min-height: 82px;
      }
    }
  }

  .staff-profile {
    .fileUploader {
      display: flex;
      justify-content: center;
    }

    .fileContainer {
      border-radius: 50%;
      width: 180px;
      height: 180px;
      min-height: 180px;

      .chooseFileButton {
        border-radius: 50%;
        word-break: keep-all;
      }

      .uploadPictureContainer {
        border: 0;
        background-color: #ffffff;
        box-shadow: none;

        img.uploadPicture {
          border-radius: 50%;
          width: 180px;
          height: 180px;
          object-fit: cover;
        }
      }
    }
  }

  .customer-profile {
    .fileUploader {
      display: flex;
      justify-content: center;
      width: 90px;
    }

    .fileContainer {
      border-radius: 50%;
      width: 90px;
      height: 90px;
      min-height: 90px;

      .chooseFileButton {
        border-radius: 50%;
        word-break: break-word;
      }

      .uploadPictureContainer {
        border: 0;
        background-color: #ffffff;
        box-shadow: none;

        img.uploadPicture {
          border-radius: 50%;
          width: 90px;
          height: 90px;
          object-fit: cover;
        }
      }
    }
  }

  .confirm-block {
    border-top: 1px solid $gray-border;
    padding: 30px;
  }
}
