.sales-template {
  font-size: $big-font-size;
  color: $black;
  text-align: center;
  font-weight: bold;
}

.sales {
  .flow-step-indicator {
    margin: 24px 80px
  }

  .fileUploader {
    .uploadPictureContainer {
      width: 100%;
    }

    .chooseFileButton {
      position: absolute;
      z-index: 999;
    }
  }
}
