.sale-template-container {
  border: 1px solid #333333;
  border-radius: 6px;
  margin: 24px 12px;

  .logo {
    width: 130px;
    height: auto;
    max-height: 45px;
  }

  .sale-template-header {
    border-bottom: 1px solid #dfdfdf;
    padding: 6px;
    display: flex;
    justify-content: space-between;
    min-height: 45px;
  }

  .sale-template-content {
    font-size: $big-font-size;
    color: $black;
    text-align: center;
    font-weight: bold;
    padding: 12px;
  }

  .template-version-mark {
    background-color: $gray9;
    color: #ffffff;
    font-size: 10px;
    padding: 4px 6px;
    height: 24px;
  }
}

$image-btn-background: $gray9;

.sales {
  .flow-step-indicator {
    margin: 24px 80px
  }

  .product-content-deails {
    align-items: center;
    padding: 12px;
    border: 1px solid $gray-border;
    margin: 6px;
    border-radius: 6px;

    textarea {
      margin: 6px 0;

      &.what-user-get-tip {
        text-align: center;
        font-size: 18px;
        font-weight: bold;
        min-height: 82px;
      }
    }

    .header {
      margin: 20px 0;
    }
  }

  .staff-profile {
    .fileUploader {
      display: flex;
      justify-content: center;
    }

    .fileContainer {
      border-radius: 50%;
      width: 180px;
      height: 180px;
      min-height: 180px;

      .chooseFileButton {
        border-radius: 50%;
        word-break: keep-all;
      }

      .uploadPictureContainer {
        border: 0;
        background-color: #ffffff;
        box-shadow: none;

        img.uploadPicture {
          border-radius: 50%;
          width: 180px;
          height: 180px;
          object-fit: cover;
        }
      }
    }
  }

  .confirm-block {
    border-top: 1px solid $gray-border;
    padding: 30px;
  }

  .fileUploader {
    border: $gray-border;
    margin: 3px 0;
  }

  .fileContainer {
    background: $image-btn-background;
    box-shadow: none;
    position: relative;
    border-radius: 10px;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all 0.3s ease-in;
    min-height: 185px;

    p:empty {
      font-size: 12px;
      margin: 0;
    }

    .uploadPicturesWrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      position: relative;
      z-index: 2;

      & > div:empty {
        height: 1px;
      }
    }

    .uploadIcon {
      z-index: 1;
      position: absolute;
      margin-bottom: 90px;
    }

    .uploadPictureContainer {
      border: 0;
      background-color: #ffffff;
      box-shadow: none;
      width: 100%;
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.1);
      position: relative;
    }

    .chooseFileButton {
      position: absolute;
      padding: 6px 23px;
      background-color: $image-btn-background;
      color: #ffffff;
      border-radius: 0;
      font-weight: bold;
      font-size: 16px;
      margin: 0;
      transition: all 0.2s ease-in;
      cursor: pointer;
      outline: none;
      border: none;
      width: 100%;
      height: 100%;
    }

    .chooseFileButton:hover {
      background-color: $image-btn-background;
    }
  }

  .preview-hint {
    background-color: $pink-background;
    border: 1px solid $pink-border;
    margin: 30px 0;
    padding: 10px;
  }
}

.flow-step {
  margin-bottom: 30px;

  .number-step-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 12px 0;
  }

  .number-step {
    display: inline-flex;
    width: 60px;
    height: 60px;
    background-color: $gray11;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 42px;
    font-weight: bold;
  }
}

.sale-page {
  .edit-mark {
    position: absolute;
    right: 0;
  }

  .content {
    padding: 24px 12px;
    border-top: 1px solid $gray-border;

    .header {
      color: black;
      margin: 0 0 24px;
    }
  }

  .sale-template-container {
    background-color: $gray-background;
    border: 0;
    margin: 0;
    padding-bottom: 20px;

    .sale-template-header {
      background-color: #ffffff;
    }

    .sale-template-content {
    }
  }

  .product-price-block {
    color: $red;
    font-weight: bold;
    margin: 10px 0 20px;

    .price {
      font-size: 24px;

      .price-with-tax {
        font-size: 14px;
      }
    }
  }

  .product-content {
    h4 {
      font-size: 18px;
      font-weight: bold;
      margin: 24px 0;
      word-break: keep-all;
    }

    img.product-picture {
      width: 100%;
    }

    p {
      text-align: left;
      margin-top: 12px;
    }
  }

  .staff-content {
    img.staff-picture {
      width: 180px;
      height: 180px;
      border-radius: 50%;
      object-fit: cover;
      border: 1px solid $black;
    }

    b.name {
      margin: 12px;
      display: block;
      color: black;
    }

    p {
      text-align: left;
      margin-top: 12px;
    }
  }

  .flow-content {
    .number-step-header {
      justify-content: center;
    }
  }

  .shop-content {
    text-align: left;
    padding-left: 30px;
  }

  .apply-content {
    background-color: $gray-background;
  }
}
