.settings-dashboard {
  padding-bottom: $bar-height;

  h3 {
    text-align: center;
    padding: 6px;
  }

  .dashboard {
    background-color: #ffffff;
    padding: 6px;
    border-radius: 10px;
    border: 1px solid $gray;
    margin: 0 12px 12px 12px;
    font-size: 14px;

    .big {
      font-size: 28px;
    }

    strong {
      display: flex;
      align-items: baseline;
    }

    .cell {
      justify-content: center;
      align-items: center;
      display: inline-flex;
      width: 50%;
      flex-direction: column;
      padding: 6px;

      > div {
        margin: 6px 0;
      }

      &:first-child {
        border-right: 1px solid $gray;
      }

      &:last-child {
        border-left: 1px solid $gray;
      }
    }
  }

  .fa-lightbulb {
    color: #EAC16C;
  }
}

.social-accounts {
  img.demo {
    border: 1px solid $gray;
    max-width: 250px;
    height: auto;
  }
}

.line-webhook-modal {
  .line-webhook-area div {
    margin: 6px 0;
  }

  img.line-webhook-instruction {
    width: 100%;
  }
}

.service-show {
  .preview-image {
    width: 120px;
    height: auto;
  }
}

.rich-menus {
  .demo-image {
    width: 240px;
    height: auto;
  }
}
