$line-margin: 20px;

.margin-around {
  margin: $line-margin;

  &.m10 {
    margin: 10px;
  }

  &.m-3 {
    margin: 3px;
  }

  &.mt-0 {
    margin-top: 0px;
  }
}

.padding-around {
  padding: $line-margin;
}

.text-align-left {
  text-align: left;
}

.relative {
  position: relative;
}

.line-through {
  text-decoration: line-through;
}

.p10 {
  padding: 10px;
}

/* Tailwindcss*/
.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.w-full {
  width: 100%;
}

.bg-gray {
  background-color: $basic-gray-background;
}

.rounded {
  border-radius: 0.25em;
}

.p-6 {
  padding: 1.5rem;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.border {
  border-width: 1px;
}

.border-solid {
  border-style: solid;
}

.border-black {
  --tw-border-opacity: 1;
  border-color: rgba(0, 0, 0, var(--tw-border-opacity));
}

.text-gray-500 {
  --tw-text-opacity: 1;
  color: rgba(107, 114, 128, var(--tw-text-opacity));
}

.rounded-md {
  border-radius: 0.375rem;
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.ml-1 {
  margin-left: 0.25rem;
}

.mt-1 {
  margin-top: 0.25rem;
}
