$line-margin: 20px;

.margin-around {
  margin: $line-margin;

  &.m10 {
    margin: 10px;
  }

  &.m-3 {
    margin: 3px;
  }

  &.mt-0 {
    margin-top: 0px;
  }

  .extend {
    margin-left: -$line-margin;
    margin-right: -$line-margin;
  }
}

.padding-around {
  padding: $line-margin;
}

.text-align-left {
  text-align: left;
}

.relative {
  position: relative;
}

.line-through {
  text-decoration: line-through;
}

.p10 {
  padding: 10px;
}

.text-10px {
  font-size: 10px;
}

.text-12px {
  font-size: 12px;
}

.text-14px {
  font-size: 14px;
}

.text-15px {
  font-size: 15px;
}

.text-16px {
  font-size: 16px;
}

.text-6xl {
  font-size: 3.75rem; /* 60px */
  line-height: 1;
}

.text-4xl {
  font-size: 2.41rem; /* 60px */
  line-height: 1;
}

.ml-2-5 {
  margin-left: 0.625rem;
}

.mr-2-5 {
  margin-right: 0.625rem;
}

/* Tailwindcss*/
.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.overflow-x-auto {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.justify-between {
  justify-content: space-between;
}

.justify-evenly {
  justify-content: space-evenly;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-right {
  justify-content: right;
}

.justify-left {
  justify-content: left;
}

.items-baseline {
  align-items: baseline;
}

.items-start {
  align-items: flex-start;
}

.items-center {
  align-items: center;
}

.items-end {
  align-items: flex-end;
}

.h-full {
  height: 100%;
}

.w-full {
  width: 100%;
}

.w-11-12 {
  width: 91.666667%;
}

.w-10-12 {
  width: 83.333333%;
}

.w-9-12 {
  width: 75% !important;
}

.w-8-12 {
  width: 66.666667% !important;
}

.w-6-12 {
  width: 50%;
}

.w-3-12 {
  width: 25% !important;
}

.bg-white {
  background-color: #ffffff;
}

.bg-gray {
  background-color: $basic-gray-background;
}

.bg-gray-100 {
  background-color: rgb(243, 244, 246);
}

.bg-gray-300 {
  background-color: rgb(209, 213, 219);
}

.bg-gray-600 {
  background-color: rgb(75, 85, 99);
}

.rounded {
  border-radius: 0.25em;
}

.p-0 {
  padding: 0;
}

.pb-3 {
  padding-bottom: 0.75rem;
}

.pt-3 {
  padding-top: 0.75rem;
}

.p-6 {
  padding: 1.5rem;
}

.pt-6 {
  padding-top: 1.5rem;
}

.pb-6 {
  padding-bottom: 1.5rem;
}

.pb-0 {
  padding-bottom: 0;
}

.p-4 {
  padding: 1.00rem;
}

.p-3 {
  padding: 0.75rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.p-2 {
  padding: 0.5rem;
}

.p-1 {
  padding: 0.25rem;
}

.px-0 {
  padding-left: 0;
  padding-right: 0;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.border-0 {
  border-width: 0px;
}

.border {
  border-width: 1px;
}

.border-t {
  border-top-width: 1px;
}

.border-b {
  border-bottom-width: 1px;
}

.border-b-0 {
  border-bottom-width: 0px;
}

.border-l-0 {
  border-left-width: 0px;
}

.border-solid {
  border-style: solid;
}

.border-black {
  --tw-border-opacity: 1;
  border-color: rgba(0, 0, 0, var(--tw-border-opacity));
}

.border-white {
  --tw-border-opacity: 1;
  border-color: rgba(255, 255, 255, var(--tw-border-opacity));
}

.border-gray-500 {
  --tw-border-opacity: 1;
  border-color: rgba(107, 114, 128, var(--tw-border-opacity));
}

.border-gray-300 {
  --tw-border-opacity: 1;
  border-color: rgba(209, 213, 219, var(--tw-border-opacity));
}

.border-red {
  --tw-border-opacity: 1;
  border-color: rgba(239, 68, 68, var(--tw-border-opacity));
}

.text-gray-500 {
  --tw-text-opacity: 1;
  color: rgba(107, 114, 128, var(--tw-text-opacity));
}

.text-gray-300 {
  --tw-text-opacity: 1;
  color: rgba(209, 213, 219, var(--tw-text-opacity));
}

.text-gray-700 {
  --tw-text-opacity: 1;
  color: rgba(55, 65, 81, var(--tw-text-opacity));
}

.rounded-md {
  border-radius: 0.375rem;
}

.my-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.mx-4 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.mx-6 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.mt-1 {
  margin-top: 0.25rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-3 {
  margin-bottom: 0.75rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.mb-8 {
  margin-bottom: 2rem;
}

.mb-10 {
  margin-bottom: 2.5rem;
}

.mb-12 {
  margin-bottom: 3rem;
}

.mb-14 {
  margin-bottom: 3.5rem;
}

.mb-6px {
  margin-bottom: 6px;
}

.ml-0 {
  margin-left: 0rem;
}

.ml-1 {
  margin-left: 0.25rem;
}

.mr-2 {
  margin-right: 0.5rem;
}


.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.w-5 {
  width: 1.25rem;
}

.w-10 {
  width: 2.5rem;
}

.text-tarco {
  color: $palette-color2;
}

.text-white {
  color: #ffffff;
}

.text-gray-300 {
  color: #d1d5db;
}

.no-underline {
  text-decoration: none;
}

.underline {
  text-decoration: underline;
}

.font-normal {
  font-weight: 400;
}

.font-bold {
  font-weight: 700;
}

.object-contain {
  object-fit: contain;
}

.text-lime-400 {
  color: rgb(163, 230, 53);
}

.white-space-initial {
  white-space: initial;
}

.avatar {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.h-px {
  height: 1px;
}

.ReactTags__tags {
  position: relative;
}

.ReactTags__clearAll {
  cursor: pointer;
  padding: 10px;
  margin: 10px;
  background: #f88d8d;
  color: #fff;
  border: none;
}

.ReactTags__tagInput {
  border-radius: 2px;
  display: inline-block;

  input.ReactTags__tagInputField {
    height: 32px;
    margin: 0;
    padding: 5px;
    font-size: 14px;
    border: 1px solid #eee;
    min-width: 180px;

    &:focus {
      height: 32px;
      margin: 0;
      padding: 5px;
      font-size: 14px;
      border: 1px solid #eee;
      min-width: 180px;
    }
  }
}

.ReactTags__editInput {
  border-radius: 1px;
}

.ReactTags__editTagInput {
  display: inline-flex;
}

.ReactTags__selected {
  display: flex;
  justify-content: center;

  span.ReactTags__tag {
    background: $palette-color3;
    border-color: $palette-color3-1 !important;
    color: #fff;
    font-size: 14px;
    padding: 5px;
    margin: 0 5px;
    border-radius: 2px;
    display: flex;
    align-items: center;
  }

  .ReactTags__remove {
    color: #aaa;
    cursor: pointer;
    display: flex;
  }
}

.ReactTags__suggestions {
  position: absolute;

  ul {
    list-style-type: none;
    box-shadow: 0.05em 0.01em 0.5em rgba(0, 0, 0, 0.2);
    background: white;
    width: 200px;
    padding: 5px 0;
  }

  li {
    padding: 5px 10px;
    margin: 0;
    text-align: left;

    mark {
      text-decoration: underline;
      background: none;
    }

    &.ReactTags__activeSuggestion {
      background: #4dabf7;
      color: #fff;
      cursor: pointer;

      span mark {
        color: #fff;
      }
    }
  }
}

.ReactTags__remove {
  border: none;
  cursor: pointer;
  background: none;
  color: #fff;
  padding: 5px;
}

.ReactTags__error {
  color: #e03131;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    padding: 0 5px;
  }
}

.list-inside {
  list-style-position: inside;
}

.word-break-all {
  word-break: break-all;
}

.text-clip {
  text-overflow: clip;
}
