$line-margin: 20px;

.margin-around {
  margin: $line-margin;

  &.m10 {
    margin: 10px;
  }

  &.m-3 {
    margin: 3px;
  }

  &.mt-0 {
    margin-top: 0px;
  }
}

.padding-around {
  padding: $line-margin;
}

.text-align-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.relative {
  position: relative;
}

.line-through {
  text-decoration: line-through;
}


/* Tailwindcss*/
.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.bg-gray {
  background-color: $basic-gray-background;
}

.rounded {
  border-radius: 0.25em;
}

.p-6 {
  padding: 1.5rem;
}

.justify-center {
  justify-content: center;
}

.w-full {
  width: 100%;
}
