$line-margin: 20px;

.margin-around {
  margin: $line-margin;

  &.m10 {
    margin: 10px;
  }

  &.mt-0 {
    margin-top: 0px;
  }
}

.padding-around {
  padding: $line-margin;
}

.text-align-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.relative {
  position: relative;
}

.line-through {
  text-decoration: line-through;
}

.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.w-full {
  width: 100%;
}
