$line-margin: 20px;

.margin-around {
  margin: $line-margin;

  &.m10 {
    margin: 10px;
  }

  &.m-3 {
    margin: 3px;
  }

  &.mt-0 {
    margin-top: 0px;
  }

  .extend {
    margin-left: -$line-margin;
    margin-right: -$line-margin;
  }
}

.padding-around {
  padding: $line-margin;
}

.text-align-left {
  text-align: left;
}

.relative {
  position: relative;
}

.line-through {
  text-decoration: line-through;
}

.p10 {
  padding: 10px;
}

.text-10px {
  font-size: 10px;
}

.text-12px {
  font-size: 12px;
}

.text-12px {
  font-size: 12px;
}

.text-6xl {
  font-size: 3.75rem; /* 60px */
  line-height: 1;
}

.text-4xl {
  font-size: 2.41rem; /* 60px */
  line-height: 1;
}

.ml-2-5 {
  margin-left: 0.625rem;
}

.mr-2-5 {
  margin-right: 0.625rem;
}

/* Tailwindcss*/
.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.overflow-x-auto {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.justify-between {
  justify-content: space-between;
}

.justify-evenly {
  justify-content: space-evenly;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.items-center {
  align-items: center;
}

.items-end {
  align-items: flex-end;
}

.h-full {
  height: 100%;
}

.w-full {
  width: 100%;
}

.w-11-12 {
  width: 91.666667%;
}

.w-6-12 {
  width: 50%;
}

.bg-gray {
  background-color: $basic-gray-background;
}

.bg-gray-300 {
  background-color: rgb(209, 213, 219);
}

.bg-gray-600 {
  background-color: rgb(75, 85, 99);
}

.rounded {
  border-radius: 0.25em;
}

.p-6 {
  padding: 1.5rem;
}

.pb-6 {
  padding-bottom: 1.5rem;
}

.p-4 {
  padding: 1.00rem;
}

.p-3 {
  padding: 0.75rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.p-2 {
  padding: 0.5rem;
}

.p-1 {
  padding: 0.25rem;
}

.px-0 {
  padding-left: 0;
  padding-right: 0;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.border-0 {
  border-width: 0px;
}

.border {
  border-width: 1px;
}

.border-t {
  border-top-width: 1px;
}

.border-b {
  border-bottom-width: 1px;
}

.border-l-0 {
  border-left-width: 0px;
}

.border-solid {
  border-style: solid;
}

.border-black {
  --tw-border-opacity: 1;
  border-color: rgba(0, 0, 0, var(--tw-border-opacity));
}

.border-white {
  --tw-border-opacity: 1;
  border-color: rgba(255, 255, 255, var(--tw-border-opacity));
}

.border-gray-500 {
  --tw-border-opacity: 1;
  border-color: rgba(209, 213, 219, var(--tw-border-opacity));
}

.text-gray-500 {
  --tw-text-opacity: 1;
  color: rgba(107, 114, 128, var(--tw-text-opacity));
}

.text-gray-300 {
  --tw-text-opacity: 1;
  color: rgba(209, 213, 219, var(--tw-text-opacity));
}

.rounded-md {
  border-radius: 0.375rem;
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.ml-0 {
  margin-left: 0rem;
}

.ml-1 {
  margin-left: 0.25rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.mt-1 {
  margin-top: 0.25rem;
}

.mb-8 {
  margin-bottom: 2rem;
}

.mb-6px {
  margin-bottom: 6px;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.w-5 {
  width: 1.25rem;
}

.text-tarco {
  color: $palette-color2;
}

.font-bold {
  font-weight: 700;
}

.object-contain {
  object-fit: contain;
}
