<div class="settings-dashboard form with-top-bar">
  <%= render "lines/user_bot/top_navigation_bar", previous_path: lines_user_bot_settings_path, title: t("user_bot.dashboards.settings.stripe.connection_title") %>
  <%= render "lines/user_bot/settings/stripes/connection" %>
</div>
