<div id="subNav">
  <h2>基本情報 − <%= t("settings.category.new_title") %></h2>
</div>
<div id="about">
  <p><%= t("settings.category.info_1") %><br /><%= t("settings.category.info_2") %></p>
</div>

<%= render 'form',
 category: @category,
 url: settings_categories_path(from_menu: params[:from_menu], menu_id: params[:menu_id]) %>
