<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 px-0 settings-view">
      <%= react_component("user_bot/booking_pages/custom_messages/edit", {
        props: {
          scenario: params[:scenario],
          business_owner_id: business_owner_id,
          previous_path: lines_user_bot_settings_shop_custom_messages_path(shop_id: @shop.id, business_owner_id: business_owner_id),
          title: t("user_bot.dashboards.settings.custom_messages.auto_message"),
          message: {
            id: @message&.id,
            service_id: @shop.id,
            service_type: @shop.class.name,
            before_minutes: @message&.before_minutes,
            after_days: @message&.after_days,
            template: @template.presence || '',
          }.merge!(@shop.message_template_variables(Current.business_owner))
        }
      },
      { camelize_props: false }
                         ) %>
    </div>

    <div class="col-sm-6 px-0 hidden-xs preview-view"></div>
  </div>
</div>
