<div class="modal-footer">
  <dl>
    <dd>
      <%= link_to t("action.activity_details"), lines_user_bot_survey_activity_path(business_owner_id, reservation.survey_activity.survey, reservation.survey_activity), class: "btn enhanced BTNtarco" %>
    </dd>
  </dl>
</div>