<% if reservation_customer.booking_amount_cents %>
  <div class="reservation-info-row">
    <i class="fa fa-money"></i><span><%= t("common.booking_price") %>: <%= reservation_customer.booking_amount.format(:ja_default_format) %> (<%= t("settings.booking_option.form.#{reservation_customer.tax_include ? "tax_include" : "tax_excluded"}") %>)</span>
  </div>
<% end %>
