<% if reservation_customer.new_customer_info? %>
  <div class="reservation-info-row">
    <i class="fa fa-database"></i><span><%= I18n.t("customer.customer_info_changed_messsage") %>:</span>
    <% if can?(:edit, Customer)  %>
      <%= link_to t("dashboard.modal.customer.check_change_requests"), "#", data: { controller: "modal", modal_target:  "#dummyModal2", action: "click->modal#popup", modal_path: data_changed_user_customers_path(reservation_customer.customer.user, reservation_customer) } %>
    <% end %>
  </div>
<% end %>
