<div class="reservation-menu reservation-info-row">
  <i class="fa fa-ticket-alt text-gray-500"></i><span><%= "#{reservation_customer.customer_ticket.code} (#{reservation_customer.nth_quota}/#{reservation_customer.customer_ticket.total_quota}#{I18n.t('common.times')})" %> <%= I18n.t("common.expire_date") %>: <%= I18n.l(reservation_customer.customer_ticket.expire_at.to_date) %></span>

  <%= modal_link_to(
    t("action.change"),
    edit_ticket_modal_lines_user_bot_customer_reservations_path(business_owner_id: reservation_customer.reservation.user_id, reservation_id: reservation_customer.reservation_id, customer_id: reservation_customer.customer_id),
    class: "btn enhanced btn-tarco",
    modal_target: "#dummyModal2"
  ) %>
</div>