// booking_options list
#priceList.formRow {

  .updateTime,
  .salesFrom,
  .salesTo {
    width: 100px;
    min-width: 100px;
    font-size: 90%;
  }

  .salesMenu {
    width: 66px;
    text-align: center;
  }

  .rowTTL {
    min-width: 164px;
    box-sizing: unset;
    float: left;
    width: 25%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

// booking_option form
.booking_option_settings {
  .formRow {
    overflow: initial !important;

    dl {
      display: table;
      width: 100%;

      &:first-child {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }

      &:last-child {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
      }

      dt {
        width: 200px;
      }
    }

    .before-field-hint {
      margin-right: 6px;
    }

    .field-hint {
      margin-left: 12px;
    }

    .result-field {
      margin-bottom: 12px;
    }

    input[type="number"] {
      width: auto !important;
    }

    input[type="radio"] {
      margin-top: 0;
    }
  }
}
