.booking-page-settings {
  .booking-option-field {
    border: 1px solid $gray9;
    border-radius: 6px;
    display: inline-block;
    width: 320px;
    font-size: 90%;

    .booking-option-info {
      padding: 10px 10px 6px 10px;

      .booking-option-name {
        font-size: 18px;
        color: $black;
        margin-bottom: 3px;
      }
    }

    .booking-option-row {
      border-top: 1px solid $gray9;
      padding: 6px 10px 6px 10px;
      position: relative;
      white-space: pre-wrap;
    }

    .booking-option-details-toggler {
      position: absolute;
      right: 20px;
      top: 0;

      a.toggler-link {
        position: relative;
        text-decoration: underline;

        .fa {
          position: absolute;
          top: 1px
        }
      }
    }
  }

  .booking-option-action {
    display: inline-block;

    .booking-option-period {
      margin-left: 12px;
      margin-top: 6px;
    }
  }

  .interval-selector {
    margin-left: 12px;
    margin-right: 12px;
  }

  .interval-explanation {
    margin-bottom: 12px;
  }

  .time-interval {
    display: inline-block;
    width: 150px;
    padding: 12px;
    margin: 0 12px 12px 0;
    background-color: $gray5;
    border: 1px solid $gray6;
    color: $black;
  }

  textarea {
    width: 100%;
  }

  ul.special-date-label {
    background: none !important;
  }

  .booking-times-label {
    margin-bottom: 12px;
  }

  .booking-times-examples {
    max-width: 360px;
  }
}

.booking-page-modal {
  .label-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 12px 0 6px 0;
  }

  input, textarea {
    width: 100%;
    background-color: $gray3;
    color: $gray8;
    border-color: $gray;
  }

  label {
    font-weight: bold;
    color: $black;
  }
}
