.booking-page-settings {
  .booking-option-field {
    border: 1px solid $gray;
    border-radius: 6px;
    display: inline-block;
    width: 320px;

    .booking-option-info {
      padding: 10px 10px 6px 10px;

      .booking-option-name {
        font-size: 18px;
        color: $black;
        margin-bottom: 3px;
      }
    }

    .booking-option-row {
      border-top: 1px solid $gray;
      padding: 6px 10px 6px 10px;
      position: relative;
      white-space: pre-wrap;
    }

    .booking-option-details-toggler {
      position: absolute;
      right: 20px;
      top: 0;

      a.toggler-link {
        position: relative;
        text-decoration: underline;

        .fa {
          position: absolute;
          top: 1px
        }
      }
    }
  }

  .booking-option-action {
    display: inline-block;

    .booking-option-period {
      margin-left: 12px;
      margin-top: 6px;
    }
  }

  .interval-selector {
    margin-left: 12px;
    margin-right: 12px;
  }

  .interval-explanation {
    margin-bottom: 12px;
  }

  .time-interval {
    display: inline-block;
    width: 150px;
    padding: 12px;
    margin: 12px 12px 12px 0;
    background-color: $gray5;
    border: 1px solid $gray6;
    color: $black;
  }
}
