@import "dashboard";
@import "manager_settings";
@import "manager_settings_bushours";
@import "manager_settings_contacts";
@import "manager_settings_index";
@import "manager_settings_resframe";
@import "manager_settings_shopinfo";
@import "manager_settings_steps";
@import "menu_tweak";
@import "payments";
@import "plans";
@import "settings";
@import "shop_tweak";
@import "staff_tweak";
@import "booking_option";
