@charset "UTF-8";
/* CSS Document */
#content {
  width: 100%;
  padding-left: 250px;
}
#sideNav {
  background: #9e9e9e;
  width: 250px;
  border-right: 1px solid #858585;
  height: 100%;
  position: fixed;
}
#sideNav dl a, #sideNav dl a:link, #sideNav dl a:visited {
  display: block;
  color: #E8E8E8;
  padding: 20px;
  width: 100%;
}
#sideNav dl > a, #sideNav dl > a:link, #sideNav dl > a:visited { background-color: #9e9e9e; }
#sideNav dl dt, #sideNav dl dd ul li a, #sideNav dl dd ul { border-bottom: 1px solid #858585; }
#sideNav dl dd ul { background-color: #aaa; }
#sideNav dl dd ul a, #sideNav dl dd ul a:link, #sideNav dl dd ul a:visited { color: #ddd; }
#sideNav dl dd ul li:last-child a { border: 0px; }
#sideNav dl dd ul li { padding-left: 20px; }
#sideNav dl a:hover { color: #d5d5d5; }
#sideNav dl dt.here a, #sideNav dl dd ul li.here, #sideNav dl dd ul li.here a {
  color: #fff;
  font-weight: bold;
  position: relative;
}
#sideNav dl dt a {
}
#sideNav dl dt a span:before {
  font-family: "FontAwesome";
  font-size: 30px;
  margin-right: 5px;
}
#sideNav dl.menu dt a span:before { content: "\f02c"; }
#sideNav dl.staff dt a span:before { content: "\f27e"; }
#sideNav dl.contacts dt a span:before { content: "\f2ba"; }
#sideNav dl.googleSync dt a span:before { content: "\f1a0"; }
#sideNav dl.apps dt a span:before { content: "\f10b"; }
#sideNav dl.publish dt a { background-image: url(asset-path("screen/settingnav_publish.png")); }
#sideNav dl.share dt a { background-image: url(asset-path("screen/settingnav_share.png")); }
#sideNav dl.account dt a span:before, #sideNav dl.settings dt a span:before { content: "\f0ad"; }
#sideNav dl.logout dt a span:before { content: "\f011"; }
#sideNav dl.shopSelect dt {
  text-align: center;
  padding: 20px;
}
#sideNav dl.shopSelect dt select {
  background-color: #e8e8e8;
  width: 100%;
}
#content #subNav {
  background: #d0d0d0;
  border-bottom: 1px solid #858585;
  padding: 10px 20px;
}
#content #subNav h2 {
  line-height: 35px;
  text-align: center;
  margin: 0;
}
#content #subNav .btns { position: absolute; right: 20px; top: 10px; }
#content #subNav a {
  height: 35px;
  line-height: 35px;
}
#content #about {
  margin: 20px;
  border-bottom: 1px solid #aaa;
  color: #888;
  padding: 0 15px 20px 15px;
}
#content #about p { line-height: 1.4; }
#content #about .function { float: right; }
#content #about .function li {
  display: inline-block;
  margin-left: 10px;
}
#settingForm {
  margin: 20px;
  padding: 0 20px;
  color: #8F8F8F;
}
#content #settingForm h3 {
  font-size: 16px;
  margin: 20px 0 10px 0;
  text-indent: 10px;
}
#content .formRow dl, #content .formRow ul { 
  border-width: 0;
  border-style: solid;
  border-color: #DFDFDF;
  background: #fff;
  padding: 10px 20px;
}
#content .formRow ul.tableTTL {
  background: #e6e6e6;
  border-bottom-width: 1px;
  font-size: 14px;
}
#content .formRow dl:nth-child(even) { background-color: #f9f9f9; }
#content .formRow .formTTL dd {
  width: 100%;
  text-align: right;
}
#content .formRow {
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  border: 1px solid #DFDFDF;
  overflow: hidden;
}
#content #settingForm .formRow ul li { float: left; }
#content #settingForm ul li, #content #settingForm dl dt, #content #settingForm dl dd {
  display: table-cell;
  vertical-align: middle;
}
#content #settingForm .checkbox dd, #content #settingForm .termsCheck dd { display: inherit; }
#content #settingForm dl dt strong, #content #settingForm h3 strong {
  color: #fff;
  background: #CF0003;
  display: inline-block;
  font-size: 10px;
  padding: 3px 5px;
  margin-left: 10px;
  border-radius: 5px; /* 記述無し */
  -moz-border-radius: 5px; /* Firefox */
  -webkit-border-radius: 5px; /* Google Chrome、Safari */
  -o-border-radius: 5px; /* Opera */
  -ms-border-radius: 5px; /* Internet Explorer */
  text-indent: 0;
}
#content #settingForm dl dt strong {
  position: absolute;
  right: 20px;
}
#content #settingForm dl dd .note {
  font-size: 85%;
  color: #999;
}
#content #settingForm dl dd input {
  color: #333;
  line-height: 15px;
}
#content .formRow .del, #content #menuList .staff { text-align: center; }
#content .formRow .updateTime {
  width: 100px;
  min-width: 100px;
  font-size: 90%;
}
#content #settingForm #google #autoLinkedTo dd { line-height: 2.5em; }
#content #settingForm dl dt p, #content #settingForm dl dd input {
  padding: 10px;
}
#content #settingForm dl dt {
  position: relative;
  white-space: nowrap;
}
#content .rowTTL, #content #settingForm ul li, #content #settingForm dl dt, #content #settingForm dl dd, #content .tableTTL .check { padding-right: 10px; }
#content .formRow dl dt:last-child, #content .formRow dl dd:last-child, #content #settingForm dl dd.function, #content .formRow ul li:last-child { padding-right: 0; }
#content .formRow dl dd.option {
  width: 100%;
  text-align: right;
}
#content .formRow .formTTL {
  line-height: 37px;
  background: #efefef;
}
#content .formRow .formTTL:not(:first-child) { border-top: 1px solid #DFDFDF; }
#content .formRow > div { border-bottom: 1px solid #efefef; }
#content .formRow > div:last-child { border-bottom-width: 0; }
#content .formRow .formTTL dt { font-weight: bold; }
#content #staffInfo .familyName { padding-right: 10px; }
#content #working a.editWorktime, #content #working a.editWorktime:link, #content #working a.editWorktime:visited {
  height: 30px;
  line-height: 30px;
  float: right;
  margin-left: 10px;
}
#content #working .partTime {
  border: none;
}
#content #working .partTime ul {
  border: none;
  padding: 10px 0;
}
#content #working .partTime ul .tableTTL, #content #working .partTime ul .time { width: 100px; }
#content #working .partTime ul .tableTTL { font-weight: bold; }
#content #working .partTime ul .time { text-align: center; }
#content #calendarList .rowTTL, #content #calendarList .toruyaCal { width: 200px; }
#content #menuList .rowTTL, .firstSetting #content #companyInfo dt { width: 160px; }
#content #parttime .rowTTL, #content #parttime dl dt, #content #staffInfo .familyName, #content #staffInfo .firstName, #content #staffInfo .firstName, #content #frameInfo dt, .contents #content #adminInfo dt, #content #staffInfo dt { width: 90px; }
#content .formRow .check, #content #frameDetail dt { width: 60px; }
#content #staffAccountSetting dl dt { width: 150px; }
#content #paymentSetting dl dt, #content #accountSetting dl dt { width: 150px; }
.contents #content #companyInfo dt, .contents #content #companyInfoEdit dt { width: 210px; }
#content .formRow .onoffSetting dt {
  width: 100%;
  margin: 0;
  padding: 0;
  font-weight: normal;
}
#content #staffAccount.formRow dl:not(.onoffSetting) dt { width: 118px; }
#content #menuInfo dl dt, #content #calendarInfo dt, #content #google dt { width: 100px; }
#content #prices .rankPrice input, #content #settingForm input[type="number"] { margin-right: 10px; }
#content #staffInfo .familyName, .firstSetting #content #adminInfo .familyName { padding-right: 10px; }
#content .formRow .del, #content #menuList .staff { width: 60px; }
#content .formRow ul .quantity { width: 86px; }
#content .formRow ul .inOut, #content .formRow ul .inOut { width: 94px; }
#content .formRow ul .check { width: 97px; }
#content .formRow ul .startTime, #content .formRow ul .endsTime { min-width: 75px; max-width: 100px; }
#content #settingForm .formRow .date a { margin-left: 3px; }
#content #settingForm dl dd.startTime input { width: 64px; }
#content .formRow#menuInfo dl dt, #content .formRow#contactsInfo dt, #content .formRow#rankeInfo dt { width: 122px; }
.setting #about .function a.addNew {
  min-width: 130px;
  padding: 0 10px;
}
#content #settingForm .function { width: 140px; }
#content #settingForm #googleSync .function { width: 210px; }
#content .formRow#resHow dl dt, #content #priceInfo dt, #content .formRow ul .customerPrice { width: 148px; }
#content .formRow .capableMenuAmount, #content .formRow .googleGroups { width: 160px; }
#content .formRow ul .date, #content #menuList .blocks { min-width: 146px; max-width: 174px; }
#content .formRow ul .closeReason, #content .formRow#doMenu .menu, #content .formRow#prices .customerTTL, #content .formRow ul .menu { width: 197px; }
#content .workingTime ul .rowTTL { width: 118px; }
#content .formRow#menuList .rowTTL, #content .formRow#priceMenu .rowTTL, #content .formRow#contactList .rowTTL { width: 200px; }
#content .formRow#staffList .rowTTL, #content .formRow#staffList dt, #content .formRow#priceList .rowTTL, #content .formRow#rankList .rowTTL { width : 300px ; }
#content .formRow#busHour .openTime, #content .formRow#busHour .closeTime, #content .formRow#parttime .startTime, #content .formRow#parttime .endsTime {
  width: 150px;
  padding: 0 5px;
}
#content .formRow .function a { margin-right: 5px; }
#content .formRow .function a:last-child { margin-right: 0; }
#content .formRow .function a, #content .tableTTL .check a, #content .formRow a, #content #settingForm h3.menuCategory a.addNew, #content #settingForm .resFrame a {
  line-height: 35px;
  height: 35px;
}
#content .formRow .function a { width: 65px; }
#content .formRow .syncContacts a, #content #syncContactsNew a { padding: 0 10px; }
#content .formRow .function a.calendar { width: 39px; }
#content .formRow .del a { width: 50px; }
#content .formRow#resFrame .function a, #content .formRow#category .function a { width: 97px; }
#content .formRow#shopSelect .checkbox label input { margin-left: 10px; }
#content .formRow .menuEnds ul, #content #frameDetail dd ul {
  padding: 0;
  border: none;
}
#content .formRow .menuEnds ul li, #content #frameDetail dd ul li input { padding: 0 5px; }
#content #frameDetail dd ul li {
  display: block;
  line-height: 2.5em;
}
#content #settingForm h3.menuCategory {
  position: relative;
  padding: 5px 0 10px 0;
}
#content #settingForm h3.menuCategory a.addNew {
  position: absolute;
  right: 0;
  top: 0;
}
#content #settingForm #category dl dd ul {
  border: none;
  padding-left: 0;
}
#content #settingForm #category dl dd ul li {
  width: 30%;
  padding-right: 10px;
}
#content #companyInfo.formRow dl { line-height: 35px; }
#content .formRow .check { text-align: center; }
#content .formRow input[type="number"] { width: 50px; }
#content .formRow .closeReason input[type="text"] { width: 100%; }
#content .formRow .menuLength input[type="number"] { width: 100px; }
#content .formRow .customerPrice input[type="number"] { width: 110px; }
#content #settingForm input[type="date"], #content #settingForm input[type="time"] {
  border: 1px solid #dfdfdf;
  background-color: #fffef5;
}
#content #footerav a, #content #footerav a:link, #content #footerav a:visited, #content #footerav input[type="submit"] {
  min-width: 100px;
  padding: 0 10px;
}
#content #settingForm #footerav, .window ul.windowFooter {
  text-align: center;
  padding: 20px 0;
  margin: 0 auto;
}
#content #settingForm #footerav li, #content #settingForm .window ul.windowFooter li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}
/* all */
#content .formRow input[type="text"]:disabled, #content #settingForm input[type="date"]:disabled, #content #settingForm input[type="time"]:disabled { background-color: transparent; }
/*clear all*/
#content #settingForm ul:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; 
}
