.setting.menus-container {
  label ~ .minStaff {
    margin-left: 10px;
  }
}

#new_menu {
  .formRow {
    .staff-name {
      min-width: 120px;
    }

    .match {
      width: 92px;
    }
  }
}

dl.body.menu-staff-option {
  border-width: 0;
  border-style: solid;
  border-color: #DFDFDF;
  background: #fff;
  padding: 10px 20px;

  dt,
  dd {
    display: table-cell;
    padding-right: 10px;

    input[type="number"] {
      width: 50px;
      margin-right: 10px;
    }
  }
}
