#upgradeModal {
  div.modal-footer > div {
    display: inline-block
  }
}

#settingForm {
  .logo-area {
    div {
      margin: 16px 0;
    }

    .explanation-about-logo {
      font-size: 85%;
      padding-left: 20px;
    }

    .explanation-about-image {
      font-size: 85%;
    }

    .logo {
      width: 130px;
      height: auto;
      max-height: 45px;
    }
  }
}
