<%= render "admin/features" %>

<h1>Scenarios</h1>
<ul>
  <% CustomMessages::Users::Template::SCENARIOS.each do |scenario| %>
    <li><%= link_to scenario, scenario_admin_custom_messages_path(scenario) %></li>
  <% end %>
</ul>
