.filter #resList {
  a {
    display: block;
    padding: 5px 0;
    color: #444444;
  }

  dl {
    height: 45px;

    .date {
      width: 70px;
    }
  }

  .customer {
    width: 40%;
  }

  .shop {
    width: 13%;
  }
}

.empty-content {
  text-align: center;
  padding-top: 150px;
  padding-bottom: 150px;
  font-size: 24px;
  font-weight: bold;
}

#manager.customer {
  .checking-search-bar {
    margin-top: 150px;
  }
}
