<% if single_shop_owner %>
  <dd>
    <%= active_link_to user_customers_path(super_user), active: /^\/users\/\d+\/customer/, class_active: "here" do %>
      <i class="fa fa-users fa-4x" aria-hidden="true"></i>
      顧客台帳
    <% end %>
  </dd>
<% else %>
  <dd class="dropdown">
    <%= active_link_to user_customers_path(super_user),
      active: /^\/users\/\d+\/customer/,
      class_active: "here",
      data: { toggle: "dropdown", target: "#" } do %>
      <i class="fa fa-users fa-4x" aria-hidden="true"></i>
      顧客台帳
    <% end %>

    <ul class="dropdown-menu dropdown-menu-right">
      <li>
        <%= link_to t("dashboard.someone_shop", name: current_user.name), user_customers_path(current_user) %>
      </li>
      <% if working_shop_owners.present? %>
        <li class="divider"></li>
      <% end %>

      <% working_shop_owners.each do |owner| %>
        <li>
          <%= link_to t("dashboard.someone_shop", name: owner.name), user_customers_path(owner) %>
        </li>
      <% end %>
    </ul>
  </dd>
<% end %>
