<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 px-0">
      <%= react_component("user_bot/settings/business_schedules/edit", {
        props: {
          business_schedule: BusinessScheduleSerializer.new(@business_schedule).attributes_hash,
        }
      },
      { camelize_props: false }
                         ) %>
    </div>

    <div class="col-sm-6 px-0"></div>
  </div>
</div>
