<div class="modal fade" id="schedule-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title">
          <%= I18n.t("user_bot.dashboards.reservation.schedule_modal_title") %>
        </h4>
      </div>
      <div class="modal-body">
        <div class="edit-worktime">
          <% if working_shop_options(shops: my_calendar ? Current.user.social_user.shops : Current.business_owner.shops).present? %>
            <a href="#" data-toggle="modal" data-target="#new-reservations-modal" class="btn btn-yellow btn-tweak btn-big">
              <%= I18n.t("action.new_reservation") %>
            </a>
          <% end %>

          <% if my_calendar || Current.social_user.single_owner? %>
            <a href="#" data-toggle="modal" data-target="#off-date-modal" class="btn btn-yellow btn-tweak btn-big">
              <%= I18n.t("action.new_off_schedule") %>
            </a>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
