<div id="login">
  <h2><%= t("devise.registrations.signup_title") %></h2>

  <main id="socialLogin">
    <p>Toruyaのご利用にはGoogleアカウントが必要です。既にお持ちのGoogleアカウントを使うことで、より安全にToruyaをご利用いただけます。</p>

    <p>
      <%= button_to user_google_oauth2_omniauth_authorize_path, id: "SLgoogle", class: "BTNorange", title: "Googleで登録" do %>
        <i class="fa fa-google" aria-hidden="true"></i>Googleで登録
      <% end %>
    </p>
  </main>
  <aside id="signup">
    <p>登録ユーザーさんは<%= link_to "ログイン", new_user_session_path %>してください。</p>
  </aside>
</div>
