<div id="login">
  <h2><%= t("devise.registrations.signup_title") %></h2>

  <main id="socialLogin">
    <p>Toruyaのご利用にはLineアカウントが必要です。既にお持ちのLineアカウントを使うことで、より安全にToruyaをご利用いただけます。</p>

    <a href=<%= "https://line.me/R/ti/p/@#{Rails.application.secrets.toruya_user_bot_basic_id}" %> class="btn line-button with-wording only-word">
      <%= I18n.t("common.line_login_btn_word") %>
    </a>
  </main>
  <aside id="signup">
    <p>登録ユーザーさんは<%= link_to "ログイン", new_user_session_path %>してください。</p>
  </aside>
</div>
