<div class="centerize action-block">
  <%= link_to data_by_locale(:line_developer_url), class: "btn btn-tarco", target: "_blank", data: { confirm: t("user_bot.dashboards.settings.dashboard.line_page_warning") } do %>
    <i class="fa fa-share-square"></i>
      <span><%= I18n.t("user_bot.dashboards.settings.social_account.line_developer") %></span>
  <% end %>
</div>