<%= jump_out_modal(change_verified_line_settings_lines_user_bot_warnings_path(business_owner_id: business_owner_id), static: true) if Current.business_owner.social_account&.line_settings_verified? %>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 px-0 settings-view">
      <%= react_component("user_bot/settings/social_accounts/edit", {
        props: {
          business_owner_id: business_owner_id,
          social_account: @social_account.attributes.merge!(
            channel_secret: @social_account.raw_channel_secret,
            channel_token: @social_account.raw_channel_token,
            login_channel_secret: @social_account.raw_login_channel_secret
          ),
          attribute: @attribute,
          image_path: image_rescue { asset_pack_path("media/assets/management/line_#{@attribute}.png") },
          previous_path: @previous_path,
          support_feature_flags: support_feature_flags,
          i18n: {
          }.merge!([
            t("settings.social_account.form"),
            t("action").slice(:save),
            {
              title: t("settings.social_account.form.#{@attribute}_title"),
              hint: translation_resuce { I18n.t("settings.social_account.form.#{@attribute}_hint", raise: true) },
            }
          ].inject(:merge))
        }
      },
      { camelize_props: false }
                         ) %>
    </div>

    <div class="col-sm-6 px-0 hidden-xs preview-view"></div>
  </div>
</div>
