$fa-font-path: '~@fortawesome/fontawesome-free/webfonts'; 
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';
@import "../stylesheets/variables";
@import "../stylesheets/breakpoint";
@import "../stylesheets/booking/bootstraps";
@import "../stylesheets/calendar";
@import "../stylesheets/buttons";
@import "../stylesheets/booking_option";
@import "../stylesheets/booking/index";
@import "react-slidedown/lib/slidedown.css";
