@import url('https://fonts.googleapis.com/css?family=Tillana');
@import "~font-awesome/scss/font-awesome";
@import "../stylesheets/bootstrap/index";
@import "../stylesheets/dashboard_dropdown";
@import "../stylesheets/variables";
@import "../stylesheets/buttons";
@import "../stylesheets/customers/index";
@import "../stylesheets/dashboard/index";
@import "../stylesheets/manager/index";
@import "../stylesheets/reservations/index";
@import "../stylesheets/settings/index";
@import "../stylesheets/search/index";
@import "../stylesheets/tweak";
@import "../stylesheets/day_picker";
@import "../stylesheets/site";
@import "../stylesheets/calendar";
