@import url('https://fonts.googleapis.com/css?family=Tillana');
$fa-font-path: '~@fortawesome/fontawesome-free/webfonts'; 
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';
@import 'react-phone-input-2/lib/style.css';
@import "~css-toggle-switch/src/toggle-switch";
@import "../stylesheets/bootstrap/index";
@import "../stylesheets/dashboard_dropdown";
@import "../stylesheets/variables";
@import "../stylesheets/buttons";
@import "../stylesheets/customers/index";
@import "../stylesheets/dashboard/index";
@import "../stylesheets/manager/index";
@import "../stylesheets/reservations/index";
@import "../stylesheets/settings/index";
@import "../stylesheets/search/index";
@import "../stylesheets/tweak";
@import "../stylesheets/day_picker";
@import "../stylesheets/site";
@import "../stylesheets/calendar";
@import "../stylesheets/booking_option";
@import "../stylesheets/chats";
@import "../stylesheets/global_site";
@import "../stylesheets/user_bot/utils";
