$fa-font-path: '~@fortawesome/fontawesome-free/webfonts'; 
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';
@import "../stylesheets/variables";
@import "../stylesheets/breakpoint";
@import "../stylesheets/buttons";
@import "../stylesheets/user_bot/index";
