$fa-font-path: '~@fortawesome/fontawesome-free/webfonts'; 
@import 'reactjs-popup/dist/index.css';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';
@import "../stylesheets/variables";
@import "../stylesheets/breakpoint";
@import "../stylesheets/file_uploader";
@import "../stylesheets/buttons";
@import "../stylesheets/calendar";
@import "../stylesheets/day_picker";
@import "../stylesheets/user_bot/bootstraps";
@import "../stylesheets/user_bot/index";
@import "../stylesheets/sale_page";
@import "../stylesheets/online_service_page";
@import "../stylesheets/global_site";
