/* CSS Document */

.sidel .staffDashboard div { padding-top: 10px; }
.sidel .staffDashboard a {
  font-weight: normal;
  font-size: 16px;
  width: 100%;
    padding: 10px;
    line-height: 19px;
  height: inherit;
  margin-top: 5px;
}
.sidel .staffDashboard a i {
  font-size: 21px;
  float: left;
}
