/* CSS Document */

#resList .status-list {
  text-align: center;
  position: fixed;
  line-height: 14px;
}
#resList .status-list .reservation-state {
  width: 14px;
  height: 14px;
}
#resList div.status-list>div {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 3px;
}
