"use strict";

import React from "react";
import SubscriptionModal from "./subscription_modal";

class Plans extends React.Component {
  constructor(props) {
    super(props);

    this.freePlan = this.props.plans["free"];
    this.basicPlan = this.props.plans["basic"];
    this.premiumPlan = this.props.plans["premium"];

    this.state = {
      subscriptionPlanLevel: null,
      selectedPlan: null
    }
  };

  isCurrentPlan = (planLevel) => {
    return this.props.currentPlanLevel === planLevel;
  };

  isSelectedPlan = (planLevel) => {
    return this.state.selectedPlan === planLevel;
  };

  onDataChange = (event) => {
    let stateName = event.target.dataset.name;
    let stateValue = event.target.dataset.value || event.target.value;

    this.setState({[stateName]: stateValue})
  };

  onSubscribe = (event) => {
    event.preventDefault();

    this.setState({subscriptionPlanLevel: event.target.dataset.planLevel}, () => {
      $("#subscription-modal").modal("show");
    })
  };

  render() {
    return (
      <div>
        <table className="plans">
          <thead>
            <tr>
              <th className="invisible"></th>
              <th className={`free ${this.isCurrentPlan("free") && "current"} plan-column ${this.isCurrentPlan("free") && "current"}`}>
                {this.freePlan.details.title}
              </th>
              <th className={`basic ${this.isCurrentPlan("basic") && "current"} plan-column ${this.isCurrentPlan("basic") && "current"}`}>
                {this.basicPlan.details.title}
              </th>
              <th className={`premium ${this.isCurrentPlan("premium") && "current"}`}>
                {this.premiumPlan.details.title}
              </th>
            </tr>
            <tr className="price-row">
              <th className="invisible"></th>
              <td className={`${this.isSelectedPlan("free") && "selected-plan"}`}>
                <label>
                  <div className="price-amount">無料</div>
                  <div className={`plan-column ${this.isCurrentPlan("free") && "current"}`}>
                    <i className="fa fa-check-circle" aria-hidden="true" />
                    {this.props.i18n.currentPlan}
                  </div>
                  <input
                    type="radio"
                    className={`select-plan ${this.isCurrentPlan("free") && "current-plan"}`}
                    data-name="selectedPlan"
                    data-value="free"
                    checked={this.state.selectedPlan === "free"}
                    onChange={this.onDataChange}
                    disabled={this.isCurrentPlan("free")}
                    />
                </label>
              </td>
              <td className={`${this.isSelectedPlan("basic") && "selected-plan"}`}>
                <label>
                  <div>月額</div>
                  <div className="price-amount">{this.basicPlan.costFormat}</div>
                  <div className={`plan-column ${this.isCurrentPlan("basic") && "current"}`}>
                    <i className="fa fa-check-circle" aria-hidden="true" />
                    <span>{this.props.i18n.currentPlan}</span>
                  </div>
                  <input
                    type="radio"
                    className={`select-plan ${this.isCurrentPlan("basic") && "current-plan"}`}
                    data-name="selectedPlan"
                    data-value="basic"
                    checked={this.state.selectedPlan === "basic"}
                    onChange={this.onDataChange}
                    disabled={this.isCurrentPlan("basic")}
                    />
                </label>
              </td>
              <td className={`${this.isSelectedPlan("premium") && "selected-plan"}`}>
                <label>
                  <div>月額</div>
                  <div className="price-amount">{this.premiumPlan.costFormat}</div>
                  <div className={`plan-column ${this.isCurrentPlan("premium") && "current"}`}>
                    <i className="fa fa-check-circle" aria-hidden="true" />
                    <span>{this.props.i18n.currentPlan}</span>
                  </div>
                  <input
                    type="radio"
                    className={`select-plan ${this.isCurrentPlan("premium") && "current-plan"}`}
                    data-name="selectedPlan"
                    data-value="premium"
                    checked={this.state.selectedPlan === "premium"}
                    disabled={this.isCurrentPlan("premium")}
                    onChange={this.onDataChange}
                    />
                </label>
              </td>
            </tr>
          </thead>
          <tbody>
            {
              [
                "shop_can_set",
                "staff_in_charge",,
                "max_customer_per_reservation",
                "reservation_restriction",
                "private_schedule",
                "customer_info",
                "customer_group_limit",
                "customer_filter",
                "print_address",
                "add_staff"
              ].map((labelName) => {
                return (
                  <tr key={labelName}>
                    <th>{this.props.planLabels[labelName]}</th>
                    <td className={`${this.isSelectedPlan("free") && "selected-plan"}`}>
                      {this.freePlan.details[labelName]}
                    </td>
                    <td className={`${this.isSelectedPlan("basic") && "selected-plan"}`}>
                      {this.basicPlan.details[labelName]}
                    </td>
                    <td className={`${this.isSelectedPlan("premium") && "selected-plan"}`}>
                    {this.premiumPlan.details[labelName]}
                    </td>
                  </tr>
                )
              })
            }
            <tr>
              <th>
              </th>
              <td>
                {
                  this.props.currentPlanLevel !== "free" && (
                    <button
                      className="btn btn-orange"
                      rel="nofollow"
                      data-plan-level="free"
                      onClick={this.onSubscribe}
                      >
                      Downgrade
                    </button>
                  )
                }
              </td>
              <td>
                {
                  this.props.currentPlanLevel !== "basic" && (
                    <div>
                      <button
                        className="btn btn-orange"
                        rel="nofollow"
                        data-plan-level="basic"
                        onClick={this.onSubscribe}
                        >
                        Subscribe
                      </button>
                      <div>
                        {this.props.isFirstTimeSubscribe && "We accept refund within 8 days"}
                      </div>
                    </div>
                  )
                }
              </td>
              <td>
                {
                  this.props.currentPlanLevel !== "premium" && (
                    <div>
                      <button
                        className="btn btn-orange"
                        rel="nofollow"
                        data-plan-level="premium"
                        onClick={this.onSubscribe}
                        >
                        Subscribe
                      </button>
                      <div>
                        {this.props.isFirstTimeSubscribe && "We accept refund within 8 days"}
                      </div>
                    </div>
                  )
                }
              </td>
            </tr>
          </tbody>
        </table>
        {
          this.state.subscriptionPlanLevel && (
            <SubscriptionModal
              {...this.props}
              subscriptionPlanLevel={this.state.subscriptionPlanLevel}
              />
          )
        }
      </div>
    )
  }
};

export default Plans;
