<div class="booking-pages form with-top-bar">
  <%= render "lines/user_bot/top_navigation_bar", title: I18n.t("user_bot.dashboards.notifications.title") %>

  <% @user_notifications.each do |user_notifications| %>
    <%= render "lines/user_bot/notifications/informations",
      messages: user_notifications[:messages],
      reservations: user_notifications[:reservations],
      missing_sale_page_services: user_notifications[:missing_sale_page_services],
      pending_customer_services: user_notifications[:pending_customer_services]
    %>
  <% end %>
</div>
