/* CSS Document */
/* Reservation */
#resNew #resInfo {
  color: #8F8F8F;
  padding-right: 20px;
}
#resNew #resInfo .formRow, #resNew #customerList dl { border-bottom: 1px solid #b3b3b3; }
#resNew #resInfo .formRow, #resNew #customerList dl:hover {
  opacity: 0.7;
  cursor: pointer;
}
#resNew #resInfo .formRow {
  display: table;
    width: 100%;
  margin-bottom: 10px;
}
#resNew #resInfo .formRow .form {
  padding-bottom: 10px;
  display: table-row;
  height: 54px;
}
#resNew #resInfo .formRow .form dt, #resNew #resInfo .formRow .form dd { display: table-cell; }
#resNew #resInfo #resDate dt, #resNew #resInfo #resMemo dt { width: 50px; }
#resNew #resInfo #resCalMenu dt { width: 80px; }
#resNew #resInfo .busHours {
  display: inline-block;
  margin: 0 5px;
  width: 240px;
  text-align: center;
  padding: 0;
}
#resNew #resInfo .busHours div {
  line-height: 35px;
  display: inline-block;
}
#resNew #resInfo .errors span {
  padding-left: 5px;
  padding-right: 5px;
}
#resNew #resInfo .errors .danger { color: #CF0003; }
#resNew #resInfo .errors .warning { color: #e6a21f; }
#resNew #resInfo .errors .danger:before, #resNew #resInfo .errors .warning:before {
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  padding-right: 3px;
}
#resNew #resInfo .errors .danger:before { content: "\f06a"; }
#resNew #resInfo .errors .warning:before { content: "\f058"; }
#resNew #resInfo .field-warning { border: 2px solid #e6a21f; }
#resNew #resInfo .field-error { border: 2px solid #CF0003; }
#resNew #resInfo #resMemo, #resNew #customerList dl:last-child, #resNew #customerList dl a, #resNew #customerList dl a:link, #resNew #customerList dl a:visited { border-bottom: none; }
#resNew #resInfo #resMemo .input {
  height:100px;
}
#resNew #resInfo #resMemo .input textarea {
  font-size: 100%;
  padding: 5px;
}
#resNew #resInfo #resDateTime #resDate dd #start_time_date_part, #resNew #resInfo #resDateTime #resDate dd span, #resNew #resInfo #resDateTime #resDate dd a:link { display: inline-block; }
#resNew #customers h2 #addCustomer {
  float: right;
  height: 35px;
  line-height: 35px;
  padding: 0 10px;
}
input {
    padding: 8px;
    background-color: #fffef5;
}
#resNew #customers { min-width: 290px; }
#resNew #customers ul { margin-right: 0; }
#resNew #customerList dl > a, #resNew #customerList dl dt, #resNew #customerList dl dd { display: inline-block; }
#resNew #customerList dl dt, #resNew #customerList dl dd { vertical-align: middle; }
#resNew #customerList dl dt { width: 180px; }
#resNew #customerList dl dd:last-child {
  float: right;
  padding: 4px 0 0 0;
}
#resNew #customerList dl dd:last-child span {
  width: 35px;
  height: 35px;
  line-height: 35px;
  font-size: 21px;
}
#resNew #customerList dl dd a, #resNew #customerList dl dd a:link, #resNew #customerList dl dd a:visited {
  background-image: url(asset-path("screen/btn_delete_ss.png"));
  background-position: center center;
  background-repeat: no-repeat;
  width: 10px;
  height: 10px;
  text-indent: -9999px;
  overflow: hidden;
  padding: 10px;
  line-height: 17px;
  text-align: left;
}
.resNew footer #leftFunctions { float: left; }
.resNew .checkbox {
  display: inherit;
  line-height: 50px;
}
.resNew .checkbox input[type="checkbox"] + label:before {
  font-family: "FontAwesome";
  content: "\f096";
  margin-right: 8px;
  font-size: 120%;
  color: #666;
}
.resNew .checkbox input[type="checkbox"]:checked + label:before {
  content: "\f046";
  margin-right: 5px;
  color: #ca4e0e;
}
.resNew .checkbox.disabled { opacity: .7; }
.resNew footer #BTNfunctions { float: right; }
.resNew footer #BTNfunctions li a, .resNew footer #BTNfunctions li a:link, .resNew footer #BTNfunctions li a:visited,
.resNew footer #BTNfunctions li button {
  width: inherit;
  padding: 0 10px;
}
