#dashboard {
  #resList {
    .tableTTL {
      // reservation header menu column
      .menu {
        margin-left: 44px;
      }
    }
  }
}

#working-date-modal, .off-date-modal {
  .datetime-field {
    a.reservationCalendar {
      display: inline-block !important; 
      padding: 0 !important;
      color: white !important;
    }

    .date {
      text-align: left !important;
      width: initial !important;
    }
  }

  #addWorkDay {
    display: table;
    margin: 30px auto;

    .shops-list {
      margin-top: 12px;
    }
  }

  #addWorkDay dt, #addWorkDay dd {
    display: table-cell;
  }

  #addWorkDay dt input[type="date"] {
    width: 120px;
  }

  #addWorkDay dd input[type="time"] {
    width: 150px;
  }

  #addWorkDay dd.timeTo {
    padding: 0 5px;
  }

  #addWorkDay dt a {
    margin: 0 10px 0 5px;
  }

  .closeReason {
    margin-top: 12px;

    input {
      width: 100%;
    }
  }

  .modal-footer {
    text-align: center;
    margin-left: auto;
    margin-right: auto;

    .btn {
      width: 120px;
      display: inline-block;
    }
  }
}

#resNew {
  .staff-input-area {
    display: inline-block;
  }
}

#new-reservations-modal {
  .shops-list {
    .shop-cell {
      margin: 12px 0;
    }
  }
}
