#dashboard {
  #resList {
    .tableTTL {
      // reservation header menu column
      .menu {
        margin-left: 44px;
      }
    }
  }
}

#working-date-modal, .off-date-modal {
  .datetime-field {
    a.reservationCalendar {
      display: inline-block !important; 
      padding: 0 !important;
      color: white !important;
    }

    .date {
      text-align: left !important;
      width: initial !important;
    }
  }

  #addWorkDay {
    display: table;
    margin: 30px auto;

    .shops-list {
      margin-top: 12px;
    }
  }

  #addWorkDay dt, #addWorkDay dd {
    display: table-cell;
  }

  #addWorkDay dd input[type="time"] {
    width: 150px;
  }

  #addWorkDay dd.timeTo {
    padding: 0 5px;
  }

  #addWorkDay dt a {
    margin: 0 10px 0 5px;
  }

  .closeReason {
    margin-top: 12px;

    input {
      width: 100%;
    }
  }

  .modal-footer {
    text-align: center;
    margin-left: auto;
    margin-right: auto;

    .btn {
      width: 120px;
      display: inline-block;
    }
  }
}

#resNew {
  .staff-input-area {
    display: inline-block;
  }
}

#new-reservations-modal {
  .shops-list {
    .shop-cell {
      margin: 12px 0;
    }
  }
}

// overwrite manager_reservation.scss#L8
#resNew #resInfo .formRow {
  opacity: unset !important;
}

.toruya-modal {
  .modal-footer {
    dl dd {
      line-height: 22px;
      padding-right: 5px;
      padding-left: 5px;
      vertical-align: middle;
      display: inline-block;
    }
  }
}

// New menus design
#resNew {
  #resInfo {
    .res-menus {
      dt {
        width: 50px;
      }

      .menu-options-actions {
        text-align: right;
      }
    }
  }
}
