<h3>
  <%= link_to "Scenarios", scenarios_admin_custom_messages_path(locale: "ja") %>
  <%= link_to "Chats", admin_chats_path(locale: "ja") %> |
  <%= link_to "TW Scenarios", scenarios_admin_custom_messages_path(locale: "tw") %>
  <%= link_to "TW Chats", admin_chats_path(locale: "tw") %>
</h3>
