.receipt {
  .logo  {
    text-align: center;
    margin-bottom: 30px;
    
    img {
      width: 240px;
    }
  }

  table {
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    margin-top: 30px;

    td {
      padding: 10px 0;
      border-bottom: 1px solid #dddddd;
    }
  }
}
