.receipt {
  .content {
    .logo  {
      text-align: center;
      margin-bottom: 30px;

      img {
        width: 200px;
      }
    }

    .receipt-type {
      text-align: center;
      margin-bottom: 30px;
      font-size: 32px;
    }

    table {
      border-spacing: 0;
      border-collapse: collapse;
      width: 100%;
      max-width: 100%;
      margin-top: 30px;

      td {
        padding: 10px 0;
        border-bottom: 1px solid #dddddd;
      }
    }
  }

  .company-info {
    margin-top: 168px;
  }
}
