#manager.customer {
  .checking-search-bar {
    margin-top: 150px;

    input {
      height: 50px;
      font-size: 24px;
      margin-left: 5px;
    }

    .info {
      margin-bottom: 12px;
    }
  }
}

#customer {
  #resultList.sidel {
    min-width: 250px;
  }

  #customerInfo
    #basic {
      dl {
        dt
          li.field-error {
            border: 2px solid #CF0003; border-radius: 6px;
          }
      }
    }
}

#mainNav {
  a.btn:link {
    padding: 6px 12px;
    font-size: 16px;

    i {
      font-size: 24px;
      display: inline-block;
      margin-right: 6px;
      line-height: initial;
    }
  }
}

.booking-from {
  display: flex;
  justify-content: flex-end;
  font-size: 14px;
  margin-top: 10px !important;

  .fa-clock {
    margin-right: 3px;
    margin-top: 3px;
  }
}

#resList {
  .reservation-customer-state-canceled {
    color: $gray7 !important;
  }
}

.reservation-info-row {
  margin: 3px 0 6px;

  .fa {
    margin-right: 6px;
  }

  p {
    margin-left: 21px;
  }
}

.customer {
  .customer-symbol {
    i {
      margin-right: 3px;
    }
  }
  #chat-box {
    margin-top: 0;
  }
}
