/* CSS Document */

#resList .status-list {
  text-align: left;
  position: fixed;
  line-height: 14px;
  background: #f1f1f1;
  width: 100%;
  padding-top: 3px;
}
#resList .status-list .reservation-state {
  width: 14px;
  height: 14px;
}
#resList div.status-list>div {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 3px;
}
