<div id="shopNav" class="contents">
  <h2>店舗選択</h2>
  <nav>
    <% @shops.each do |shop| %>
      <div>
        <%= link_to shop.name, shop_reservations_path(shop), class: "BTNorange" %>
      </div>
    <% end %>
  </nav>
</div>
