<h1>Editing Customer</h1>

<%= render 'form', customer: @customer, url: shop_customer_path(shop, @customer) %>

<%= link_to 'Show', shop_customer_path(shop, @customer) %> |
<%= link_to 'Back', shop_customers_path(shop) %>
