<p id="notice"><%= notice %></p>

<%= react_component("UI.Customers.Dashboard",
                    { customers: shop.customers.map { |c| { label: c.name, value: c.id } },
                      add_reservation_path: @add_reservation_path
}) %>
