/* CSS Document */

// .modal {
//   display: none;
//   overflow: hidden;
//   position: fixed;
//   top: 0;
//   right: 0;
//   bottom: 0;
//   left: 0;
//   z-index: 1050;
//   -webkit-overflow-scrolling: touch;
//   outline: 0;
// }
// .modal-open .modal {
//   overflow-x: hidden;
//   overflow-y: auto;
// }
// .modal.in .modal-dialog {
//   -webkit-transform: translate(0, 0);
//   -ms-transform: translate(0, 0);
//   -o-transform: translate(0, 0);
//   transform: translate(0, 0);
// }
// .modal.fade .modal-dialog {
//   -webkit-transform: translate(0, -25%);
//   -ms-transform: translate(0, -25%);
//   -o-transform: translate(0, -25%);
//   transform: translate(0, -25%);
//   -webkit-transition: -webkit-transform 0.3s ease-out;
//   -moz-transition: -moz-transform 0.3s ease-out;
//   -o-transition: -o-transform 0.3s ease-out;
//   transition: transform 0.3s ease-out;
// }
// .modal-content {
//   position: relative;
//   background-color: #fff;
//   border: 1px solid #999;
//   border: 1px solid rgba(0, 0, 0, 0.2);
//   border-radius: 6px;
//   -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
//   box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
//   background-clip: padding-box;
//   outline: 0;
// }
// .modal-header {
//   padding: 15px;
//   border-bottom: 1px solid #e5e5e5;
// }
// .close {
//   float: right;
//   font-size: 21px;
//   font-weight: bold;
//   line-height: 1;
//   color: #000;
//   text-shadow: 0 1px 0 #fff;
//   opacity: 0.2;
//   filter: alpha(opacity=20);
// }
// button.close {
//   padding: 0;
//   cursor: pointer;
//   background: transparent;
//   border: 0;
//   -webkit-appearance: none;
// }
// .modal-header .close {
//   margin-top: -2px;
// }
// .modal-title {
//   margin: 0;
//   line-height: 1.42857143;
// }
// .modal-body {
//   position: relative;
//   padding: 15px;
// }
// .modal-footer {
//   padding: 15px;
//   text-align: right;
//   border-top: 1px solid #e5e5e5;
// }
// @media (min-width: 768px){
//   .modal-dialog {
//     width: 600px;
//     margin: 30px auto;
// }
// .modal-content {
//   -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
//   box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
// }
// }
