<div class="header border-0 border-b border-solid border-gray-500">
  <div class="header-title-part">
    <% logo_url = online_service_hash[:logo_url] || online_service_hash.dig(:company_info, :logo_url) %>
    <% if logo_url %>
      <img class="logo" src='<%= logo_url %>' />
    <% else %>
      <h2><%= online_service_hash.dig(:company_info, :name) %></h2>
    <% end %>
  </div>
</div>
