<div class="service-show form with-top-bar">
  <%= render "lines/user_bot/top_navigation_bar", previous_path: lines_user_bot_service_path(@online_service), title: I18n.t("user_bot.dashboards.services.service_page") %>
  <div class="field-group-header" id="content">Table of Contents</div>
  <% if @online_service.chapters.size == 0 %>
    <div class="margin-around centerize">
      Please set chapters first
    </div>
  <% end %>

  <% @online_service.chapters.each do |chapter| %>
    <%= render "lines/user_bot/field_row", path: edit_lines_user_bot_service_chapter_path(@online_service, chapter), title: chapter.name, header_row: true %>
  <% end %>

  <div class="action-block">
    <%= link_to "Add a chapter", new_lines_user_bot_service_chapter_path(@online_service), class: "btn btn-yellow btn-extend" %>
  </div>
</div>
