<div id="subNav">
  <h2>Contacts − Add a New Rank</h2>
</div>
<div id="about">
  <p>Please enter Customer Rank informations here.<br />Toruya will accept reservation based on this setting.</p>
</div>

<%= render 'form', rank: @rank, url: settings_ranks_path %>
