<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">
        <%= t("warnings.change_verified_line_settings.title") %>
      </h4>
    </div>
    <div class="modal-body">
      <%= t("warnings.change_verified_line_settings.content_html") %>
    </div>
    <div class="modal-footer centerize">
      <%= link_to t("action.cancel"), lines_user_bot_settings_path(business_owner_id), class: "btn btn-yellow" %>
      <%= button_to t("warnings.change_verified_line_settings.disconnect_btn"),
        reset_lines_user_bot_settings_social_account_path(business_owner_id),
        class: "btn btn-danger",
        method: :post,
        remote: false,
        form_class: "inline-block"
      %>
    </div>
  </div>
</div>
