<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">
        <%= t("warnings.create_booking_page.upgrade_title") %>
      </h4>
    </div>
    <div class="modal-body">
      You got over <%= Plan.max_customers_limit(Plan::FREE_LEVEL, 0) %> customers, we are happen your bussiness grow up and had more customers,
      so now, we need your help to upgrade your plan to keep growing your business.
    </div>
    <div class="modal-footer centerize">
      <%= link_to t("action.upgrade_to_basic"), lines_user_bot_settings_plans_path(upgrade: Plan::BASIC_LEVEL), class: "btn btn-tarco" %>
    </div>
  </div>
</div>
