<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">
        <%= t("warnings.create_course.upgrade_title") %>
      </h4>
    </div>
    <div class="modal-body">
      <%= t("warnings.create_course.upgrade_content_html") %>
    </div>
    <div class="modal-footer centerize">
      <%= link_to t("action.upgrade_to_premium"), lines_user_bot_settings_plans_path(business_owner_id, upgrade: Plan::PREMIUM_LEVEL), class: "btn btn-tarco" %>
    </div>
  </div>
</div>
