<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">
        <%= t("warnings.line_settings_verified.verify_title") %>
        <% if !business_line_required? %>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        <% end %>
      </h4>
    </div>
    <div class="modal-body">
      <%= t("warnings.line_settings_verified.verify_content_html") %>
    </div>
    <div class="modal-footer centerize">
      <%= link_to t("warnings.line_settings_verified.action_button"),
        lines_verification_path(
          encrypted_social_service_user_id: MessageEncryptor.encrypt(Current.business_owner.social_user.social_service_user_id),
          encrypted_business_owner_id: MessageEncryptor.encrypt(Current.business_owner.id)
        ),
        class: "btn btn-yellow",
        method: :get
      %>

      <% if !business_line_required? %>
        <button type="button" class="btn btn-gray" data-dismiss="modal" aria-label="Close">
          <%= t("warnings.line_settings_verified.skip_button") %>
        </button>
      <% end %>
    </div>
  </div>
</div>
