<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">
        <%= t("settings.staff.modal.upgrade_title")%>
      </h4>
    </div>
    <div class="modal-body">
      <%= t("settings.staff.modal.upgrade_content_html", premium_plan_price: plan_price(Current.business_owner, Plan::PREMIUM_LEVEL)) %>
    </div>
    <div class="modal-footer centerize">
      <%= link_to t("action.upgrade_to_premium"), lines_user_bot_settings_plans_path(business_owner_id, upgrade: Plan::PREMIUM_LEVEL), class: "btn btn-yellow" %>
    </div>
  </div>
</div>
