<div class="modal fade off-date-modal" id=<%= local_assigns[:modal_id] %> tabindex="-1" role="dialog">
  <%= render 'lines/user_bot/booking_page_special_dates/special_date_modal',
      start_time_date_part: local_assigns[:start_time_date_part],
      start_time_time_part: local_assigns[:start_time_time_part],
      end_time_time_part: local_assigns[:end_time_time_part],
      reason: local_assigns[:reason],
      booking_page_id: local_assigns[:booking_page_id] %>
</div>
