<div class="status-list">
  <div><span class="reservation-state-item reservation-state reserved"></span><%= t("reservation.reserved") %></div>
  <div><span class="reservation-state-item reservation-state checkin"></span><%= t("reservation.checked_in") %></div>
  <div><span class="reservation-state-item reservation-state checkout"></span><%= t("reservation.checked_out") %></div>
  <div><span class="reservation-state-item reservation-state pending"></span><%= t("reservation.pending") %></div>
</div>
