<div class="modal-dialog toruya-modal" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title" id="reservation-show-modal">
        <span class="state <%= @relation.display_state %>"><%= t("user_bot.dashboards.settings.service_customer_relation.permission_states.#{@relation.display_state}") %></span>
        <span><%= I18n.l(@reservation.created_at, format: :date) %></span>

        <span><%= @reservation.created_at.to_fs(:time)%></span>
      </h4>
    </div>
    <div class="modal-body">
    </div>

    <% if @relation %>
      <div class="modal-footer">
        <dl>
          <dd>
            <%#= link_to t("action.details"), site_routing_helper.reservation_form_path(@reservation, from: "customer_dashboard", from_customer_id: @customer.id, customer_id: @customer.id), class: "btn enhanced BTNtarco" %>
          </dd>
        </dl>
      </div>
    <% end %>
  </div>
</div>
