#manager.customer {
  .checking-search-bar {
    margin-top: 150px;

    input {
      height: 50px;
      font-size: 24px;
      margin-left: 5px;
    }

    .info {
      margin-bottom: 12px;
    }
  }
}

#customer {
  #resultList.sidel {
    min-width: 250px;
  }

  #customerInfo
    #basic {
      dl {
        dt
          li.field-error {
            border: 2px solid #CF0003; border-radius: 6px;
          }
      }
    }
}
