.customer-info {
  background-color: #ddd;
  width: 70mm;
  font-size: 10px;

  .name {
    font-size: 12px;
    text-align: center;
  }

  .street2 {
    margin-bottom: 1.2mm;
    text-align: center;
  }
}
