.customer-info {
  page-break-before: always;
  width: 70mm;
  font-size: 10px;

  .name {
    font-size: 12px;
    text-align: center;
  }

  .street2 {
    margin-bottom: 1.2mm;
    text-align: center;
  }
}

.customers-table {
  display: table;
  width: 90%;

  .customer-row {
    display: table-row;
    page-break-inside: avoid;

    .customer-cell {
      display: table-cell;
      padding: 10px 20px 10px 20px;
      border: 1px solid #000;
    }
  }
}
