<div class="margin-around centerize">
  <div class="not-found-content">
    <div class="icon">
      <i class="fa fa-user-times fa-3x text-muted"></i>
    </div>
    <h4 class="my-4"><%= I18n.t("user_bot.dashboards.services.customers.not_found.title") %></h4>
    <p class="my-4">
      <%= I18n.t("user_bot.dashboards.services.customers.not_found.description") %>
    </p>
    <div class="actions">
      <%= I18n.t("user_bot.dashboards.services.customers.not_found.contact_business_owner") %>
    </div>
  </div>
</div>