#manager {
  span.new-shop-reservation {
    margin-left: 3px;
  }

  &.members-container {
    .shops-list {
      text-align: left;
    }
  }
}

#reservation-show-modal {
  .reservation-state {
    border-radius: 3px;
    margin-right: 6px;
    padding: 0 3px;
  }
}
