.modal-header {
  background: #333;
  color: #fff;
  border-radius: 6px 6px 0 0; /* 記述無し */
  -moz-border-radius: 6px 6px 0 0; /* Firefox */
  -webkit-border-radius: 6px 6px 0 0; /* Google Chrome、Safari */
  -o-border-radius: 6px 6px 0 0; /* Opera */
  -ms-border-radius: 6px 6px 0 0; /* Internet Explorer */
}

.close {
  color: #999;
  opacity: 1;
}

.modal-footer dl dd a, .modal-footer dl dd a:link {
  width: 100%;
  height: 40px;
  line-height: 40px;
}
