@import "variables";

.plans {
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 20px;

  input.BTNselect {
    display: inline-block;
    margin-right: 6px;
  }

  .privacy-and-term {
    margin-top: 32px;
    text-align: center;
  }

  .actions {
    margin-top: 32px;
    text-align: center;

    .btn {
      margin-left: 12px;
      margin-right: 12px;
    }
  }

  table {
    text-align: center;
    border-spacing: 0;
    border-collapse: separate;
    width: 100%;
    max-width: 100%;

    .invisible {
      visibility: hidden;
    }

    & > thead > tr > th,
    & > tbody > tr > th,
    & > tfoot > tr > th,
    & > thead > tr > td,
    & > tbody > tr > td,
    & > tfoot > tr > td {
      padding: 8px;
      border-right: 1px solid #dddddd;
      border-left: 1px solid #dddddd;
      // line-height: 1.42857143;
      // vertical-align: top;

      &.selected-plan {
        background-color: #fcf8df;
      }
    }

    & > thead {
      th,
      td {
        border-top: 1px solid #dddddd;
      }

      th {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }

      .free {
        background-color: $palette-color3;
        border-color: $palette-color3-1;
        color: #ffffff;
      }

      .basic {
        background-color: $palette-color2;
        border-color: $palette-color2-1;
        color: #ffffff;
      }

      .premium {
        background-color: $palette-color1;
        border-color: $palette-color1-1;
        color: #ffffff;
      }

      .price-row {
        .price-amount {
          font-size: 32px;
          font-weight: bold;
        }

        .select-plan {
          &.current-plan {
            display: none;
          }
        }

        .plan-column {
          display: none;

          &.current {
            display: block;
            color: $danger;
          }
        }
      }
    }

    & > tbody {
      border-top: 1px solid #dddddd;

      & > tr:nth-of-type(odd) {
        background-color: #f9f9f9;
      }

      & > tr:first-child {
        & > th {
          border-top: 1px solid #dddddd;
          border-top-left-radius: 10px;
        }

        & > td {
          border-top: 1px solid #dddddd;
        }
      }

      & > tr:last-child {
        & > th {
          border-bottom: 1px solid #dddddd;
          border-bottom-left-radius: 10px;
        }

        & > td {
          border-bottom: 1px solid #dddddd;

          &:last-child {
            border-bottom-right-radius: 10px;
          }
        }
      }
    }
  }

  div.upgrade-area, div.shop-fee-confirmation-area {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;

    .caption {
      margin-bottom: 12px;
    }

    .upgrade-label, .shop-fee-label {
      & > input[type="radio"], & > input[type="checkbox"] {
        margin-right: 8px;
      }

      font-weight: bold;
    }

    .desc {
      margin-bottom: 8px;
    }
  }

  div.downgrade-area {
    .downgrade-label {
      font-weight: bold;
      margin-top: 12px;
    }
  }
}
