<% if @attribute == "payment_option" && !Current.business_owner.payment_providers.exists? %>
  <div class="settings-dashboard form with-top-bar">
    <%= render "lines/user_bot/top_navigation_bar", previous_path: lines_user_bot_booking_page_path(@booking_page, business_owner_id: business_owner_id), title: t("settings.booking_page.form.payment_option_title") %>
    <%= render "lines/user_bot/settings/stripes/connection", oauth_redirect_to_url: edit_lines_user_bot_booking_page_path(business_owner_id, @booking_page, attribute: :payment_option) %>
    <hr />
    <%= render "lines/user_bot/settings/squares/connection", oauth_redirect_to_url: edit_lines_user_bot_booking_page_path(business_owner_id, @booking_page, attribute: :payment_option) %>
  </div>
<% else %>
  <%= react_component("user_bot/booking_pages/edit", {
    props: {
      business_owner_id: business_owner_id,
      menu_group_options: @menu_result && menu_group_options(@menu_result[:category_with_menu_options], :minutes),
      menu_exists: @menu_exists,
      payment_provider_options: Current.business_owner.payment_providers.map { |payment_provider| { label: payment_provider_label(payment_provider.provider), value: payment_provider.provider } },
      ticket_expire_date_desc_path: asset_pack_path("media/assets/user_bot/ticket_expire_date_desc.png"),
      requirements: @requirements,
      support_feature_flags: support_feature_flags,
      booking_option_introduction_asset_path: asset_pack_path("media/assets/user_bot/booking_option_introduction.png"),
      booking_options_payment_options: @booking_page.booking_page_options.map { |booking_page_option| { label: booking_page_option.booking_option.name, value: booking_page_option.id } },
      booking_page_online_payment_options_ids: @booking_page.booking_page_online_payment_options.pluck(:id),
      booking_page: @booking_page.attributes.merge!(
        shop_id: @booking_page.shop_id.to_s,
        available_booking_options: @options ? custom_options(@options.map { |option| booking_option_item(option) }) : [],
        booking_type: @booking_page.booking_type,
        had_specific_booking_start_times: @booking_page.specific_booking_start_times.present?,
        booking_start_times: Array.wrap(@booking_page.specific_booking_start_times).map { |start_time| { start_time: start_time } },
        interval: @booking_page.interval || 30,
        start_at_type: @booking_page.start_at ? "date" : "now",
        start_at_date_part: @booking_page.start_at_date || Date.current.to_s,
        start_at_time_part: @booking_page.start_at_time,
        end_at_type: @booking_page.end_at ? "date" : "never",
        end_at_date_part: @booking_page.end_at_date || Date.current.to_s,
        end_at_time_part: @booking_page.end_at_time,
        cut_off_time_type: @booking_page.cut_off_time ? "date" : "never",
        cut_off_time_date_part: @booking_page.cut_off_time_date || Date.current.to_s,
        cut_off_time_time_part: @booking_page.cut_off_time_time,
        bookable_restriction_months_type: @booking_page.bookable_restriction_months ? "months" : "never",
        default_provider: @booking_page.payment_provider,
        business_schedules: @booking_page.business_schedules.map { |business_schedule| BusinessScheduleSerializer.new(business_schedule).attributes_hash },
        special_dates: @booking_page.booking_page_special_dates.map do |special_date|
          {
            start_at_date_part: special_date.start_at_date,
            start_at_time_part: special_date.start_at_time,
            end_at_date_part:   special_date.end_at_date,
            end_at_time_part:   special_date.end_at_time
          }
        end,
        requirement_online_service: @booking_page.requirement_online_service ? OnlineServiceOptionSerializer.new(@booking_page.requirement_online_service).attributes_hash : nil,
        customer_address_required: @booking_page.customer_address_required
      ),
      attribute: @attribute,
      shop_options: shop_options(Current.business_owner.shops.order("id")),
      i18n: {
      }.merge!([
        t("settings.booking_page.form"),
        t("action").slice(:save, :delete, :add_more),
        t("common").slice(:required_time, :select_a_menu, :minute),
        {
          page_title: I18n.t("settings.booking_page.form.#{@attribute}_title"),
          top_bar_header: translation_resuce { I18n.t("settings.booking_page.form.#{@attribute}_top_bar_header", raise: true) },
          hint: translation_resuce { I18n.t("settings.booking_page.form.#{@attribute}_hint", raise: true) },
        }
      ].inject(:merge))
    }
  },
  { camelize_props: false }
  ) %>
<% end %>
