<div id="subNav">
  <h2>基本情報 − Add a New 予約枠</h2>
</div>
<div id="about">
  <p>Please enter menu informations here.<br>Toruya will accept reservation based on this setting.</p>
</div>
<%= render partial: "form", locals: {
  reservation_setting: @reservation_setting,
  url: settings_reservation_settings_path(from_menu: params[:from_menu], menu_id: params[:menu_id]) }
%>
