<%= render "info" %>
<div id="about">
  <p>Please enter shop informations here.<br>This information will be displayed to your customers.</p>
</div>
<%= render 'form', shop: @shop, url: settings_shops_path %>
