<div id="about">
  <p><%= t("settings.menu.new_info_1") %><br /><%= t("settings.menu.new_info_2") %></p>
</div>

<%
  staff_menus = menu.staff_menus.to_a

  menu_staffs_options = super_user.staffs.order("created_at").map do |staff|
    if staff_menu = staff_menus.find { |staff_menu| staff_menu.staff_id == staff.id }
      Option.new(id: staff_menu.id, name: staff.name, staff_id: staff.id, menu_id: staff_menu.menu_id, max_customers: staff_menu.max_customers, checked: true)
    else
      Option.new(id: nil, name: staff.name, staff_id: staff.id, menu_id: menu.try(:id), max_customers: "", checked: false)
    end
  end

  shop_menus = menu.shop_menus.to_a

  menu_shops_options = super_user.shops.order("created_at").map do |shop|
    if shop_menu = shop_menus.find { |shop_menu| shop_menu.shop_id == shop.id }
      Option.new(id: shop_menu.id, name: shop.name, shop_id: shop.id, max_seat_number: shop_menu.max_seat_number, checked: true)
    else
      Option.new(id: nil, name: shop.name, shop_id: shop.id, max_seat_number: "", checked: false)
    end
  end

  categories = menu.categories.to_a
  cateogries_options = super_user.categories.order("created_at").map do |category|
    Option.new(id: category.id, name: category.name, checked: categories.any? { |c| c.id == category.id })
  end
%>

<%= react_component("UI.Settings.MenuForm", {
  save_menu_path: url,
  cancel_path: settings_menus_path,
  add_reservation_setting_path: new_settings_reservation_setting_path(from_menu: true, menu_id: menu.id),
  repeating_dates_path: repeating_dates_settings_menus_path,
  menu: menu,
  reservation_settings: reservation_setting_options(super_user.reservation_settings.order("id"), menu),
  selected_reservation_setting: reservation_setting_option(reservation_setting, menu),
  selected_reservation_setting_rule: menu_reservation_setting_rule,
  menu_shops_options: react_attributes(menu_shops_options),
  menu_staffs_options: react_attributes(menu_staffs_options),
  categories_options: react_attributes(cateogries_options),
  form_authenticity_token: form_authenticity_token,
  info_label: I18n.t("settings.menu.info_label"),
  interval_label: Menu.human_attribute_name(:interval),
  max_customers_label: Menu.human_attribute_name(:max_customers),
  edit: I18n.t("action.edit"),
  add_new_reservation_setting_btn: I18n.t("settings.menu.add_new_reservation_setting_btn"),
  reservation_ending_rule_none: I18n.t("settings.menu.reservation_ending_rule_none"),
  reservation_ending_rule_repeating: I18n.t("settings.menu.reservation_ending_rule_repeating"),
  reservation_ending_rule_repeating_setting: I18n.t("settings.menu.reservation_ending_rule_repeating_setting"),
  reservation_ending_rule_repeating_times: I18n.t("settings.menu.reservation_ending_rule_repeating_times"),
  reservation_ending_rule_end_date_setting: I18n.t("settings.menu.reservation_ending_rule_end_date_setting"),
  category_label: I18n.t("settings.menu.category_label"),
  new_category_btn: I18n.t("settings.menu.new_category_btn"),
  cancel_btn: I18n.t("action.cancel")
})%>
