<div id="about">
  <p>Please enter menu informations here.<br>Toruya will accept reservation based on this setting.</p>
</div>

<%= react_component("UI.Settings.MenuForm", {
  save_menu_path: url,
  cancel_path: settings_menus_path,
  add_reservation_setting_path: new_settings_reservation_setting_path(from_menu: true, menu_id: menu.id),
  repeating_dates_path: repeating_dates_settings_menus_path,
  new_category_path: new_settings_category_path(from_menu: true, menu_id: menu.id),
  menu: menu,
  reservation_settings: reservation_setting_options(super_user.reservation_settings, menu),
  selected_reservation_setting: reservation_setting_option(menu.reservation_setting, menu),
  selected_reservation_setting_rule: menu.menu_reservation_setting_rule,
  shops: react_attributes(super_user.shops),
  selected_shops: react_attributes(menu.shops),
  categories: react_attributes(super_user.categories),
  selected_categories: react_attributes(menu.categories),
  staffs: react_attributes(super_user.staffs),
  selected_staffs: react_attributes(menu.staffs),
  staff_menus: react_attributes(menu.staff_menus),
  form_authenticity_token: form_authenticity_token
})%>
