<div id="subNav">
  <h2>基本情報 − <%= t("settings.menu.new_title") %></h2>
</div>

<div id="settingForm">
  <%= render 'form',
  menu: @menu,
  url: settings_user_menu_path(super_user,@menu),
  menu_reservation_setting_rule: @menu_reservation_setting_rule,
  reservation_setting: @reservation_setting %>
</div>
