@import "./breakpoint";

a.btn {
  text-decoration: none;
}

.btn {
  text-indent: 0;
  display: inline-block !important;
  color: #ffffff !important;
  line-height: 35px !important;
  height: 35px !important;
  padding: 0 10px !important;
  font-size: 18px;

  &.btn-symbol {
    width: 35px;
    padding: 0;
  }

  &.btn-large {
    line-height: 50px !important;
    height: 50px !important;
    font-weight: bold;
    font-size: 18px;
  }

  &.btn-small {
    padding: 5px 10px !important;;
    font-size: 12px;
    line-height: 1.5 !important;;
    border-radius: 3px;
    height: auto !important;
  }

  &.btn-icon {
    display: inline-flex !important;
    justify-items: center;
    align-items: center;
  }

  &.btn-circle {
    padding: 10px !important;
    width: initial;
    height: initial !important;
    border-radius: 50%;

    &.btn-big {
      height: $big-circle-button-size !important;
      width: $big-circle-button-size !important;
      padding: initial !important;
    }

    &.btn-with-word {
      height: 55px !important;
      width: 55px !important;
      flex-direction: column;

      .word {
        font-size: 10px;
        line-height: 13px;
      }
    }
  }

  &.btn-tweak {
    display: inline-flex !important;
    justify-content: center;
    align-items: center;

    &.btn-big {
      height: $big-circle-button-size !important;
    }
  }

  &.btn-extend {
    width: 90%;
  }

  &.btn-tall {
    min-height: 50px;
    line-height: 50px !important;
  }
}

.btn-tarco {
  background: $palette-color2-1;
  border-color: $palette-color2-2 !important;
}

.btn-orange {
  background: $palette-color4-1;
  border-color: $palette-color4-2 !important;
}

.btn-yellow {
  background: $palette-color1-1;
  border-color: $palette-color1-2 !important;
}

.btn-gray {
  background: $palette-color3-1;
  border-color: $palette-color3-1 !important;
}

.google-button {
  height: 40px;
  border-width: 0;
  background: #4285F4;
  color: #ffffff;
  border-radius: 5px;
  white-space: nowrap;
  box-shadow: 1px 1px 0px 1px rgba(0,0,0,0.05);
  transition-property: background-color, box-shadow;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
  padding: 0;

  &:focus,
  &:hover {
    box-shadow: 1px 4px 5px 1px rgba(0,0,0,0.1);
  }

  &:active {
    background-color: #e5e5e5;
    box-shadow: none;
    transition-duration: 10ms;
  }

  img.google-button__icon {
    height: 40px;
  }

  .google-button__text {
    display: inline-block;
    vertical-align: middle;
    padding: 0 8px;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Roboto',arial,sans-serif;
  }
}

.line-button {
  color: $line-green !important;
  background: transparent;
  display: inline-flex !important;
  align-items: center;

  .fa-line {
    font-size: 40px;
  }

  &.with-wording {
    background-color: $line-green !important;
    color: #ffffff !important;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    &.only-word {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;

      @include media-breakpoint-up(tablet) {
        width: 100%;
        border-radius: 10px;
      }
    }
  }

  &.with-logo {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    padding-left: 0 !important;

    img {
      height: 35px;
    }
  }

}

.btn-flexible {
  height: auto !important;
  line-height: initial !important;
  padding: 10px !important;
}

.btn.disabled, .btn[disabled] {
  opacity: 0.35 !important;
}
