a.btn {
  text-decoration: none;
}

.btn {
  text-indent: 0;
  display: inline-block !important;
  color: #ffffff !important;
  line-height: 35px !important;
  height: 35px !important;

  &.btn-symbol {
    width: 35px;
    padding: 0;
  }

  &.btn-large {
    line-height: 50px !important;
    height: 50px !important;
    padding: 0 10px;
    font-weight: bold;
  }
}

.btn-tarco {
  background: $palette-color2;
  border-color: $palette-color2-1;

  &:hover {
    background: $palette-color2-1;
    border-color: $palette-color2-2;
  }
}

.btn-orange {
  background: $palette-color4;
  border-color: $palette-color4-1;

  &:hover {
    background: $palette-color4-1;
    border-color: $palette-color4-2;
    opacity: 0.7;
  }
}

.btn-yellow {
  background: $palette-color1;
  border-color: $palette-color1-1;

  &:hover {
    background: $palette-color1-1;
    border-color: $palette-color1-2;
    opacity: 0.7;
  }
}

.btn-gray {
  background: $palette-color3;
  border-color: $palette-color3-1;

  &:hover {
    background: $gray5;
    border-color: $gray7;
    opacity: 0.7;
  }
}
