@import "./breakpoint";

.calendar {
  text-align: center;
  font-size: 14px;
  width: 100%; // mobile version
  min-width: 276px;

  @include media-breakpoint-up(tablet) {
    width: 252px;
  }

  select {
    appearance: none;
    line-height: 35px;
    padding: 0 15px;
    background-color: #fff;
    border: 1px solid #CCCCCC;
  }

  .header,
  .calendar .month {
    padding-bottom: 10px;
  }

  .month ul {
    overflow: hidden;
    margin: 0;
    padding: 0;
    line-height: 35px;
  }

  .month .prev {
    float: left;
  }

  .month .next {
    float: right;
  }

  .header i,
  .month .prev a,
  .month .prev a:link,
  .month .prev a:visited,
  .month .next a,
  .month .next a:link,
  .month .next a:visited {
    display: block;
    background: #858585;
    color: #fff;
    line-height: 35px;
    width: 27px;
    font-weight: bold;
    font-size: 28px;
    @include border-radius(5px);
  }

  .header i,
  .header select {
    display: inline-block;
  }

  .header select {
    width: 35%;
    margin-left: 5px;
    vertical-align: top;
  }

  .header select:last-of-type,
  .month select#calYear {
    margin-right: 5px;
  }

  .header select:last-of-type,
  .month select {
    background-color: #fff;
  }

  .week,
  .weekdays,
  .days {
    background: #fff;
  }

  .week span.day,
  .weekdays li,
  .days li {
    width: 13.4%;

    padding-bottom: calc(13.4% - 4px);
    position: relative;
    display: inline-block;

    span.number {
      width: 100%;
      height: 100%;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center
    }
  }

  .week span.day,
  .weekdays li {
    display: inline-block;
    text-align: center;
    margin: 1px;
  }

  .weekdays li {
    color: #666;
  }

  .week span.day {
    @include border-radius(100px);
    color: #333;
    border: 2px solid #fff;
  }

  .week:not(.names) span:not(.close):hover {
    cursor: pointer;
  }

  .week {
    border-bottom: 1px solid #d0d0d0;
  }

  .week:last-child {
    border-bottom: none;
  }

  .week.names,
  .week:first-of-type,
  .days:first-of-type {
    font-size: 90%;
  }

  .days a,
  .days a:link,
  .days a:visited {
    color: #666;
    line-height: 35px;
    display: block;
    width: 100%;
  }

  span.day.today,
  .days span.today a {
    font-weight: bold;
    color: #e6a220;
  }

  span.day.selected,
  span.day.today.select,
  .days a.here,
  .days .today a.here {
    font-weight: bold;
    color: #fff;
    background-repeat: no-repeat;
    background-position: center center;
  }

  span.day.reserved,
  span.day.personal-schedule
  {
    background: #dedede;
    border-color: #dedede;
  }

  span.day.selected {
    background: $palette-color1 !important;
    border-color: $palette-color1-1 !important;
  }

  span.day.workDay {
    // border-color: #84b3aa;
  }

  .week span.different-month {
    color: #B3B3B3;
  }

  .week span.different-month.workDay {
    border-color: #aecfc8;
  }

  .week span.different-month.reserved {
    background: #EAEAEA;
    border-color: #EAEAEA;
  }

  .week span.holiday {
    color: #E00003;
  }

  .header:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}

.booking-calendar {
  .calendar {
    padding: 10px;
    margin-top: 10px;
    border: 1px solid $gray9;

    span.day {
      &.workDay {
        background: #dedede;
        border-color: #dedede;
      }

      &.booking-available {
        background: #84b3aa;
        border-color: #84b3aa;
      }
    }
  }

  .demo-days {
    text-align: center;
    font-size: 14px;
    width: 252px;
    line-height: 35px;

    .day {
      &.workDay {
        background: #dedede;
        border-color: #dedede;
      }

      &.booking-available {
        background: #84b3aa;
        border-color: #84b3aa;
      }
    }

    .demo-day {
      vertical-align: middle;
      display: inline-block;
      width: 24px;
      height: 24px;
      border-radius: 24px;
      margin-left: 12px;
      margin-right: 3px;
    }
  }
}

.calendar-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  width: 252px;
  height: 286px;
  line-height: 286px;
  color: $gray11;
}
