.logo {
  max-width: 130px;
  max-height: 45px;
  height: auto;
}

.video-player-wrapper {
  position: relative;
  padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */

  .react-player {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.break-line-content {
  white-space: pre-wrap;
  word-break: keep-all;
  overflow-wrap: break-word;
}

.checkbox-button-box {
  display: none;
}

.checkbox-button-box:checked + label:before {
  background: #60938a;
  color: #60938a;
}

.checkbox-button-box:checked + label:after {
  background: #96bfb8;
  color: #FFFFFF;
}

.checkbox-button-label {
  background-image: none;
  padding-left: 0;

  &::before {
    content: attr(data-before-content);
    display: inline-block;
    padding: .2em .5em;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
    line-height: 1.5;
    font-size: 14px;
    padding: 5px;
    background: #DEDEDE;
    color: #000000;
    border-top-left-radius: .3em;
    border-bottom-left-radius: .3em;
    width: 4em;
  }

  &::after {
    content: attr(data-after-content);
    display: inline-block;
    padding: .2em .5em;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
    line-height: 1.5;
    font-size: 14px;
    padding: 5px;
    background: #ABABAB;
    color: #ABABAB;
    border-top-right-radius: .3em;
    border-bottom-right-radius: .3em;
    width: 4em;
  }

  &.nosize {
    &::before,
    &::after {
      width: initial;
    }
  }
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }

  .popup-content {
    width: 90% !important;
  }
}

.credit-card {
  padding: 12px;
  text-align: center;
  background-color: #f5f5f7;

  header {
    display: block;
    background-color: #dfdfdf;
    padding: 12px;
    margin-left: -12px;
    margin-right: -12px;
    margin-top: -12px;

    h1 {
      margin: 0;
      font-size: 17px;
      font-weight: 700;
      color: #000
    }

    h2 {
      font-size: 13px;
      font-weight: 500;
      color: #5b5b65;
      text-shadow: 0 1px 0 #fff;
      padding-bottom: 6px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-top: 6px;
    }
  }

  .details {
    margin: 15px;
    color: $black;
    font-weight: bold;
  }

  .StripeElement {
    margin: 15px auto;
    padding: 10px 12px;
    color: #32325d;
    background-color: white;
    border: 1px solid #dfdfdf;
    border-radius: 4px;
  }

  .StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
  }
}
