.logo {
  max-width: 130px;
  max-height: 45px;
  height: auto;
}

.video-player-wrapper {
  position: relative;
  padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */

  &.extend {
    // margin-left: -12px;
    // margin-right: -12px;
  }

  .react-player {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.break-line-content {
  white-space: pre-wrap;
  word-break: break-word;
  overflow-wrap: break-word;
}

.checkbox-button-box {
  display: none;
}

.checkbox-button-box:checked + label:before {
  background: #60938a;
  color: #60938a;
}

.checkbox-button-box:checked + label:after {
  background: #96bfb8;
  color: #FFFFFF;
}

.checkbox-button-label {
  background-image: none;
  padding-left: 0;

  &::before {
    content: attr(data-before-content);
    display: inline-block;
    padding: .2em .5em;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
    line-height: 1.5;
    font-size: 14px;
    padding: 5px;
    background: #DEDEDE;
    color: #000000;
    border-top-left-radius: .3em;
    border-bottom-left-radius: .3em;
    width: 4em;
  }

  &::after {
    content: attr(data-after-content);
    display: inline-block;
    padding: .2em .5em;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
    line-height: 1.5;
    font-size: 14px;
    padding: 5px;
    background: #ABABAB;
    color: #ABABAB;
    border-top-right-radius: .3em;
    border-bottom-right-radius: .3em;
    width: 4em;
  }

  &.nosize {
    &::before,
    &::after {
      width: initial;
    }
  }
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }

  [data-popup="modal"] {
    .popup-content {
      width: 90% !important;
    }
  }
}

.credit-card {
  padding: 12px;
  text-align: center;
  background-color: #f5f5f7;

  header {
    display: block;
    background-color: #dfdfdf;
    padding: 12px;
    margin-left: -12px;
    margin-right: -12px;
    margin-top: -12px;

    h1 {
      margin: 0;
      font-size: 17px;
      font-weight: 700;
      color: #000
    }

    h2 {
      font-size: 13px;
      font-weight: 500;
      color: #5b5b65;
      text-shadow: 0 1px 0 #fff;
      padding-bottom: 6px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-top: 6px;
    }
  }

  .details {
    margin: 15px;
    color: $black;
    font-weight: bold;
  }

  .StripeElement {
    margin: 15px auto;
    padding: 10px 12px;
    color: #32325d;
    background-color: white;
    border: 1px solid #dfdfdf;
    border-radius: 4px;
  }

  .StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
  }
}
.address-form {
  margin-top: 12px;
  padding: 12px;

  h4 {
    margin-top: 12px;
    margin-bottom: 12px;
    color: $black;
    font-size: 14px;
  }

  .desc {
    margin-bottom: 9px;
  }

  .resend-row {
    margin-top: 9px;
  }

  .field {
    margin-top: 6px;
    width: 80%;
  }

  input[type="text"],
  input[type="tel"] {
    width: 45%;

    &.expanded {
      width: 80%;
    }
  }

  input[type="submit"],
  a.submit {
    margin-top: 12px;
  }
}

.required-label {
  color: #fff;
  background: #CF0003;
  display: inline-block;
  font-size: 10px;
  padding: 3px 5px;
  margin-left: 10px;
  border-radius: 5px;
}

input[type="time"],
input[type="date"],
input[type="text"],
input[type="tel"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="file"],
.DayPickerInput input {
  padding: 10px;
  color: $black;
  line-height: 15px;
  border: 1px solid $gray;
  background-color: $palette-color6;
  border-radius: 4px;
  margin: 0 3px;
  padding: 8px;
  font-size: 14px;

  &.extend {
    width: 100%;
    border: 0;
    border-radius: 0;
    width: -webkit-fill-available;
    margin: 10px 10px 0 10px;
  }

  &.with-border {
    border: 1px solid $gray;
  }
}

.DayPickerInput input {
  width: 90px;
}

input[type="time"] {
  width: 85px;

  &::-webkit-calendar-picker-indicator {
    background: none; display:none;
  }
}

select {
  appearance: none;
  line-height: 35px;
  padding: 0 15px;
  background-color: $palette-color6;
  border: 1px solid $gray;
  border-radius: 4px;

  &.extend {
    width: 100%;
    border: 0;
    border-radius: 0;
  }
}

textarea {
  min-height: 150px;
  color: $black;
  border: 1px solid $gray;
  background-color: $palette-color6;
  line-height: 18px;
  margin: 0 3px;
  padding: 8px;
  font-size: $normal-font-size;

  &.extend {
    width: 98%;
    border: 0;
    border-radius: 0;
  }

  &.with-border {
    border: 1px solid $gray !important;
  }
}

.company-header {
  border-bottom: 1px solid #dfdfdf;
  padding: 6px;
  display: flex;
  justify-content: space-between;
  min-height: 45px;
  margin-bottom: 12px;
}

.modal-body {
  &.extend {
    padding-left: 0;
    padding-right: 0;
  }
}

.preview-image {
  width: 120px !important;
  height: auto;
}

.successful {
  color: $successful !important;
}

.warning {
  color: $warning !important;
}

.danger {
  color: $danger !important;
}

.processing-bar {
  text-align: center;
  width: 300px;
  height: 100px;
  line-height: 100px;
  position: fixed;
  top: 20%;
  left: calc(50% - 150px);;
  background: #def5ff;
  border: 1px solid #7dd2f9;
  z-index: 999;
  color: #555555 !important;
}

.bg-white {
  background-color: #ffffff;
}

.text-black {
  color: #000000;
}

.text-base {
  font-size: 1rem; /* 16px */
  line-height: 1.5rem; /* 24px */
}

// overwrite draft.js default style
.public-DraftStyleDefault-block {
  margin: 0 !important;
}

// overwrite rc-time-picker-input default style
.rc-time-picker-input {
  width: 85px !important;
}