.centerize {
  text-align: center;
}

.content-centerize {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.message-bar {
  i {
    vertical-align: baseline;
  }
}

.field-error-message {
  color: $danger;
  display: block;
}

.field-warning-message {
  color: $warning;
  display: block;
}

.calendar-picker {
  width: 38px !important;
  height: 38px !important;
  line-height: 34px !important;
  font-size: 21px !important;
  display: inline-block !important;
  margin-left: 6px;
  margin-right: 6px;

  i.fa-calendar {
    font-size: 18px !important;
  }
}

.fake-date-field {
  display: inline-block;
  border-radius: 3px;
}

textarea {
  padding: 8px;
  font-size: 16px;
}

.drag-handler {
  padding: 8px 16px;
  vertical-align: top;
  cursor: row-resize;
}

.customer-reminder-permission {
  &.fa-bell {
    color: $gray5;

    &.reminder-on {
      color: $palette-color1;
    }
  }
}
