$danger: #CF0003;
$alert: $danger;
$failed: $danger;

$link: #60938a;

$warning: #e6a21f;

$palette-color1: #fcbe46; // yellow
$palette-color1-1: #e6a21f; // yellow border
$palette-color1-2: #d79a23; // yellow hover border
$palette-color2: #97bfb8; // tarco
$palette-color2-1: #60938a; // tarco border
$palette-color2-2: #488479; // tarco hover border
$palette-color3: #9d9d9d; // gray
$palette-color3-1: #888888; // gray border
$palette-color4: #ca4e0e;  // orange
$palette-color4-1: #b0450d; // orange border
$palette-color4-2: #984418; // orange hover border

$gray: #dfdfdf;
$gray2: #e6e6e6;
$gray3: #f9f9f9;
$gray4: #efefef;
$gray5: #d0d0d0;
$gray6: #858585;
$gray6: #858585;
$gray7: #b3b3b3;
$gray8: #555555;

$black: #333333;

@mixin clearfix {
  &:before, &:after {
    content: " ";   /* 1 */
    display: table; /* 2 */
  }
  &:after {
    clear: both;
  }
}
