$tiny-font-size: 10px; // 10px;
$small-font-size: 12px; // 12px;
$normal-font-size: 14px; // 14px
$normal2-font-size: 15px; // 15px
$medium-font-size: 16px; // 16px
$big-font-size: 18px; // 16px
$large-font-size: 20px; // 20px
$huge-font-size: 24px; // 24px

$danger: #CF0003;
$alert: $danger;
$failed: $danger;

$link: #60938a;
$successful: $link;

$warning: #e6a21f;

$palette-color1: #fcbe46; // yellow
$palette-color1-1: #e6a21f; // yellow border
$palette-color1-2: #d79a23; // yellow hover border
$palette-color2: #97bfb8; // tarco
$palette-color2-1: #60938a; // tarco border
$palette-color2-2: #488479; // tarco hover border
$palette-color3: #9d9d9d; // gray
$palette-color3-1: #888888; // gray border
$palette-color4: #ca4e0e;  // orange
$palette-color4-1: #b0450d; // orange border
$palette-color4-2: #984418; // orange hover border
$palette-color5: #de9218;
$palette-color6: #fffef5;
$palette-color7: #fbecf3; // pink
$palette-color8: #fdbdd9; // pink border
$palette-color9: #e3ebeb;
$palette-color10: #5cb85c; // bootstrap successful green
$palette-color11: #dceae7;
$palette-color12: #BC7AF9;
$palette-color13: #FFA1F5;

$gray: #dfdfdf;
$gray2: #e6e6e6;
$gray3: #f9f9f9;
$gray4: #efefef;
$gray5: #d0d0d0;
$gray6: #858585;
$gray7: #b3b3b3;
$gray8: #555555;
$gray9: #bbbbbb;
$gray10: #e9ebee;
$gray11: #8f8f8f;
$gray12: #cccccc;
$gray13: #f8f9fa; // survey background

$basic-gray-background: #f2f2f2;
$gray-background-1: $gray5;
$gray-border-1: $gray7;
$gray-word-1: $gray8;
$gray-background: $basic-gray-background;
$gray-border: $gray-border-1;
$gray-word: $gray-word-1;
$orange-background-1: $palette-color4;
$orange-border-1: $palette-color4-1;
$tarco-background-1: $palette-color2;
$tarco-border-1: $palette-color2-1;
$pink-background: #fcecf3;
$pink-border: #eec7da;
$pink-color: #f7c5db;

$line-other-message: #ededed;
$line-self-message: #b0f784;

$black: #333333;
$black2: #454443;

$bar-height: 35px;
$big-circle-button-size: 45px;
$line-green: #04c655;

$red: #b0450d;

@mixin clearfix {
  &:before, &:after {
    content: " ";   /* 1 */
    display: table; /* 2 */
  }
  &:after {
    clear: both;
  }
}


$desktop-sidebar-width: 250px;
$function-bar-zindex: 999;
$search-input-zindex: 400;

@mixin border-radius($radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius; /* Internet Explorer */
}

$grid-breakpoints: (
  mobile: 0,
  tablet: 768px,
  computer: 940px,
  large-monitor: 1200px,
  wide-screen-monitor: 1920px
)
