<div class="with-function-bar centerize">
  <% if @redirect_controller == "schedules" && @redirect_action == "index" %>
    <div class="my-2">
      <%= link_to t("sidebar.calendar.mine"), mine_lines_user_bot_schedules_path, class: "btn btn-tarco mx-1 my1" %>
    </div>
  <% end %>

  <% current_users.map {|user| user&.staff_accounts&.active&.includes(:owner)&.map(&:owner) }.compact.flatten.uniq.each do |owner| %>
    <div class="my-2">
      <%= link_to owner.company_name, { controller: @redirect_controller, action: @redirect_action, business_owner_id: owner.id }, class: "btn btn-tarco mx-1 my1" %>
    </div>
  <% end %>
</div>

