<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">
        <%= t("settings.modal.tour.reservation_setting_title") %>
      </h4>
    </div>
    <div class="modal-body">
      <iframe width="560" height="300" src="https://www.youtube.com/embed/XkclcJOHXuU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
    <div class="modal-footer centerize">
      <%= link_to t("settings.modal.tour.end_tour"), settings_end_tour_path, class: "btn BTNtarco" %>

      <% if @from_settings_tour_root %>
        <%= link_to t("settings.modal.tour.setup_reservation_setting"), settings_user_reservation_settings_path(current_user, from_settings_tour_root: true), class: "btn BTNtarco" %>
      <% else %>
        <%= link_to t("settings.modal.tour.setup_reservation_setting"), "#", class: "btn BTNtarco", data: { dismiss: "modal" } %>
      <% end %>
    </div>
  </div>
</div>
