@import "variables";

.btn-tarco {
  background: $palette-color2;
  border-color: $palette-color2-1;
  color: #ffffff;

  &:hover {
    background: $palette-color2-1;
    border-color: $palette-color2-2;
    color: #ffffff;
  }
}

.btn-orange {
  background: $palette-color4;
  border-color: $palette-color4-1;
  color: #ffffff;

  &:hover {
    background: $palette-color4-1;
    border-color: $palette-color4-2;
    color: #ffffff;
    opacity: 0.7;
  }
}
