$danger: #CF0003;
$alert: $danger;
$failed: $danger;

$link: #60938a;

$warning: #e6a21f;

$palette-color1: #fcbe46; // yellow
$palette-color1-1: #e6a21f; // yellow border
$palette-color2: #97bfb8; // tarco
$palette-color2-1: #60938a; // tarco border
$palette-color2-2: #488479; // tarco hover border
$palette-color3: #9d9d9d; // gray
$palette-color3-1: #888888; // gray border
$palette-color4: #ca4e0e;  // orange
$palette-color4-1: #b0450d; // orange border
$palette-color4-2: #984418; // orange hover border
