//= require_self
//= require manager
//= require calendar
//= require customize
//= require customize-reservation
//= require customize-customer
//= require customize-settings
//= require select2
//= require select2-bootstrap

@import "font-awesome";
@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Tillana');
