//= require_self
//= require select2
//= require select2-bootstrap
//= require jquery-ui/datepicker
//= require tweak
//= require_directory ./customers
//= require_directory ./dashboard
//= require_directory ./manager
//= require_directory ./reservations
//= require_directory ./settings
//= require_directory ./search

@import "font-awesome";
@import "bootstrap_custom";
@import url('https://fonts.googleapis.com/css?family=Tillana');
