//= require_self
//= require manager
//= require calendar
//= require customize
//= require customize-reservation
//= require customize-customer
//= require customize-settings

@import "font-awesome";
@import "bootstrap-sprockets";
@import "bootstrap";
