//= require_self
//= require manager
//= require select2
//= require select2-bootstrap
//= require jquery-ui/datepicker
//= require fix
//= require reservations/index
//= require settings

@import "font-awesome";
@import "bootstrap_custom";
@import url('https://fonts.googleapis.com/css?family=Tillana');
