//= require_self
//= require dashboard_dropdown
//= require_directory ./customers
//= require_directory ./dashboard
//= require_directory ./manager
//= require_directory ./reservations
//= require_directory ./settings
//= require_directory ./search
//= require tweak
//= require day_picker
//= require site

@import "font-awesome";
@import "bootstrap_custom";
@import "buttons";
@import url('https://fonts.googleapis.com/css?family=Tillana');
