//= require_self
//= require manager
//= require select2
//= require select2-bootstrap
//= require jquery-ui/datepicker
//= require fix

@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Tillana');
