//= require_self
//= require manager
//= require calendar
//= require select2
//= require select2-bootstrap
//= require jquery-ui/datepicker

@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Tillana');
