$red: #FF0000;
$gray: #333333;
$light_gray: #CCCCCC;
$white: #FFFFFF;
$danger: #d9534f;
$green1: #97bfb8;
$green2: #60938a;


/* Overwrite Bootstrap START */
* {
  box-sizing: initial;

  &:before, &:after {
    box-sizing: initial;
  }
}

label {
  display: inline;
  font-weight: normal;
}
/* Overwrite Bootstrap END */


/* Overwrite START */
header {
  z-index: 9999999;

  #shop {
    color: #000000;
  }

  #NAVcaution a strong {
    background-color: $red;
    border-radius: 50%
  }
}

#footer {
  position: initial;
  margin-top: 120px;
}

a, button {
  &.btn {
    color: $white
  }

  &.btn-default {
    // background-color: $green1;
    // border-color: $green2;
    color: $gray;
    background-color: $white;
    border-color: $light_gray;
  }

  &.btn-danger {
    color: $white;
    background-color: $danger;
    border-color: #d43f3a;
  }
}

table.table {
  width: initial;
}


#resNew #customerList dl {
  padding-left: 0px;
}
/* Overwrite END */

/* New Design START */
.container {
  margin-top: 90px;

  .tbd-items {
    border-bottom: 1px solid $gray;
    padding: 10px 0;
  }
}

form {
  #error_explanation {
    ul li {
      display: list-item;
    }
  }

  abbr.required {
    float: left;
    padding-right: 3px;
    color: $red;
  }

  .field_with_errors {
    label {
      color: $red;
    }

    input {
      border: 1px solid $red;
    }
  }

  label.control-label {
    padding-top: 11px;
  }
}

form {
  div.form-block {
    padding-bottom: 5px;
    padding-top: 5px;
    border-bottom: 1px solid $light_gray;

    // menu form, staff form
    &.staff-of-menu, &.menu-of-staff {
      select {
        margin-bottom: 18px;
      }

      input {
        width: 150px;
        margin-left: 12px;
        margin-right: 12px;
      }

      .selected-options {
        display: table;

        .selected-option {
          display: table-row;

          & > div {
            display: table-cell;
          }
        }
      }
    }
  }

  .fa {
    margin: 3px;
  }
}

.customer-option {
  padding: 10px;

  .customer-symbol {
    width: 70px;
    line-height: 20px
    text-align: center;
  }

  .customer-level-symbol {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 3px;

    &.regular {
      background-color: #d0d0d0;
      border: 1px solid #b3b3b3;
    }

    &.vip {
      background-color: #ca4e0f;
    }
  }

  .customer-remove-symbol {
    background-color: #fcbe46;
    width: 32px;
    height: 32px;
    text-align: center;
    color: white;
    line-height: 32px;
    border-radius: 5px;
    font-size: 23px
  }
}

/* New Design END */
