#resNew {
  #customerList {
    height: 80vh;

    dl.customer-option {
      border-bottom: 1px solid #b3b3b3;
    }
  }
}

.customer {
  footer {
    ul {
      li {
        margin-right: 3px;

        .search-symbol {
          position: absolute;
          color: white;
          top: 8px;
          left: 8px;
        }
      }
    }
  }

  #customerInfo #basic select.vip {
    border-color: #b0450d !important;
    background-color: #ca4e0f !important;
  }
}

#customer {
  #resultList {
    ul {
      li {
        padding-left: 0;
      }
    }
  }

  #customerInfo {
    dl {
      dd, dt {
        padding: 0 3px 0 3px;
      }

      input[type="date"] {
        width: 186px !important;
      }
    }

    input.BTNtarco, a.BTNtarco {
      background: #97bfb8;
      border-color: #60938a;
    }
  }
}
