.setting {
  #content {
    .context {
      padding-left: 20px;
    }

    #contacts {
      dl dt {
        width: 160px;
      }
    }
  }

  #content #busHour dl dt {
    width: 110px;
  }

  .BTNopenclose + label:before, .BTNopenclose + label:after, .BTNalwaysIN + label:before, .BTNalwaysIN + label:after {
    width: 4em;
  }

  #sideNav {
    dl dt a {
      width: 164px;
      padding: 20px 0px 20px 0px;
    }
    dl a {
      width: 164px;
      padding: 20px 0px 20px 0px;
    }

    dd {
      display: none;
    }

    dt.here + dd {
      display: block
    }
  }

  input[type="date"] {
    width: 182px !important;
  }

  .repeating-sentence {
    margin-left: 10px;
  }

  #content .formRow input[type="number"] {
    width: 90px;
  }

  #doStaff .BTNyesno + label:before, #doStaff .BTNyesno + label:after {
    width: 4em;
  }

  #weeklyFrameSetting, #MonthlyFrameSetting {
    .BTNselect > div > label {
      border-radius: 0;
      border-right: 1px solid #A3A3A3;
    }

    .BTNselect > div:first-of-type label {
      border-radius: 5px 0 0 5px;
    }

    .BTNselect > div:last-of-type label {
      border-radius: 0 5px 5px 0;
      border-right: 0;
    }
  }

  #shopSelect, #belong, #category, .check-area, .checkbox {
    label {
      display: inline-block;
    }

    input[type="checkbox"] + label,  input[type="radio"] + label {
      &:before {
        content: " ";
        margin-right: 28px;
      }
    }

    input[type="checkbox"]:checked + label,  input[type="radio"]:checked + label {
      &:before {
        font-family: "FontAwesome";
        content: "\f00c";
        color: #00A54E;
        margin-right: 12px;
      }
    }

    .checkbox dd input[type="checkbox"] + label {
      width: initial;
      display: inline-block;
    }
  }

  #customize-table {
    display: table;

    dl.header {
      border: 0;
      background-color: #f2f2f2;
    }

    dl {
      display: table-row;

      dt, dd {
        display: table-cell;
        padding: 10px;
      }
    }

    // menu staff options
    &.menu-staffs-table {
      width: 100%;

      dt.staff-name {
        width: 150px;
      }

      dd.capability {
        width: 170px;
      }
    }
  }

  #new_menu {
    .max-seat {
      margin-left: 110px;
    }
  }
}

#footerav {
  li {
    margin-left: 3px;
    margin-right: 3px;
  }
}

#content .formRow dl.new-category-area:first-of-type{
 border-top-left-radius: 0;
 border-top-right-radius: 0;
}

#new-categories {
  .new-category-area {
    input {
      margin-left: 46px;
    }

    a {
      margin-left: 10px;
    }
  }

  dl.new-category-row {
    padding-left: 20px;

    dd.remove {
      padding-left: 10px;
    }
  }
}
