#resNew {
  #customers {
    min-width: 210px;

    #customerList {
      height: 70vh;
      overflow-y: scroll;
      overflow-x: hidden;
      -webkit-overflow-scrolling: touch;

      & * {
        -webkit-transform: translate3d(0,0,0);
      }

      dl.customer-option {
        border-bottom: 1px solid #b3b3b3;
        min-height: 55px;
        position: relative;
        -webkit-transform: translate3d(0,0,0);
      }
    }
  }
}

.customer {
  footer {
    ul {
      li {
        margin-right: 3px;

        .search-symbol {
          position: absolute;
          color: white;
          top: 8px;
          left: 8px;
        }
      }
    }
  }

  #customerInfo #basic select.vip {
    border-color: #b0450d !important;
    background-color: #ca4e0f !important;
  }
}

#customer {
  #resultList {
    ul {
      li {
        padding-left: 0;
      }
    }

    .processing-bar {
      text-align: left;
      opacity: 0.7;
      position: absolute;
      top: 400px;
      left: 50px;
    }
  }

  #customerInfo {
    dl {
      dd, dt {
        padding: 0 3px 0 3px;
      }

      input[type="date"] {
        width: 186px !important;
      }
    }

    input.BTNtarco, a.BTNtarco {
      background: #97bfb8;
      border-color: #60938a;
    }

    #resList {
      #record {
        padding-top: 0;
      }

      .date {
        width: 70px;
      }

      .time {
        width: 60px;
      }

      .year {
        position: relative;
      }
    }
  }

  #customerInfoEdit .tabs a {
    width: 40%;
  }

  #new-customer-btn {
    width: 195px;
    margin: 7px 0 3px 5px;
  }
}

strong.no-more-customer {
  padding: 16px;
  display: block;
  color: white;
  background-color: #ca4e0e;
}
