#customerList {
  height: 80vh;
}

.customer {
  footer {
    ul {
      li {
        margin-right: 3px;

        .search-symbol {
          position: absolute;
          color: white;
          top: 8px;
          left: 8px;
        }
      }
    }
  }

  #customerInfo #basic select.vip {
    border-color: #b0450d !important;
    background-color: #ca4e0f !important;
  }
}

#customer {
  #resultList {
    ul {
      li {
        padding-left: 0;
      }
    }
  }

  #customerInfo {
    dl {
      dd, dt {
        padding: 0 3px 0 3px;
      }

      input[type="date"] {
        width: 186px !important;
      }
    }
  }
}
