.resNew {
  #resNew {
    #customers {
      min-width: 300px;

      #customerList {
        color: #444;

        dl {
          padding-left: 0px;

          dt {
            width: 176px;
            word-wrap: break-word;
            font-weight: normal;
            box-sizing: border-box;
            padding-right: 15px;

            .place {
              text-align: right;
            }
          }
        }
      }
    }
  }
}

#resNew {
  input[type="date"] {
    width: 190px !important;
  }

  #start_time_date_part {
    margin-right: 6px;
  }

  #customers {
    min-width: 300px;

    #customerList {
      color: #444;

      dl {
        padding-left: 0px;

        dt {
          width: 160px;
          word-wrap: break-word;
          font-weight: normal;
          box-sizing: border-box;
          padding-right: 0px;

          .place {
            text-align: right;
          }
        }
      }
    }
  }
}

#manager {
  #resList {
    height: 100vh;

    a.btn {
      padding: 15px;
      height: 0;
      line-height: 0;
    }

    .calendar {
      padding-left: 0;
    }

    .reservation-states {
      width: 26px;
    }

    a.noshow, a.checked_out {
      color: #B3B3B3
    }

    a.customer-link {
      display: inline-block;
      padding: 0;
      color: #97bfb8;
      margin-right: 12px;
      margin-bottom: 12px;
      border-bottom: 0;
    }
  }

  #resNew #customers ul {
    width: 145px;

    li {
      padding-left: 12px;
    }
  }

  #calendar {
    width: 400px;
  }

  #calStatus {
    width: 170px;

    .reservation-state {
      margin-right: 3px;
    }
  }
}

footer {
  button {
    margin-left: 6px;
  }

  .fa-chevron-right {
    color: #dadada;
  }
}

.select2-container {
  min-width: 150px;
}
