$red: #FF0000;
$gray: #333333;
$light_gray: #CCCCCC;
$white: #FFFFFF;
$danger: #d9534f;
$green1: #97bfb8;
$green2: #60938a;


/* Overwrite Bootstrap START */
* {
  box-sizing: initial;

  &:before, &:after {
    box-sizing: initial;
  }
}

label {
  display: inline;
  font-weight: normal;
}
/* Overwrite Bootstrap END */


/* Overwrite START */
header {
  z-index: 9999999;

  #shop {
    color: #000000;
  }

  #NAVcaution a strong {
    background-color: $red;
    border-radius: 50%
  }
}

#footer {
  position: initial;
  margin-top: 120px;
}

a, button {
  &.btn {
    color: $white
  }

  &.btn-default {
    // background-color: $green1;
    // border-color: $green2;
    color: $gray;
    background-color: $white;
    border-color: $light_gray;
  }

  &.btn-danger {
    color: $white;
    background-color: $danger;
    border-color: #d43f3a;
  }
}

table.table {
  width: initial;
}

#resNew {
  #customers {
    min-width: 300px;

    #customerList {
      color: #444;

      dl {
        padding-left: 0px;

        dt {
          width: 200px;
          word-wrap: break-word;
          font-weight: normal;
          box-sizing: border-box;
          padding-right: 15px;

          .place {
            text-align: right;
          }
        }
      }
    }
  }
}

input[type="time"] {
  width: 120px;
}
input {
  padding: 8px;
}

input[type="date"] {
  padding: 0 25px 0 10px;
}

button {
  border-radius: 6px; /* 記述無し */
  line-height: 50px;
  color: #fff;
  font-size: 23pt;
  height: 50px;
  line-height: 50px;
}

footer {
  button {
    margin-left: 6px;
  }

  .fa-chevron-right {
    color: #dadada;
  }
}

#manager {
  #resList {
    height: 100vh;

    a.btn {
      padding: 15px;
      height: 0;
      line-height: 0;
    }

    .calendar {
      padding-left: 0;
    }

    .reservation-states {
      width: 26px;
    }

    a.noshow, a.checked_out {
      color: #B3B3B3
    }

  }

  #resNew #customers ul {
    width: 145px;

    li {
      padding-left: 12px;
    }
  }

  #calendar {
    width: 400px;
  }

  #calStatus {
    width: 200px;

    .reservation-state {
      margin-right: 3px;
    }
  }
}

#customer {
  #resultList {
    ul {
      li {
        padding-left: 0;
      }
    }
  }
}

.customer {
  footer {
    ul {
      li {
        margin-right: 3px;
       }
    }
  }
}

button[disabled], .disabled {
  opacity: .45;
  cursor: not-allowed;
}

.modal-header {
  padding: 15px 15px 0px 15px;
}

.modal-content {
  top: 100px;
}

button.BTNyellow, a.BTNyellow, .BTNyellow, span.checkin, span.checked_in {
  background-color: #fcbe46;
  border: 1px #e6a21f solid;
}
button.BTNorange, a.BTNorange, .BTNorange, .vip, span.pending {
  background-color: #ca4e0e;
  border: 1px #b0450d solid;
}

a.BTNgray, .BTNgray {
  background-color: #888;
  border-color: #666;
}

a.BTNtarco, .BTNtarco, span.reserved {
  background-color: #60938a;
  border-color: #488479;
}

span.normal, i.normal, span.checkout, span.checked_out {
  background-color: #d0d0d0;
  border: 1px solid #b3b3b3;
}

.noshow {
  background-color: #aecfc8;
  border: 1px solid #84b3aa;
}

.danger {
  color: #d9534f;
}

/* Overwrite END */

/* New Design START */
.container {
  .tbd-items {
    border-bottom: 1px solid $gray;
    padding: 10px 0;
  }
}

form {
  #error_explanation {
    ul li {
      display: list-item;
    }
  }

  abbr.required {
    float: left;
    padding-right: 3px;
    color: $red;
  }

  .field_with_errors {
    label {
      color: $red;
    }

    input {
      border: 1px solid $red;
    }
  }

  label.control-label {
    padding-top: 11px;
  }
}

form {
  div.form-block {
    padding-bottom: 5px;
    padding-top: 5px;
    border-bottom: 1px solid $light_gray;

    // menu form, staff form
    &.staff-of-menu, &.menu-of-staff {
      select {
        margin-bottom: 18px;
      }

      input {
        width: 150px;
        margin-left: 12px;
        margin-right: 12px;
      }

      .selected-options {
        display: table;

        .selected-option {
          display: table-row;

          & > div {
            display: table-cell;
          }
        }
      }
    }
  }

  .fa {
    margin: 3px;
  }
}

.customer-option {
  padding: 10px;
  cursor: pointer;

  &.here {
    background-color: #dceae7;
  }

  .customer-symbol {
    width: 40px;
    line-height: 20px;
    text-align: center !important;
  }

  .customer-remove-symbol {
    background-color: #fcbe46;
    width: 32px;
    height: 32px;
    text-align: center;
    color: white;
    line-height: 32px;
    border-radius: 5px;
    font-size: 23px;
    cursor: pointer;
  }
}

.customer-level-symbol, .reservation-state {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  vertical-align: middle;
}

#customerLevels, #resultList {
  .wording {
    vertical-align: middle;
    margin-left: 3px;
  }
}
/* New Design END */
