$red: #FF0000;
$gray: #333333;
$light_gray: #CCCCCC;
$white: #FFFFFF;
$danger: #d9534f;
$green1: #97bfb8;
$green2: #60938a;


/* Overwrite START */
header {
  z-index: 9999999;

  #shop {
    color: #000000;
  }
}

#footer {
  position: initial;
  margin-top: 120px;
}

a, button {
  &.btn {
    color: $white
  }

  &.btn-default {
    // background-color: $green1;
    // border-color: $green2;
    color: $gray;
    background-color: $white;
    border-color: $light_gray;
  }

  &.btn-danger {
    color: $white;
    background-color: $danger;
    border-color: #d43f3a;
  }
}

table.table {
  width: initial;
}

/* Overwrite END */

/* New Design START */
.container {
  margin-top: 90px;

  .tbd-items {
    border-bottom: 1px solid $gray;
    padding: 10px 0;
  }
}

form {
  #error_explanation {
    ul li {
      display: list-item;
    }
  }

  abbr.required {
    float: left;
    padding-right: 3px;
    color: $red;
  }

  .field_with_errors {
    label {
      color: $red;
    }

    input {
      border: 1px solid $red;
    }
  }

  label.control-label {
    padding-top: 11px;
  }
}

form {
  div.form-block {
    padding-bottom: 5px;
    padding-top: 5px;
    border-bottom: 1px solid $light_gray;

    // menu form, staff form
    &.staff-of-menu, &.menu-of-staff {
      select {
        margin-bottom: 18px;
      }

      input {
        width: 120px;
        margin-left: 12px;
        margin-right: 12px;
      }
    }
  }

  .fa {
    margin: 3px;
  }
}
/* New Design END */
