/* TEST */
$red: #FF0000;
$gray: #333333;
$light_gray: #CCCCCC;
$white: #FFFFFF;
$danger: #d9534f;
$green1: #97bfb8;
$green2: #60938a;


/* Overwrite Bootstrap START */
* {
  box-sizing: border-box;

  &:before, &:after {
    box-sizing: border-box;
  }
}

label {
  display: inline;
  font-weight: normal;
}

.checkbox {
  margin-top: initial;
  margin-bottom: initial;
}
/* Overwrite Bootstrap END */


/* Overwrite START */
header {
  z-index: 999;

  #shop {
    color: #000000;
  }

  #NAVcaution a strong {
    background-color: $red;
    border-radius: 50%
  }
}

#footer {
  position: initial;
  margin-top: 120px;
}

a, button {
  &.btn {
    color: $white
  }

  &.btn-reset {
    line-height: initial !important;
  }

  &.btn-default {
    color: $gray;
    background-color: $white;
    border-color: $light_gray;
  }

  &.btn-danger {
    color: $white;
    background-color: $danger;
    border-color: #d43f3a;
  }

  &.btn-bold {
    font-weight: bold;
  }

  &.btn-light-green {
    color: $white;
    background-color: #97bfb8;
    border-color: #60938a;
  }

  &.btn-yellow {
    color: $white;
    background-color: #fcbe46;
    border: 1px #e6a21f solid;

    &:hover {
      color: $white;
    }
  }

  &.btn-inline {
    display: inline-block;
  }
}

table.table {
  width: initial;
}

#content .tableTTL .check {
  width: 77px;
}

input[type="time"] {
  width: 150px;
}
input {
  padding: 8px;
}

input[type="date"] {
  padding: 0 25px 0 10px;
}

button {
  border-radius: 6px;
  line-height: 50px;
  color: #fff;
  font-size: 23pt;
  height: 50px;
  line-height: 50px;
}

button.close {
  height: 25px;
}

button[disabled], a.disabled, input[disabled] {
  opacity: .45;
  cursor: not-allowed !important;
}

.modal-header {
  padding: 15px 15px 0px 15px;
}

.modal-content {
  top: 100px;
}

button.BTNyellow, a.BTNyellow, .BTNyellow, span.checkin, span.checked_in {
  background-color: #fcbe46;
  border: 1px #e6a21f solid;
}
button.BTNorange, a.BTNorange, .BTNorange, .vip, span.pending {
  background-color: #ca4e0e;
  border: 1px #b0450d solid;
}

a.BTNgray, .BTNgray {
  background-color: #888;
  border-color: #666;
}

a.BTNtarco, .BTNtarco {
  background-color: #97bfb8;
  border-color: #488479;
}

span.reserved {
  background-color: #60938a;
  border-color: #488479;
}

span.normal, i.normal, span.regular, i.regular, span.checkout, span.checked_out {
  background-color: #d0d0d0;
  border: 1px solid #b3b3b3;
}

.noshow {
  background-color: #aecfc8;
  border: 1px solid #84b3aa;
}

.danger {
  color: #d9534f;
}

header dl:first-child dd {
  padding-right: 60px;
}

#content #tempHoliday {

  .date {
    width: 228px;
  }

  .startTime {
    width: 148px;
  }

  .endTime {
    width: 135px;
  }
}

header a.setting {
  padding-top: 0;

  i {
    font-size: 5em !important;
  }
}

#NAVnewResv i.fa, #NAVcustomers i.fa, #NAVaddCustomer i.fa {
  display: block;
  margin-bottom: 6px;
}
/* Overwrite END */

/* New Design START */
.container {
  .tbd-items {
    border-bottom: 1px solid $gray;
    padding: 10px 0;
  }
}

form {
  abbr.required {
    float: left;
    padding-right: 3px;
    color: $red;
  }

  .field_with_errors {
    label {
      color: $red;
    }

    input {
      border: 1px solid $red;
    }
  }

  label.control-label {
    padding-top: 11px;
  }
}

form {
  div.form-block {
    padding-bottom: 5px;
    padding-top: 5px;
    border-bottom: 1px solid $light_gray;

    // menu form, staff form
    &.staff-of-menu, &.menu-of-staff {
      select {
        margin-bottom: 18px;
      }

      input {
        width: 150px;
        margin-left: 12px;
        margin-right: 12px;
      }

      .selected-options {
        display: table;

        .selected-option {
          display: table-row;

          & > div {
            display: table-cell;
          }
        }
      }
    }
  }

  .fa {
    margin: 3px;
  }
}

.customer-option {
  padding: 10px;
  cursor: pointer;

  &.here {
    background-color: #dceae7;
  }

  .customer-symbol {
    width: 40px;
    line-height: 20px;
    text-align: center !important;
  }

  .customer-remove-symbol {
    background-color: #fcbe46;
    width: 32px;
    height: 32px;
    text-align: center;
    color: white;
    line-height: 32px;
    border-radius: 5px;
    font-size: 23px;
    cursor: pointer;
  }
}

.customer-level-symbol, .reservation-state {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  vertical-align: middle;
}

#customerLevels, #resultList {
  .wording {
    vertical-align: middle;
    margin-left: 3px;
  }
}

#manager {
  #select2-select2-results {
    z-index: 1000;
  }

  .select2-container--bootstrap {
    .select2-results > .select2-results__options {
      max-height: 300px;
    }

    .select2-results__group {
      color: #333333;
      font-size: 16px;
    }
  }
}

.processing-bar {
  text-align: center;
  background-color: #337ab7 !important;
  opacity: 0.87;
  color: #FFF
}

#error_explanation {
  color: #f00;

  ul {
    list-style: none;
    margin: 0 0 18px 0;

    li.error-list {
      display: list-item;
    }
  }
}

#logo {
  font-family: 'Tillana', cursive;
  font-size: 32px;
  padding-top: 0px;
}

input#user_remember_me {
  display: inline-block;
  width: initial;
}

/* New Design END */
