.dropdown {
  .dropdown-menu {
    a {
      font-size: 15px;
      color: #97bfb8;
      text-decoration: none;
      text-align: left;
    }

    .dropdown-header {
      font-size: 15px;
      color: #333;

      a {
        display: inline;
      }
    }
  }
}
