header {
  #shop {
    color: #000000;
  }
}

.container {
  margin-top: 90px;

  .tbd-items {
    border-bottom: 1px solid #333;
    padding: 10px 0;
  }

  .field_with_errors {
    label {
      color: #FF0000;
    }
    input {
      border: 1px solid #FF0000;
    }
  }
}

#footer {
  position: initial;
  margin-top: 120px;
}
