$red: #FF0000;
$gray: #333333;
$light_gray: #CCCCCC;

header {
  z-index: 9999999;

  #shop {
    color: #000000;
  }
}

.container {
  margin-top: 90px;

  .tbd-items {
    border-bottom: 1px solid $gray;
    padding: 10px 0;
  }
}

form {
  #error_explanation {
    ul li {
      display: list-item;
    }
  }

  abbr.required {
    float: left;
    padding-right: 3px;
    color: $red;
  }

  .field_with_errors {
    label {
      color: $red;
    }

    input {
      border: 1px solid $red;
    }
  }

  label.control-label {
    padding-top: 11px;
  }
}

form {
  div.form-block {
    padding-bottom: 5px;
    padding-top: 5px;
    border-bottom: 1px solid $light_gray;
  }
}

#footer {
  position: initial;
  margin-top: 120px;
}
