@charset "utf-8";
/* CSS Document */

html, body, ul, ol, li, dl, dt, dd, p, h1, h2, h3, h4, h5, form, fieldset {
margin: 0;
padding: 0;
border: 0;
}
ul li, dt, dd, dl li {
list-style: none;
}
/*start hide from IE mac*/
html {
  min-height: 100%;
  margin-bottom: 1px;
}
/*end hide from IE mac*/
body {
  color: 333333;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 12pt;
  margin: 0;
  padding: 0px;
  height: 100%;
  color: #555;
}
img {
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
}
a, a:link, a:visited {
  color: #97bfb8;
  text-decoration: none;
}
a:hover { color: #60938a; }
a img:hover, #header .logo a:hover, #header #phone a:hover, #footerLogo a:hover, #indexUSP dl dd a:hover {
  opacity: 0.7;
}
.wrapper {
  background-color: transparent;
  margin: 0 auto;
  width: 980px;
}
.floatR {
  float: right;
}
.floatL {
  float: left;
}
.error, .caution {
  border: 1px solid;
  padding: 10px 20px;
  margin-bottom: 20px;
}
.error {
  background: #fcecf3;
  border-color: #f7c5db;
}
.caution {
  background: #fffeeb;
  border-color: #fff100;
}
p.caution {
  font-size: 90%;
  color: #CF0003;
  line-height: 18px;
}
.table {
  width: 100%;
  display: table;
  border-collapse:collapse;
}
.tableRow {
  display: table-row-group;
  margin: 0;
  width: 100%;
}
.tableCell {
  display: table-cell;
  vertical-align: middle;
}
.tableRow dt, .tableRow dd {
  background: #fff;
  border: 1px solid #CCC;
  display: table-cell;
  padding: 10px 15px;
}
.tableRow dt {
  background: #eaeaea;
  color: #666;
  text-align: center;
}
input, select {
  border-radius: 4px; /* 記述無し */
  -moz-border-radius: 4px; /* Firefox */
  -webkit-border-radius: 4px; /* Google Chrome、Safari */
  -o-border-radius: 4px; /* Opera */
  -ms-border-radius: 4px; /* Internet Explorer */
  border: 1px solid #CCCCCC;
  background: #fff;
  line-height: 1.5;
  font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
input, select {
  padding: 8px 0;
  text-indent: 10px;
}
input:placeholder { color: #ccc; }
input.BTNorange, input.BTNyellow, input.BTNtarco, a.BTNorange, a.BTNorange:link, a.BTNorange:visited, a.BTNyellow, a.BTNyellow:link, a.BTNyellow:visited, a.BTNtarco, a.BTNtarco:link, a.BTNtarco:visited {
  border-radius: 6px; /* 記述無し */
  -moz-border-radius: 6px; /* Firefox */
  -webkit-border-radius: 6px; /* Google Chrome、Safari */
  -o-border-radius: 6px; /* Opera */
  -ms-border-radius: 6px; /* Internet Explorer */
  line-height: 50px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  display: block;
  height: 50px;
  text-decoration: none;
  padding: 0 15px;
  border: 1px solid;
  cursor: pointer;
  text-indent: 0;
}
a.BTNorange, a.BTNorange:link, a.BTNorange:visited, a.BTNyellow, a.BTNyellow:link, a.BTNyellow:visited, a.BTNtarco, a.BTNtarco:link, a.BTNtarco:visited { display: block; }
input.BTNorange, a.BTNorange { background: #ca4e0e; border-color: #b0450d; }
input.BTNorange:hover, a.BTNorange:hover { background: #b0450d; border-color: #984418; }
input.BTNyellow, a.BTNyellow { background: #fcbe46; border-color: #e6a21f; }
input.BTNyellow:hover, a.BTNyellow:hover { background: #e6a21f; border-color: #d79a23; }
input.BTNtarco, a.BTNtarco { background: #97bfb8; border-color: #60938a; }
input.BTNtarco:hover, a.BTNtarco:hover { background: #60938a; border-color: #488479; }
h1 {
  color: #ca4e0e;
  padding: 20px 0 30px 0;
  font-size: 30px;
  line-height: 1.7;
}
h2 {
  font-size: 16px;
  margin-bottom: 20px;
}
.content {
  margin: 20px;
}
/*----------------*/
/* Toruya Manager */
/*----------------*/
#manager header {
  background: #ca4e0e;
  color: #fff;
}
#manager header h1 {
  width: 99px;
  height: 31px;
  padding: 10px 15px;
    margin: 0;
}
#manager header a {
  display: block;
  background: transparent url(../images/screen/logo_white.png) left top;
  width: 99px;
  height: 31px;
  text-indent: -9999px;
}
/* Login Page */
#login {
  width: 300px;
  margin: auto;
  padding: 20px 0 40px 0;
}
#login h2 {
  text-align: center;
  padding-bottom: 20px;
}
#login input { width: 100%; }
#login div { padding-bottom: 15px; }
/* Shop Select */
.shopSelect h2 { text-align: center; }
.shopSelect #shopNav {
  display: table;
  border-spacing: 20px;
  margin: auto;
}
.shopSelect #shopNav div {
  display: table-cell;
}
.shopSelect a.BTNorange span { font-weight: normal; }
.shopSelect a.BTNorange {
  text-align: center;
  line-height: 1.4;
  height: auto;
  padding: 10px 20px;
}
/* Navigations */
#manager nav, #manager .contents {
  float: left;
}
#manager nav {
  background: #eee;
  padding-top: 20px;
  width: 200px;
}
#manager nav select {
  -moz-box-sizing: border-box;
    box-sizing: border-box;
  width: 100%;
  text-indent: 0;
}
#manager nav #shops { padding: 0 20px 20px 20px; }
#manager nav dl a, #manager nav dl a:link, #manager nav dl a:visited {
  display: block;
  padding: 20px;
  color: #666;
}
#manager nav dl ul a, #manager nav dl ul a:link, #manager nav dl ul a:visited {
  background: #dfdfdf;
  padding-left: 40px;
}
#manager nav dl.active a, #manager nav dl.active a:link, #manager nav dl.active a:visited { background: #fff; }
#manager nav dl.active a.here, #manager nav dl.active a.here:link, #manager nav dl.active a.here:visited {
  color: #97bfb8;
  font-weight: bold;
}
#manager nav dl a:hover, #manager nav dl ul a:hover, #manager nav dl.active a:hover { background: #ccc; }
/* Contents */
#manager .contents { padding: 20px; }
/* Footer */
#manager #footer {
  border-top: 1px solid #e0e0e0;
  color: #ccc;
  font-size: 14px;
  clear: both;
}
/*clear all*/
#contents:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; 
}
