/* Login Page */
#login {
  width: 300px;
  margin: auto;
  padding: 20px 0 40px 0;
}
#login h2 {
  text-align: center;
  padding-bottom: 20px;
}
#login input { width: 100%; }
#login div { padding-bottom: 15px; }
