@charset "utf-8";
/* CSS Document */

html, body, ul, ol, li, dl, dt, dd, p, h1, h2, h3, h4, h5, form, fieldset {
margin: 0;
padding: 0;
border: 0;
}
ul li, dt, dd, dl li {
list-style: none;
}
/*start hide from IE mac*/
html {
  min-height: 100%;
  margin-bottom: 1px;
  position: relative;
}
/*end hide from IE mac*/
body {
  background: #f2f2f2;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 12pt;
  margin: 0;
  padding: 75px 0 72px 0;
  height: 100%;
  color: #555;
}
img {
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
}
a, a:link, a:visited {
  color: #97bfb8;
  text-decoration: none;
}
a:hover { color: #60938a; }
a img:hover, #header .logo a:hover, #header #phone a:hover, #footerLogo a:hover, #indexUSP dl dd a:hover {
  opacity: 0.7;
}
.wrapper {
  background-color: transparent;
  margin: 0 auto;
  width: 980px;
}
.floatR {
  float: right;
}
.floatL {
  float: left;
}
div.error, div.caution {
  border: 1px solid;
  padding: 10px 20px;
  margin-bottom: 20px;
}
div.error {
  background: #fcecf3;
  border-color: #f7c5db;
}
div.caution {
  background: #fffeeb;
  border-color: #fff100;
}
p.caution, span.caution {
  font-size: 90%;
  color: #CF0003;
  line-height: 18px;
}
.table {
  width: 100%;
  display: table;
  border-collapse:collapse;
}
.tableRow {
  display: table-row-group;
  margin: 0;
  width: 100%;
}
.tableCell {
  display: table-cell;
  vertical-align: middle;
}
.tableRow dt, .tableRow dd {
  background: #fff;
  border: 1px solid #CCC;
  display: table-cell;
  padding: 10px 15px;
}
.tableRow dt {
  background: #eaeaea;
  color: #666;
  text-align: center;
}
input, select {
  border-radius: 4px; /* 記述無し */
  -moz-border-radius: 4px; /* Firefox */
  -webkit-border-radius: 4px; /* Google Chrome、Safari */
  -o-border-radius: 4px; /* Opera */
  -ms-border-radius: 4px; /* Internet Explorer */
  border: 1px solid #CCCCCC;
  background: #fff;
  line-height: 1.5;
  font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
input { padding: 8px 0; }
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url(asset-path("screen/calendar_select.png"));
  background-repeat: no-repeat;
  background-position: right 10px center;
  line-height: 35px;
  height: 35px;
  padding: 0 25px 0 15px;
}
input:placeholder { color: #ccc; }
input.BTNorange, input.BTNyellow, input.BTNtarco, a.BTNorange, a.BTNorange:link, a.BTNorange:visited, a.BTNyellow, a.BTNyellow:link, a.BTNyellow:visited, a.BTNtarco, a.BTNtarco:link, a.BTNtarco:visited, a.BTNgray, a.BTNgray:link, a.BTNgray:visited {
  border-radius: 6px; /* 記述無し */
  -moz-border-radius: 6px; /* Firefox */
  -webkit-border-radius: 6px; /* Google Chrome、Safari */
  -o-border-radius: 6px; /* Opera */
  -ms-border-radius: 6px; /* Internet Explorer */
  line-height: 50px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  display: block;
  height: 50px;
  text-decoration: none;
  padding: 0 15px;
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
  text-indent: 0;
}
a.BTNorange, a.BTNorange:link, a.BTNorange:visited, a.BTNyellow, a.BTNyellow:link, a.BTNyellow:visited, a.BTNtarco, a.BTNtarco:link, a.BTNtarco:visited, a.BTNgray, a.BTNgray:link, a.BTNgray:visited { display: block; }
input.BTNorange, a.BTNorange { background: #ca4e0e; border-color: #b0450d; }
input.BTNorange:hover, a.BTNorange:hover { background: #b0450d; border-color: #984418; }
input.BTNyellow, a.BTNyellow { background: #fcbe46; border-color: #e6a21f; }
input.BTNyellow:hover, a.BTNyellow:hover { background: #e6a21f; border-color: #d79a23; }
input.BTNtarco, a.BTNtarco { background: #97bfb8; border-color: #60938a; }
input.BTNtarco:hover, a.BTNtarco:hover { background: #60938a; border-color: #488479; }
input.BTNgray, a.BTNgray { background: #ccc; border-color: #666; }
input.BTNgray:hover, a.BTNgray:hover { background: #888; border-color: #666; }
h1 {
  color: #ca4e0e;
  padding: 20px 0 30px 0;
  font-size: 30px;
  line-height: 1.7;
}
h2 {
  font-size: 16px;
  margin-bottom: 20px;
}
a:hover, a img:hover {
  opacity: 0.7;
}
/*----------------*/
/* Toruya Manager */
/*----------------*/
header {
  background: #464342;
  color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  height: 75px;
  z-index: 1;
}
header dl { padding: 16px 28px 0; }
header dl:first-child { float: left; }
header dl:last-child { float: right; }
header dl:first-child dd { padding-right: 28px; }
header dl:last-child dd { padding-left: 28px; }
header dl dd { 
  display: inline-block;
  vertical-align: middle;
}
header a, header a:link, header a:visited {
  display: block;
  background-position: center top;
  background-color: transparent;
  background-repeat: no-repeat;
  width: 45px;
  text-align: center;
  font-size: 8px;
  padding-top: 35px;
  color: #d0d0d0;
  position: relative;
}
header #NAVhome a { background-image: url(asset-path("screen/mainnav_home.png")); }
header #NAVtoday a { background-image: url(asset-path("screen/mainnav_today.png")); }
header #NAVcaution a { background-image: url(asset-path("screen/mainnav_caution.png")); }
header #NAVhelp a { background-image: url(asset-path("screen/mainnav_help.png")); }
header #NAVsetting a { background-image: url(asset-path("screen/mainnav_setting.png")); }
header select {
  font-size: 15px;
  background-color: #ddd;
}
header #NAVcaution a strong {
  position: absolute;
  right: 0;
  top: 0;
  text-align: center;
  color: #fff;
  display: block;
  width: 20px;
  height: 20px;
  font-weight: bold;
  line-height: 20px;
    font-size: 11px;
}
/* Footer */
footer {
  background: #d0d0d0;
  color: #666;
  position: fixed;
  bottom: 0;
  width: 100%;
}
#footer .content { margin: 20px; }
/* Login Page */
#login {
  width: 300px;
  margin: auto;
  padding: 20px 0 40px 0;
}
#login h2 {
  text-align: center;
  padding-bottom: 20px;
}
#login input { width: 100%; }
#login div { padding-bottom: 15px; }
/* Shop Select */
.shopSelect h2 { text-align: center; }
.shopSelect #shopNav {
  display: table;
  border-spacing: 20px;
  margin: auto;
}
.shopSelect #shopNav div {
  display: table-cell;
}
.shopSelect a.BTNorange span { font-weight: normal; }
.shopSelect a.BTNorange {
  text-align: center;
  line-height: 1.4;
  height: auto;
  padding: 10px 20px;
}
/* Contents */
.contents {
  padding: 20px;
  height: 100%;
}
body.setting { padding-bottom: 0; }
.setting .contents { 
  margin: 0;
  padding: 0;
}
.contents .sidel {
  color: #858585;
  padding-right: 20px;
}
.contBody {
  width: 100%;
  height: 100%;
}
#sideNav, #content { 
    vertical-align: top;
  display: table-cell;
}
.setting #content { width: 100%; }
#sideNav {
  background: #aaa;
  width: 250px;
    border-right: 1px solid #858585;
  height: 100%;
}
#sideNav dl a, #sideNav dl a:link, #sideNav dl a:visited {
  display: block;
  color: #E8E8E8;
  background: #aaa;
  padding: 20px;
  width: 150px;
}
#sideNav dl dt, #sideNav dl dd ul li a, #sideNav dl dd ul { border-bottom: 1px solid #858585; }
#sideNav dl dd ul li:last-child a { border: 0px; }
#sideNav dl dd ul li { padding-left: 20px; }
#sideNav dl a:hover { color: #d5d5d5; }
#sideNav dl dt.here a, #sideNav dl dd ul li.here, #sideNav dl dd ul li.here a {
  color: #6fa89f;
  background: #fff;
}
#sideNav dl dt a { text-indent: 30px; }
#sideNav dl.shop dt a { background: #aaa url(asset-path("screen/settingnav_shop.png")) no-repeat left 20px center; }
#sideNav dl.publish dt a { background: #aaa url(asset-path("screen/settingnav_publish.png")) no-repeat left 20px center; }
#sideNav dl.share dt a { background: #aaa url(asset-path("screen/settingnav_share.png")) no-repeat left 20px center; }
#sideNav dl.apps dt a { background: #aaa url(asset-path("screen/settingnav_apps.png")) no-repeat left 20px center; }
#sideNav dl.account dt a { background: #aaa url(asset-path("screen/settingnav_account.png")) no-repeat left 20px center; }
#sideNav dl.logout dt a { background: #aaa url(asset-path("screen/settingnav_logout.png")) no-repeat left 20px center; }
#content #subNav {
  background: #d0d0d0;
  border-bottom: 1px solid #858585;
  padding: 10px 20px;
}
#content #subNav h2 {
  line-height: 35px;
  text-align: center;
  margin: 0;
}
#content #subNav .btns { position: absolute; right: 20px; top: 10px; }
#content #subNav a {
  height: 35px;
    line-height: 35px;
}
#content #about {
  margin: 20px;
  border-bottom: 1px solid #aaa;
  color: #888;
  padding: 0 15px 20px 15px;
}
#content #about p { line-height: 1.4; }
#content #about a.addNew { float: right; }
#content form {
  margin: 20px;
  padding: 0 20px;
  color: #8F8F8F;
}
#content form h3 {
  font-size: 16px;
  margin: 10px 0 5px 0;
  text-indent: 10px;
}
#content .formRow dl, #content .formRow ul { 
  border-width: 1px 1px 0 1px;
  border-style: solid;
  border-color: #DFDFDF;
  background: #fff;
  padding: 10px 20px;
}
#content .formRow dl:first-of-type {
  border-top-left-radius : 10px;
  -webkit-border-top-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  border-top-right-radius : 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topright: 10px;
}
#content .formRow dl:last-child {
  border-bottom-left-radius : 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-right-radius : 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  border-width: 1px;
}
#content form ul li, #content form dl dt, #content form dl dd {
  display: table-cell;
  vertical-align: middle;
}
#content form dl dt p, #content form dl dd input {
  padding: 10px 20px;
}
#content .rowTTL, #content form dl dt, #content .tableTTL .check { padding-right: 20px; }
#content .rowTTL, #content form dl dt, #content .tableTTL { position: relative; }
#content form dl dt strong, #content form h3 strong {
  color: #fff;
  background: #CF0003;
  display: inline-block;
  font-size: 10px;
  padding: 3px 5px;
  margin-left: 10px;
  border-radius: 5px; /* 記述無し */
  -moz-border-radius: 5px; /* Firefox */
  -webkit-border-radius: 5px; /* Google Chrome、Safari */
  -o-border-radius: 5px; /* Opera */
  -ms-border-radius: 5px; /* Internet Explorer */
  text-indent: 0;
}
#content form dl dt strong {
  position: absolute;
  right: 20px;
}
#content form dl dd input {
  border: 0px;
  color: #333;
}
#content form ul.tableTTL {
  background: transparent;
  border: 0px;
  text-align: center;
  color: #BABABA;
  font-size: 14px;
}
#content #shopNames dl dt, #content #contacts dl dt, #content #staffList .rowTTL, #content #staffList dl dt, #content #menuList .rowTTL { width: 160px; }
#content #busHour .rowTTL, #content #busHour dl dt, #content #parttime .rowTTL, #content #parttime dl dt, #content #staffList .updateTime, #content #staffInfo .familyName, #content #staffInfo .firstName, #content #parttime .inOut, #content #menuList .updateTime { width: 90px; }
#content #staffInfo dt, #content .tableTTL .check, #content .formRow .check { width: 60px; }
#content #busHour .openClose { width: 118px; }
#content #menuInfo dl dt, #content #calendarInfo dt, #content #google dt { width: 100px; }
#content #busHour .openTime, #content #busHour .closeTime, #content #parttime .startTime, #content #parttime .endsTime {
  width: 126px;
  padding: 0 5px;
}
#content .formRow .function { padding: 0 5px; }
#content .formRow .function a, #content .tableTTL .check a, #content .formRow .add a, #content form h3.menuCategory a.addNew {
  line-height: 30px;
  height: 30px;
}
#content form h3.menuCategory {
  position: relative;
  padding: 5px 0 10px 0;
}
#content form h3.menuCategory a.addNew {
  position: absolute;
  right: 0;
  top: 0;
}
#content form #category dl dd ul {
  border: none;
  padding-left: 0;
}
#content form #category dl dd ul li {
  width: 30%;
  padding-right: 10px;
}
#content .formRow .check { text-align: center; }
#content form input[type="date"], #content form input[type="time"] {
  border: none;
  background: #fffef5;
}
.BTNonoff, .BTNopenclose, .BTNyesno, .BTNinout {
  display: none;
}
.BTNonoff + label, .BTNopenclose + label, .BTNyesno + label, .BTNinout + label {}
.BTNonoff + label:before, .BTNonoff + label:after, .BTNopenclose + label:before, .BTNopenclose + label:after, .BTNyesno + label:before, .BTNyesno + label:after, .BTNinout + label:before, .BTNinout + label:after {
  display: inline-block;
  padding: .2em .5em;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
  line-height: 1.5;
  font-size: 14px;
  padding: 5px;
}
.BTNonoff + label:before, .BTNopenclose + label:before, .BTNyesno + label:before, .BTNinout + label:before {
  background: #DEDEDE;
  color: #000000;
  border-top-left-radius: .3em;
  border-bottom-left-radius: .3em;
}
.BTNonoff + label:after, .BTNopenclose + label:after, .BTNyesno + label:after, .BTNinout + label:after {
  background: #ABABAB;
  color: #ABABAB;
  border-top-right-radius: .3em;
  border-bottom-right-radius: .3em;
}
.BTNonoff + label:before, .BTNonoff + label:after, .BTNyesno + label:before, .BTNyesno + label:after, .BTNinout + label:before, .BTNinout + label:after { width: 2.5em; }
.BTNopenclose + label:before, .BTNopenclose + label:after { width: 3.5em; }
.BTNonoff + label:before { content: "OFF"; }
.BTNonoff + label:after { content: "ON"; }
.BTNyesno + label:before { content: "NO"; }
.BTNyesno + label:after { content: "YES"; }
.BTNinout + label:before { content: "OUT"; }
.BTNinout + label:after { content: "IN"; }
.BTNopenclose + label:before { content: "CLOSE"; }
.BTNopenclose + label:after { content: "OPEN"; }
.BTNonoff:checked + label:before, .BTNopenclose:checked + label:before, .BTNyesno:checked + label:before, .BTNinout:checked + label:before {
  background: #60938a;
  color: #60938a;
}
.BTNonoff:checked + label:after, .BTNopenclose:checked + label:after, .BTNyesno:checked + label:after, .BTNinout:checked + label:after {
  background: #96bfb8;
  color: #FFFFFF;
}
#content form #footerav {
  text-align: center;
  padding-top: 20px;
}
.tabs {
  width: 100%;
  display: flex;
    display: -moz-flex;
    display: -o-flex;
    display: -webkit-flex;
    display: -ms-flex;
    flex-direction: row;
    -moz-flex-direction: row;
    -o-flex-direction: row;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    justify-content: space-between;
}
.tabs a, .tabs a:link, .tabs a:visited {
  border-radius: 5px 5px 0 0; /* 記述無し */
  -moz-border-radius: 5px 5px 0 0; /* Firefox */
  -webkit-border-radius: 5px 5px 0 0; /* Google Chrome、Safari */
  -o-border-radius: 5px 5px 0 0; /* Opera */
  -ms-border-radius: 5px 5px 0 0; /* Internet Explorer */
  border: 1px solid #b3b3b3;
  background: #d0d0d0;
  font-size: 20px;
  font-weight: bold;
  line-height: 40px;
  height: 40px;
  color: #fff;
  padding: 0 20px;
  position: relative;
  bottom: -1px;
  z-index: 1px;
}
.tabs a:hover, .tabs a.here:hover {
  color: #666;
  opacity: 1;
}
.tabs a.here {
  background: #fff;
  border-bottom: 1px solid #fff;
  color: #b3b3b3;
}
.tabs a.here:hover  { background: #fff; }
.tabBody {
  border: 1px solid #b3b3b3;
  background: #fff;
}
/* Dashboard */
#dashboard, #customer {
  display: flex;
  display: -moz-flex;
  display: -o-flex;
  display: -webkit-flex;
  display: -ms-flex;
  flex-direction: row;
  -moz-flex-direction: row;
  -o-flex-direction: row;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  justify-content: space-between;
}
#calendar {
  text-align: center;
  font-size: 14px;
  min-width: 252px;
}
#calendar ul li { display: inline-block; }
#calendar .month { padding-bottom: 10px; }
#calendar .month ul {
    overflow: hidden;
    margin: 0;
    padding: 0;
  line-height: 35px;
}
#calendar .month .prev { float: left; }
#calendar .month .next { float: right; }
#calendar .month .prev a, #calendar .month .prev a:link, #calendar .month .prev a:visited, #calendar .month .next a, #calendar .month .next a:link, #calendar .month .next a:visited {
  display: inline-block;
  background: #858585;
  color: #fff;
  border-radius: 5px; /* 記述無し */
  -moz-border-radius: 5px; /* Firefox */
  -webkit-border-radius: 5px; /* Google Chrome、Safari */
  -o-border-radius: 5px; /* Opera */
  -ms-border-radius: 5px; /* Internet Explorer */
  padding: 0 10px;
}
#calendar .month select {
  width: 92px;
  background-color: #fff;
}
#calendar .month select#calYear { margin-right: 5px; }
#calendar .weekdays { border-bottom: 1px solid #858585; }
#calendar .weekdays, #calendar .days { background: #fff; }
#calendar .weekdays li, #calendar .days li { width: 12.9%; }
#calendar .weekdays li {
    display: inline-block;
    color: #666;
    text-align: center;
    margin-bottom: 3px;
    margin-top: 5px;
}
#calendar .days {
  border-bottom: 1px solid #d0d0d0;
}
#calendar .days:last-of-type { border-bottom: none; }
#calendar .days a, #calendar .days a:link, #calendar .days a:visited {
  color: #666;
  line-height: 35px;
  display: block;
  width: 100%;
}
#calendar .days .today a {
  font-weight: bold;
  color: #e6a220;
}
#calendar .days a.here, #calendar .days .today a.here {
  font-weight: bold;
  color: #fff;
  background-repeat: no-repeat;
  background-position: center center;
}
#calendar .days a.here { background-image: url(asset-path("screen/calendar_here.png")); }
#calendar .days .today a.here { background-image: url(asset-path("screen/calendar_today.png")); }
#calStatus, #customer #resultList ul {
  padding-top: 10px;
  text-align: left;
  width: 130px;
    margin: auto;
  font-size: 14px;
}
#calStatus dd, #customer #resultList ul li {
  line-height: 22px;
  padding-bottom: 5px;
  background-position: left top;
  background-repeat: no-repeat;
  padding-left: 27px;
}
#calStatus dd.checkin, #resList .checkin .calendar { background-image: url(asset-path("screen/calsts_checkin.png")); }
#calStatus dd.checkout, #resList .checkout .calendar, #customer #resultList ul li.regular { background-image: url(asset-path("screen/calsts_checkout.png")); }
#calStatus dd.noshow, #resList .noshow .calendar { background-image: url(asset-path("screen/calsts_noshow.png")); }
#calStatus dd.pending, #resList .pending .calendar, #customer #resultList ul li.vip { background-image: url(asset-path("screen/calsts_pending.png")); }
#calStatus dd.reserved, #resList .reserved .calendar { background-image: url(asset-path("screen/calsts_reserved.png")); }
#resList {
  background: #fff;
  min-width: 476px;
}
#resList dl.tableTTL, #resList a {
  border-bottom: 1px solid #B3B3B3;
  padding-left: 20px;
}
#resList dl.tableTTL {
  font-size: 11px;
  padding-top: 3px;
  padding-bottom: 3px;
  color: #B3B3B3;
}
#resList dd.date, #resList dd.time, #resList dd.calendar, #resList dd.menu { font-size: 11pt; }
#resList dl dt, #resList dl dd {
  vertical-align: middle;
  display: inline-block;
}
#resList dl dd { line-height: 22px; }
#resList .time {
  width: 42px;
  text-align: right;
  padding-right: 5px;
  line-height: 1.2em;
}
#resList .calendar { width: 20%; }
#resList .menu { width: 20%; }
#resList .customer { width: 40%; }
#resList .calendar {
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 30px;
}
#resList .date {
  text-align: right;
  width: 52px;
}
#resList a, #resList a:link, #resList a:visited {
  display: block;
  padding: 5px 0 5px 20px;
  color: #444444;
}
#resList a.checkout, #resList a.checkout:link, #resList a.checkout:visited, #resList a.noshow, #resList a.noshow:link, #resList a.noshow:visited { color: #B3B3B3; }
#resList #record {
  height: 100%;
  position: relative;
  overflow: scroll;
}
#resList .float {
  position: absolute;
  z-index: 1001;
  box-shadow:0px 0px 6px 1px #d6d6d6;
  -moz-box-shadow:0px 0px 6px 1px #d6d6d6;
  -webkit-box-shadow:0px 0px 6px 1px #d6d6d6;
}
#resList .float div:first-child {
  background: #fff;
  border: 1px solid #b3b3b3;
  padding: 20px;
}
#resList .float p {
  text-align: left;
  width: auto;
  padding-bottom: 5px;
}
#resList .float dl { padding-top: 5px; }
#resList .float dl dd a {
  text-index: 0;
  line-height: 30px;
  height: 30px;
  padding: 0 20px;
  text-align: center;
}
#resList .float dl dd a.BTNgray { border-color: #666; }
#resList .float dl dd a.BTNyellow { border-color: #e6a21f; }
#resList .float dl dd a.BTNorange { border-color: #b0450d; }
#resList .float dl dd a.BTNtarco { border-color: #60938a; }
#resList .float .bubbleTop {
  background: transparent url(asset-path("screen/float_top.png")) top center no-repeat;
  height: 8px;
  width: 100%;
  position: absolute;
  top: -7px;
}
#mainNav { padding-left: 20px; }
#mainNav dl dd { padding-bottom: 10px; }
#mainNav a, #mainNav a:link, #mainNav a:visited {
  background-repeat: no-repeat;
  background-position: center 15px;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 15px;
    font-size: 24px;
    line-height: 24px;
    width: 140px;
    height: inherit;
}
#mainNav #NAVnewResv a { background-image: url(asset-path("screen/btn_newresv.png")); }
#mainNav #NAVsearchResv a { background-image: url(asset-path("screen/btn_searchresv.png")); }
#mainNav #NAVcustomers a { background-image: url(asset-path("screen/btn_customers.png")); }
#mainNav #NAVsave a { background-image: url(asset-path("screen/btn_save.png")); }
.shopIndex #footer { display: none; }
/* Search */
#searchRev {
  margin: 20px auto;
  background: #fff;
  border: 1px solid #B3B3B3;
  border-radius: 10px; /* 記述無し */
  -moz-border-radius: 10px; /* Firefox */
  -webkit-border-radius: 10px; /* Google Chrome、Safari */
  -o-border-radius: 10px; /* Opera */
  -ms-border-radius: 10px; /* Internet Explorer */
  max-width: 985px;
}
#searchRev .header {
  background: #d0d0d0;
  border-bottom: 1px solid #B3B3B3;
  padding: 10px;
  border-radius: 10px 10px 0 0; /* 記述無し */
  -moz-border-radius: 10px 10px 0 0; /* Firefox */
  -webkit-border-radius: 10px 10px 0 0; /* Google Chrome、Safari */
  -o-border-radius: 10px 10px 0 0; /* Opera */
  -ms-border-radius: 10px 10px 0 0; /* Internet Explorer */
  text-align: right;
}
#searchRev .header a, #searchRev .header a:link, #searchRev .header a:visited {
  color: #fff;
  font-weight: bold;
}
#searchRev .calendars, #searchRev .footer { 
  padding: 10px;
  display: flex;
  display: -moz-flex;
  display: -o-flex;
  display: -webkit-flex;
  display: -ms-flex;
  flex-direction: row;
  -moz-flex-direction: row;
  -o-flex-direction: row;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  justify-content: space-between;
}
#searchRev .calendars { padding: 20px 10px; }
#searchRev .calendars .calendar {
  display: table-cell;
  width: 50%;
  margin: 0 10px;
  border-bottom: 1px solid #d0d0d0;
}
#searchRev .calendars, #searchRev .calendars .days a, #searchRev .calendars .days a:link, #searchRev .calendars .days a:visited { color: #858585; }
#searchRev .calendars .month {
  padding-bottom: 10px;
  border-bottom: 1px solid #d0d0d0;
}
#searchRev .calendars .month h3 span {
  font-weight: normal;
  font-size: 80%;
  padding-left: 10px;
}
#searchRev .calendars .weekdays {
  border-bottom: 1px solid #d0d0d0;
  font-size: 13px;
  padding: 5px 0;
}
#searchRev .calendars .weekdays li, #searchRev .calendars .days li {
  display: inline-block;
  text-align: center;
}
#searchRev .calendars .weekdays li { width: 13.6%; }
#searchRev .calendars .days {
  border-bottom: 1px solid #d0d0d0;
  font-size: 18px;
}
#searchRev .calendars .days:last-child { border-bottom: none; }
#searchRev .calendars .days li {
  width: 13.3%;
    padding: 10px 0;
  line-height: 27px;
}
#searchRev .calendars .days a, #searchRev .calendars .days a:link, #searchRev .calendars .days a:visited {
  display: block;
  height: 27px;
  width: 100%;
}
#searchRev .calendars .days a.here, #searchRev .calendars .days .today a {
  font-weight: bold;
  color: #fff;
  background-repeat: no-repeat;
  background-position: center center;
}
#searchRev .calendars .days a.here { background-image: url(asset-path("screen/calendar_here.png")); }
#searchRev .calendars .days .today a { background-image: url(asset-path("screen/calendar_today.png")); }
#searchRev .footer { padding: 10px 20px; }
/* Customer */
#customer #resultList {
  min-width: 230px;
  overflow: scroll;
}
#customer #resultList ul { margin-left: 0; }
#customer #resultList ul li { display: inline-block; }
#customer #resultList ul li:last-child { margin-left: 10px; }
#customer #resultList div {
  overflow: scroll;
  background: #fff;
}
#customer #resultList a, #customer #resultList a:link, #customer #resultList a:visited {
  display: block;
  border-bottom: 1px solid #b3b3b3;
  padding: 12px 15px;
  color: #444;
}
#customer #resultList a.here { background-color: #dceae7; }
#customer #resultList dl {
  background-position: left center;
  background-repeat: no-repeat;
  padding-left: 32px;
}
#customer #resultList dl.regular { background-image: url(asset-path("screen/calsts_checkout.png")); }
#customer #resultList dl.vip { background-image: url(asset-path("screen/calsts_pending.png")); }
#customer #resultList dt { font-size: 15px; }
#customer #resultList dd {
  text-align: right;
  font-size: 13px;
}
#customerInfo #basic { padding-bottom: 10px; }
#customerInfo #basic input { text-indent: 10px; }
#customerInfo #basic dl { padding-bottom: 5px; }
#customerInfo #basic dl dt, #customerInfo #basic dl dd {
  display: inline-block;
}
#customerInfo #basic dl dt { width: 110px; }
#customerInfo #basic dl dd { width: 39.8%; }
#customerInfo #basic select#customerSts {
  border-color: #b3b3b3;
  background-color: #d0d0d0;
}
#customerInfo #basic select.vip, #customerInfo #basic option[value="vip"] {
  border-color: #b0450d;
  background-color: #ca4e0f;
}
#customerInfo #basic input, #customerInfo #basic select {
  line-height: 47px;
  height: 47px;
  padding-top: 0;
  padding-bottom: 0;
  width: 100%;
}
#customerInfo .tabs a { width: 40%; }
#customerInfo #resList #record { padding-top: 33px; }
#customerInfo #resList .year {
  text-align: center;
  background: #d0d0d0;
  color: #fff;
  position: absolute;
  top: 0;
  width: 100%;
}
.customer #resList { min-width: 554px; }
.customer footer ul {
  position: relative;
  padding: 10px 20px;
}
.customer footer ul li { display: inline-block; }
.customer footer ul li:last-child {
  position: absolute;
  right: 20px;
}
.customer footer ul li a, .customer footer ul li a:link, .customer footer ul li a:visited, .customer footer ul li input {
  border-radius: 6px; /* 記述無し */
  -moz-border-radius: 6px; /* Firefox */
  -webkit-border-radius: 6px; /* Google Chrome、Safari */
  -o-border-radius: 6px; /* Opera */
  -ms-border-radius: 6px; /* Internet Explorer */
  line-height: 50px;
  color: #fff;
  font-size: 23pt;
  height: 50px;
  line-height: 50px;
  border: 1px solid #464342;
  background: #858585;
}
.customer footer ul li a, .customer footer ul li a:link, .customer footer ul li a:visited {
  padding: 0;
  text-align: center;
  width: 50px;
  display: block;
}
.customer footer ul li a.here {
  background: #6fa89f;
  border-color: #60938a;
}
.customer footer ul li input {
  text-indent: 45px;
  width: 100%;
  background: #858585 url(asset-path("screen/footer_search.png")) no-repeat 10px center;
  padding: 0;
}
.customer footer ul li input:placeholder-shown { color: #D8D8D8; }
.customer footer ul li input::-webkit-input-placeholder { color: #D8D8D8; }
.customer footer ul li input:-ms-input-placeholder { color: #D8D8D8; }
.customer footer ul li input::-moz-placeholder { color: #D8D8D8; }
/*clear all*/
#aa:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; 
}
