@charset "utf-8";
/* CSS Document */

html, body, ul, ol, li, dl, dt, dd, p, h1, h2, h3, h4, h5, form, fieldset {
margin: 0;
padding: 0;
border: 0;
}
*, *:before, *:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
         -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
            box-sizing: border-box;
}
ul li, dt, dd, dl li {
list-style: none;
}
/*start hide from IE mac*/
html {
  min-height: 100%;
  margin-bottom: 1px;
  position: relative;
}
/*end hide from IE mac*/
body {
  background: #f2f2f2;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 12pt;
  margin: 0;
  padding-top: 75px;
  height: 100%;
  color: #555;
}
body.resNew, body.customer { padding-bottom: 72px; }
body.setting, body.publish { padding-bottom: 0; }
img {
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
}
a, a:link, a:visited {
  color: #97bfb8;
  text-decoration: none;
}
a:hover { color: #60938a; }
a img:hover, #header .logo a:hover, #header #phone a:hover, #footerLogo a:hover, #indexUSP dl dd a:hover {
  opacity: 0.7;
}
.wrapper {
  background-color: transparent;
  margin: 0 auto;
  width: 980px;
}
.floatR {
  float: right;
}
.floatL {
  float: left;
}
div.error, div.caution {
  border: 1px solid;
  padding: 10px 20px;
  margin-bottom: 20px;
}
div.error {
  background: #fcecf3;
  border-color: #f7c5db;
}
div.caution {
  background: #fffeeb;
  border-color: #fff100;
}
p.caution, span.caution {
  font-size: 90%;
  color: #CF0003;
  line-height: 18px;
}
.table {
  width: 100%;
  display: table;
  border-collapse:collapse;
}
.tableRow {
  display: table-row-group;
  margin: 0;
  width: 100%;
}
.tableCell {
  display: table-cell;
  vertical-align: middle;
}
.tableRow dt, .tableRow dd {
  background: #fff;
  border: 1px solid #CCC;
  display: table-cell;
  padding: 10px 15px;
}
.tableRow dt {
  background: #eaeaea;
  color: #666;
  text-align: center;
}
input, select {
  border-radius: 4px; /* 記述無し */
  -moz-border-radius: 4px; /* Firefox */
  -webkit-border-radius: 4px; /* Google Chrome、Safari */
  -o-border-radius: 4px; /* Opera */
  -ms-border-radius: 4px; /* Internet Explorer */
  border: 1px solid #CCCCCC;
  line-height: 1.5;
  font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
input {
  padding: 8px 0;
  background-color: #fffef5;
}
select { background-color: #fff; }
select, input[type="date"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  line-height: 35px;
  height: 35px;
  padding: 0 25px 0 15px;
}
input[type="date"], input[type="time"] {
  text-align: center;
  text-indent: 0 !important;
}
input[type="date"] {
  width: 150px !important;
  padding-right: 5px;
}
input[type="time"] { width: 100px; }
input.address { width: 400px; }
input:placeholder { color: #ccc; }
input:disabled, select:disabled { background-color: #d0d0d0; }
input.BTNorange, input.BTNyellow, input.BTNtarco, a.BTNorange, a.BTNorange:link, a.BTNorange:visited, a.BTNyellow, a.BTNyellow:link, a.BTNyellow:visited, a.BTNtarco, a.BTNtarco:link, a.BTNtarco:visited, a.BTNgray, a.BTNgray:link, a.BTNgray:visited, .signup #socialLogin ul li a, a.BTNgray:visited, .signup #socialLogin ul li a:link, a.BTNgray:visited, .signup #socialLogin ul li a:visited {
  border-radius: 6px; /* 記述無し */
  -moz-border-radius: 6px; /* Firefox */
  -webkit-border-radius: 6px; /* Google Chrome、Safari */
  -o-border-radius: 6px; /* Opera */
  -ms-border-radius: 6px; /* Internet Explorer */
  line-height: 50px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  display: block;
  height: 50px;
  text-decoration: none;
  padding: 0 15px;
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
  text-indent: 0;
}
a.BTNorange, a.BTNorange:link, a.BTNorange:visited, a.BTNyellow, a.BTNyellow:link, a.BTNyellow:visited, a.BTNtarco, a.BTNtarco:link, a.BTNtarco:visited, a.BTNgray, a.BTNgray:link, a.BTNgray:visited { display: block; }
input.BTNorange, a.BTNorange { background: #ca4e0e; border-color: #b0450d; }
input.BTNorange:hover, a.BTNorange:hover { background: #b0450d; border-color: #984418; }
input.BTNyellow, a.BTNyellow { background: #fcbe46; border-color: #e6a21f; }
input.BTNyellow:hover, a.BTNyellow:hover { background: #e6a21f; border-color: #d79a23; }
input.BTNtarco, a.BTNtarco { background: #97bfb8; border-color: #60938a; }
input.BTNtarco:hover, a.BTNtarco:hover { background: #60938a; border-color: #488479; }
input.BTNgray, a.BTNgray { background: #d0d0d0; border-color: #b3b3b3; }
input.BTNgray:hover, a.BTNgray:hover { background: #888; border-color: #666; }
.signup #socialLogin ul li a { background: #fff; border-color: #ccc; }
.signup #socialLogin ul li a:hover { background: #ccc; border-color: #888; }
h1 {
  color: #ca4e0e;
  padding: 20px 0 30px 0;
  font-size: 30px;
  line-height: 1.7;
}
h2 {
  font-size: 16px;
  margin-bottom: 20px;
}
a:hover, a img:hover {
  opacity: 0.7;
}
/*----------------*/
/* Toruya Manager */
/*----------------*/
header {
  background: #464342;
  color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  height: 75px;
  z-index: 1;
}
header dl { padding: 16px 28px 0; }
header dl:first-child { float: left; }
header dl:last-child { float: right; }
header dl:first-child dd { padding-right: 28px; }
header dl:last-child dd { padding-left: 28px; }
header dl dd { 
  display: inline-block;
  vertical-align: middle;
}
header a, header a:link, header a:visited {
  display: block;
  background-position: center top;
  background-color: transparent;
  background-repeat: no-repeat;
  width: 56px;
  text-align: center;
  font-size: 8px;
  padding-top: 35px;
  color: #d0d0d0;
  position: relative;
}
header select {
  font-size: 15px;
  background-color: #ddd;
}
header #NAVcaution a strong {
  position: absolute;
  right: 0;
  top: 0;
  text-align: center;
  color: #fff;
  display: block;
  width: 20px;
  height: 20px;
  font-weight: bold;
  line-height: 20px;
    font-size: 11px;
}
/* Footer */
footer {
  background: #d0d0d0;
  color: #666;
  position: fixed;
  bottom: 0;
  width: 100%;
}
#footer .content { margin: 20px; }
/* Login Page */
.login, .shopSelect { padding-bottom: 0; }
.login header h1, .signup header h1, .firstSetting header h1, .shopSelect header h1, .setting header h1 {
  padding-top: 25px;
  padding-bottom: 0;
  float: left;
}
.login header h1 a, .signup header h1 a, .firstSetting header h1 a, .shopSelect header h1 a, .setting header h1 a {
  width: 99px;
  height: 31px;
  text-indent: -9999px;
  text-align: left;
  overflow: hidden;
  padding-top: 0;
  margin-left: 20px;
}
#login {
  width: 300px;
  margin: auto;
  padding: 20px 0 40px 0;
}
#login h2 {
  text-align: center;
}
#login input { width: 100%; }
#login input[type="text"], #login input[type="email"], #login input[type="password"] { padding: 10px; }
#login input:focus { border-color: #60938a; }
#login div { padding-bottom: 15px; }
#login #forgotPass {
  text-align: right;
  padding-top: 15px;
}
#login #socialLogin {
  padding: 20px 0;
  border-width: 1px 0 1px 0;
  border-style: solid;
  border-color: #CCCCCC;
  margin-top: 20px;
  margin-bottom: 20px;
}
#login aside {
  text-align: center;
}
#login #socialLogin a {
  margin: 0 10px;
}
/* Signup Pages */
.signup #login aside p {
  text-align: left;
  margin-bottom: 10px;
}
.signup #login aside ul li {
  text-align: left;
  margin-bottom: 10px;
}
.signup #login #socialLogin a {
  margin: 0;
  text-align: center;
}
.signup #login #socialLogin { border-bottom: none; }
.signup #login aside a i {
  float: left;
    line-height: 50px;
}
.signup #login main input[type="password"]:first-child { margin-bottom: 5px; }
.signup #login #SLgoogle, .firstSetting #contactsGsync #Gsync { background: #de4b39; border-color: #92483b; }
.signup #login #SLfacebook { background: #3b5999; border-color: #304972; }
.signup #login #SLtwitter { background: #54adf1; border-color: #4d89ad; }
/* First Setting */
.firstSetting #progress {
  margin: 20px;
  border: 2px solid #aaa;
  padding: 0 3px;
}
.firstSetting #progress li {
  float: left;
  font-size: 11pt;
  line-height: 2em;
  text-align: center;
  width: 25%;
  border-width: 5px 3px;
  border-style: solid;
  border-color: #f2f2f2;
  color: #f2f2f2;
}
.firstSetting #progress li.done { color: #888; }
.firstSetting #progress li i { padding-right: 10px; }
.firstSetting #progress li.here {
  color: #fff;
  background-color: #6fa89f;
  font-weight: bold;
}
.firstSetting #plans label {
  width: 25%;
}
.firstSetting #paymentSetting .BTNselect label span strong {
  padding-right: 20px;
}
.firstSetting #contactsGsync a i { padding-right: 10px; }
.firstSetting #contactsGsync a.BTNyellow {
  display: inline-block;
  margin-left: 10px;
  line-height: 30px;
    height: 30px;
}
/* Shop Select */
.shopSelect #shopNav h2 { text-align: center; }
.shopSelect nav {
  display: table;
  border-spacing: 20px;
  margin: auto;
}
.shopSelect nav div {
  display: table-cell;
}
.shopSelect a.BTNorange span { font-weight: normal; }
.shopSelect a.BTNorange {
  text-align: center;
  line-height: 1.4;
  height: auto;
  padding: 10px 20px;
}
/* Contents */
.contents {
  padding: 20px;
  height: 100%;
}
.setting .contents, .publish .contents { 
  margin: 0;
  padding: 0;
}
.contents .sidel {
  color: #858585;
  padding-right: 20px;
}
.contBody {
  width: 100%;
  height: 100%;
}
#sideNav, #content { 
    vertical-align: top;
  display: table-cell;
}
.setting #content, .publish #content { width: 100%; }
#sideNav {
  background: #9e9e9e;
  width: 250px;
    border-right: 1px solid #858585;
  height: 100%;
}
#sideNav dl a, #sideNav dl a:link, #sideNav dl a:visited {
  display: block;
  color: #E8E8E8;
  padding: 20px;
  width: 150px;
}
#sideNav dl > a, #sideNav dl > a:link, #sideNav dl > a:visited { background-color: #9e9e9e; }
#sideNav dl dt, #sideNav dl dd ul li a, #sideNav dl dd ul { border-bottom: 1px solid #858585; }
#sideNav dl dd ul { background-color: #aaa; }
#sideNav dl dd ul a, #sideNav dl dd ul a:link, #sideNav dl dd ul a:visited { color: #ddd; }
#sideNav dl dd ul li:last-child a { border: 0px; }
#sideNav dl dd ul li { padding-left: 20px; }
#sideNav dl a:hover { color: #d5d5d5; }
#sideNav dl dt.here a, #sideNav dl dd ul li.here, #sideNav dl dd ul li.here a {
  color: #fff;
  font-weight: bold;
  position: relative;
}
#sideNav dl dt a {
  text-indent: 30px;
  background-repeat: no-repeat;
  background-position: left 20px center;
}
#sideNav dl.shopSelect dt {
  text-align: center;
  padding: 20px;
}
#sideNav dl.shopSelect dt select {
  background-color: #e8e8e8;
  width: 100%;
}
#content #subNav {
  background: #d0d0d0;
  border-bottom: 1px solid #858585;
  padding: 10px 20px;
}
#content #subNav h2 {
  line-height: 35px;
  text-align: center;
  margin: 0;
}
#content #subNav .btns { position: absolute; right: 20px; top: 10px; }
#content #subNav a {
  height: 35px;
    line-height: 35px;
}
#content #about {
  margin: 20px;
  border-bottom: 1px solid #aaa;
  color: #888;
  padding: 0 15px 20px 15px;
}
#content #about p { line-height: 1.4; }
#content #about .function { float: right; }
#content #about .function li {
  display: inline-block;
  margin-left: 10px;
}
#content form {
  margin: 20px;
  padding: 0 20px;
  color: #8F8F8F;
}
#content form h3, #resNew h2 {
  font-size: 16px;
  margin: 20px 0 10px 0;
  text-indent: 10px;
}
#content .formRow dl, #content .formRow ul { 
  border-width: 1px 1px 0 1px;
  border-style: solid;
  border-color: #DFDFDF;
  background: #fff;
  padding: 10px 20px;
}
#content .formRow dl:first-of-type {
  border-top-left-radius : 10px;
  -webkit-border-top-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  border-top-right-radius : 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topright: 10px;
}
#content .formRow dl:last-child {
  border-bottom-left-radius : 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-right-radius : 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  border-width: 1px;
}
#content form ul li, #content form dl dt, #content form dl dd {
  display: table-cell;
  vertical-align: middle;
}
#content form .checkbox dd { display: inherit; }
#content form .checkbox dd input[type="checkbox"] + label, #content form .checkbox dd input[type="radio"] + label {
  width: 100%;
    display: block;
}
#content form #google #autoLinkedTo dd { line-height: 2.5em; }
#content form dl dt p, #content form dl dd input {
  padding: 10px;
}
#content form dl dt { position: relative; }
#content .rowTTL, #content form dl dt, #content .tableTTL .check { padding-right: 20px; }
#content .rowTTL, #content form dl dt, #content .tableTTL .check { padding-right: 20px; }
#content #staffInfo .familyName { padding-right: 10px; }
#content #working a.editWorktime, #content #working a.editWorktime:link, #content #working a.editWorktime:visited {
  height: 30px;
  line-height: 30px;
  float: right;
    margin-left: 10px;
}
#content #working .partTime {
  border: none;
}
#content #working .partTime ul {
  border: none;
  padding: 10px 0;
}
#content #working .partTime ul .tableTTL, #content #working .partTime ul .time { width: 100px; }
#content #working .partTime ul .tableTTL { font-weight: bold; }
#content #working .partTime ul .time { text-align: center; }
#content form dl dt strong, #content form h3 strong {
  color: #fff;
  background: #CF0003;
  display: inline-block;
  font-size: 10px;
  padding: 3px 5px;
  margin-left: 10px;
  border-radius: 5px; /* 記述無し */
  -moz-border-radius: 5px; /* Firefox */
  -webkit-border-radius: 5px; /* Google Chrome、Safari */
  -o-border-radius: 5px; /* Opera */
  -ms-border-radius: 5px; /* Internet Explorer */
  text-indent: 0;
}
#content form dl dt strong {
  position: absolute;
  right: 20px;
}
#content form dl dd input {
  border: 0px;
  color: #333;
}
#content form ul.tableTTL {
  background: transparent;
  border: 0px;
  color: #BABABA;
  font-size: 14px;
}
#content #prices .rankPrice { width: 240px; }
#content #tempHoliday .closeReason { width: 220px; }
#content #calendarList .rowTTL, #content #calendarList .toruyaCal, #content #doMenu .menuCat, #content #doMenu .menu, #content #doMenu .menuMax, #content #contactList .rowTTL, #content #rankList .rowTTL, #content #shopList .rowTTL, #content #priceList .rowTTL, #content #priceMenu .rowTTL { width: 200px; }
#content #tempHoliday .date { width: 180px; }
#content #shopNames dl dt, #content #staffList .rowTTL, #content #staffList .rowTTL, #content #menuList .rowTTL, #content #prices .rowTTL, .firstSetting #content #companyInfo dt { width: 160px; }
#content #busHour .rowTTL, #content #busHour dl dt, #content #parttime .rowTTL, #content #parttime dl dt, #content #staffList .updateTime, #content #staffInfo .familyName, #content #staffInfo .firstName, #content #menuList .updateTime, #content #calendarList .function.updateTime, #content #staffInfo .firstName, #content #menuList .updateTime, #content #frameInfo dt, .firstSetting #content #adminInfo dt, #content #staffInfo dt { width: 90px; }
#content .tableTTL .check, #content #menuList .staff, #content .formRow .check, #content #frameDetail dt { width: 60px; }
#content #busHour .openClose, #content #contacts dl dt, #content #contactList .updateTime, #content #rankList .updateTime, #content #shopList .updateTime, #content #tempHoliday .startTime, #content #tempHoliday .endsTime, #content #priceList .updateTime, #content #prices .customerRank, #content #priceMenu .quantity, #content #menuList .blocks { width: 130px; }
#content .workingTime .startTime, #content .workingTime .endsTime { width: 140px; }
#content #belong dt, #content #staffAccount dt, #content #calendarList .updateTime, #content #parttime .inOut, #content .workingTime .rowTTL, #content .workingTime .inOut, #content #priceMenu .menu { width: 118px; }
#content #menuInfo dl dt, #content #calendarInfo dt, #content #priceInfo dt, #content #google dt, #content #contactsInfo dt { width: 100px; }
#content #tempHoliday .date { padding-right: 0; }
#content #prices .rankPrice input, #content form input[type="number"] { margin-right: 10px; }
#content #staffInfo .familyName, .firstSetting #content #adminInfo .familyName { padding-right: 10px; }
#content #busHour .openTime, #content #busHour .closeTime, #content #parttime .startTime, #content #parttime .endsTime {
  width: 126px;
  padding: 0 5px;
}
#content .formRow .function { padding: 0 5px; }
#content .formRow .function a, #content .tableTTL .check a, #content .formRow .add a, #content form h3.menuCategory a.addNew, #content form .resFrame a {
  line-height: 30px;
  height: 30px;
}
#content .formRow .menuEnds ul, #content #frameDetail dd ul {
  padding: 0;
  border: none;
}
#content .formRow .menuEnds ul li, #content #frameDetail dd ul li input { padding: 0 5px; }
#content #frameDetail dd ul li {
  display: block;
  line-height: 2.5em;
}
#content form h3.menuCategory {
  position: relative;
  padding: 5px 0 10px 0;
}
#content form h3.menuCategory a.addNew {
  position: absolute;
  right: 0;
  top: 0;
}
#content form #category dl dd ul {
  border: none;
  padding-left: 0;
}
#content form #category dl dd ul li {
  width: 30%;
  padding-right: 10px;
}
#content .formRow .check { text-align: center; }
#content .formRow input[type="number"] { width: 50px; }
#content .formRow .rankPrice input[type="number"], #content .formRow .menuLength input[type="number"] { width: 100px; }
#content form input[type="date"], #content form input[type="time"] {
  border: none;
  background-color: #fffef5;
}
input[type="radio"], input[type="checkbox"] { display: none; }
input[type="radio"] + label, input[type="checkbox"] + label, #MonthlyFrameSetting dl:last-of-type dt {
  line-height: 2em;
  padding-left: 25px;
}
.BTNswitch, .BTNselect {
  border-radius: 5px; /* 記述無し */
  -moz-border-radius: 5px; /* Firefox */
  -webkit-border-radius: 5px; /* Google Chrome、Safari */
  -o-border-radius: 5px; /* Opera */
  -ms-border-radius: 5px; /* Internet Explorer */
  padding: 0;
  display: -webkit-flex; /* Safari */
  display: flex;
  -webkit-flex-wrap: nowrap; /* Safari */
  flex-wrap: nowrap;
  -webkit-flex-direction: row; /* Safari */
  flex-direction:         row;
 }
.BTNswitch#resFrameType label { width: 80px; }
.BTNswitch#frameDate, .BTNswitch#frameTime { margin-bottom: 10px; }
.BTNswitch#autoLinkedTo label { width: 22%; }
.BTNswitch#frameDate label, .BTNswitch#menuEnds label, .BTNswitch#autoLinkedTo label { width: 33.3%; }/* 3 */
.BTNswitch#frameTime label { width: 50%; }/* 2 */
.BTNswitch input, .BTNselect input { display: none; }
.BTNswitch input[type="radio"] + label, .BTNswitch input[type="checkbox"] + label, .BTNselect input[type="radio"] + label, .BTNselect input[type="checkbox"] + label {
  display: inline-block;
  line-height: 2em;
  cursor: pointer;
    padding: 0 10px;
  text-align: center;
  background-image: none;
}
.BTNselect input[type="radio"] + label, .BTNselect input[type="checkbox"] + label { line-height: 2.5em; }
.BTNselect input[type="radio"] + label span, .BTNselect input[type="checkbox"] + label span { padding: 0 10px; }
.BTNswitch label {
  color: #6fa89f;
  border: 1px solid #6fa89f;
}
.BTNselect label {
  color: #858585;
  background: #D0D0D0;
  border-right: 1px solid #A3A3A3;
}
.BTNswitch label:first-of-type, .BTNselect label:last-of-type { border-right: none; }
.BTNswitch label:last-of-type, .BTNswitch label:nth-of-type(3) { border-left: none; }
.BTNswitch label:first-of-type, .BTNselect label:first-of-type {
  border-radius: 5px 0 0 5px; /* 記述無し */
  -moz-border-radius: 5px 0 0 5px; /* Firefox */
  -webkit-border-radius: 5px 0 0 5px; /* Google Chrome、Safari */
  -o-border-radius: 5px 0 0 5px; /* Opera */
  -ms-border-radius: 5px 0 0 5px; /* Internet Explorer */
}
.BTNswitch label:last-of-type, .BTNselect label:last-of-type {
  border-radius: 0 5px 5px 0; /* 記述無し */
  -moz-border-radius: 0 5px 5px 0; /* Firefox */
  -webkit-border-radius: 0 5px 5px 0; /* Google Chrome、Safari */
  -o-border-radius: 0 5px 5px 0; /* Opera */
  -ms-border-radius: 0 5px 5px 0; /* Internet Explorer */
}
.BTNswitch input[type="radio"]:checked + label, .BTNselect input[type="radio"]:checked + label, .BTNselect input[type="checkbox"]:checked + label {
  color: #fff;
  background: #6fa89f;
}
.BTNonoff, .BTNopenclose, .BTNyesno, .BTNalwaysIN, .BTNinout { display: none; }
.check input[type="checkbox"] {
  display: block;
  margin: auto;
}
input[type="checkbox"].BTNonoff + label, input[type="checkbox"].BTNopenclose + label, input[type="checkbox"].BTNyesno + label, input[type="checkbox"].BTNalwaysIN + label, input[type="checkbox"].BTNinout + label, .check input[type="checkbox"] + label {
  background-image: none;
  padding-left: 0;
}
.BTNonoff + label:before, .BTNonoff + label:after, .BTNopenclose + label:before, .BTNopenclose + label:after, .BTNyesno + label:before, .BTNyesno + label:after, .BTNalwaysIN + label:before, .BTNalwaysIN + label:after, .BTNinout + label:before, .BTNinout + label:after {
  display: inline-block;
  padding: .2em .5em;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
  line-height: 1.5;
  font-size: 14px;
  padding: 5px;
}
.BTNonoff + label:before, .BTNopenclose + label:before, .BTNyesno + label:before, .BTNinout + label:before, .BTNalwaysIN + label:before, .BTNalwaysIN + label:before {
  background: #DEDEDE;
  color: #000000;
  border-top-left-radius: .3em;
  border-bottom-left-radius: .3em;
}
.BTNonoff + label:after, .BTNopenclose + label:after, .BTNyesno + label:after, .BTNinout + label:after, .BTNalwaysIN + label:after {
  background: #ABABAB;
  color: #ABABAB;
  border-top-right-radius: .3em;
  border-bottom-right-radius: .3em;
}
.BTNonoff + label:before, .BTNonoff + label:after, .BTNyesno + label:before, .BTNyesno + label:after, .BTNinout + label:before, .BTNinout + label:after { width: 3em; }
.BTNopenclose + label:before, .BTNopenclose + label:after, .BTNalwaysIN + label:before, .BTNalwaysIN + label:after { width: 4em; }
#doStaff .BTNyesno + label:before, #doStaff .BTNyesno + label:after { width: 3.5em; }
#doStaff .BTNyesno + label:before, #doStaff .BTNyesno + label:after { width: 4.5em; }
.BTNalwaysIN + label:before { content: "非常勤"; }
.BTNalwaysIN + label:after { content: "常勤"; }
.BTNonoff + label:before { content: "OFF"; }
.BTNonoff + label:after { content: "ON"; }
.BTNyesno + label:before { content: "NO"; }
.BTNyesno + label:after { content: "YES"; }
#doStaff .BTNyesno + label:before { content: "未対応"; }
#doStaff .BTNyesno + label:after { content: "対応"; }
/*#accountUse.BTNyesno + label:before { content: "なし"; }
#accountUse.BTNyesno + label:after { content: "あり"; }*/
.BTNinout + label:before { content: "OUT"; }
.BTNinout + label:after { content: "IN"; }
.BTNopenclose + label:before { content: "CLOSE"; }
.BTNopenclose + label:after { content: "OPEN"; }
.BTNonoff:checked + label:before, .BTNopenclose:checked + label:before, .BTNalwaysIN:checked + label:before, .BTNyesno:checked + label:before, .BTNinout:checked + label:before {
  background: #60938a;
  color: #60938a;
}
.BTNonoff:checked + label:after, .BTNopenclose:checked + label:after, .BTNyesno:checked + label:after, .BTNalwaysIN:checked + label:after, .BTNinout:checked + label:after {
  background: #96bfb8;
  color: #FFFFFF;
}
#content form #footerav, .window ul.windowFooter {
  text-align: center;
  padding: 20px 0;
}
#content form #footerav li, #content form .window ul.windowFooter li {
  display: inline-block;
}
#content form #footerav a, #content form #footerav a:link, #content form #footerav a:visited, .window .windowFooter a, .window .windowFooter a:link, .window .windowFooter a:visited { width: 105px; }
.tabs {
  width: 100%;
  display: flex;
    display: -moz-flex;
    display: -o-flex;
    display: -webkit-flex;
    display: -ms-flex;
    flex-direction: row;
    -moz-flex-direction: row;
    -o-flex-direction: row;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    justify-content: space-between;
}
.tabs a, .tabs a:link, .tabs a:visited {
  border-radius: 5px 5px 0 0; /* 記述無し */
  -moz-border-radius: 5px 5px 0 0; /* Firefox */
  -webkit-border-radius: 5px 5px 0 0; /* Google Chrome、Safari */
  -o-border-radius: 5px 5px 0 0; /* Opera */
  -ms-border-radius: 5px 5px 0 0; /* Internet Explorer */
  border: 1px solid #b3b3b3;
  background: #d0d0d0;
  font-size: 20px;
  font-weight: bold;
  line-height: 40px;
  height: 40px;
  color: #fff;
  padding: 0 20px;
  position: relative;
  bottom: -1px;
  z-index: 1px;
}
.tabs a:hover, .tabs a.here:hover {
  color: #666;
  opacity: 1;
}
.tabs a.here {
  background: #fff;
  border-bottom: 1px solid #fff;
  color: #b3b3b3;
}
.tabs a.here:hover  { background: #fff; }
.tabBody {
  border: 1px solid #b3b3b3;
  background: #fff;
}
.window {
  background: #f2f2f2;
  border: 1px solid #858585;
  padding: 0;
  width: 600px;
    margin: 0 auto;
}
.window h2 {
  background: #aaa;
  border-bottom: 1px solid #858585;
  margin-bottom: 0;
  padding: 10px;
  text-align: center;
  line-height: 30px;
    color: #fff;
}
.window h2 a, .window h2 a:link, .window h2 a:visited {
  float: right;
  line-height: 28px;
    height: 28px;
}
.window .windowCont {
  padding: 20px;
}
.window ul.windowFooter {
  padding: 0 20px 20px 20px;
  text-align: center;
}
.window .windowFooter a, .window .windowFooter a:link, .window .windowFooter a:visited {
  margin: 0 auto;
  width: 100px;
}
.window#parttime .inOut, .window#parttime .startTime, .window#parttime .endsTime { text-align: center; }
/* Dashboard */
#dashboard, #customer, #resNew, #shopNav {
  display: flex;
  display: -moz-flex;
  display: -o-flex;
  display: -webkit-flex;
  display: -ms-flex;
  flex-direction: row;
  -moz-flex-direction: row;
  -o-flex-direction: row;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  justify-content: space-between;
}
#calendar {
  text-align: center;
  font-size: 14px;
  min-width: 252px;
}
#calendar ul li { display: inline-block; }
#calendar .month { padding-bottom: 10px; }
#calendar .month ul {
    overflow: hidden;
    margin: 0;
    padding: 0;
  line-height: 35px;
}
#calendar .month .prev { float: left; }
#calendar .month .next { float: right; }
#calendar .month .prev a, #calendar .month .prev a:link, #calendar .month .prev a:visited, #calendar .month .next a, #calendar .month .next a:link, #calendar .month .next a:visited {
  display: inline-block;
  background: #858585;
  color: #fff;
  border-radius: 5px; /* 記述無し */
  -moz-border-radius: 5px; /* Firefox */
  -webkit-border-radius: 5px; /* Google Chrome、Safari */
  -o-border-radius: 5px; /* Opera */
  -ms-border-radius: 5px; /* Internet Explorer */
  padding: 0 10px;
}
#calendar .month select {
  width: 92px;
  background-color: #fff;
}
#calendar .month select#calYear { margin-right: 5px; }
#calendar .weekdays { border-bottom: 1px solid #858585; }
#calendar .weekdays, #calendar .days { background: #fff; }
#calendar .weekdays li, #calendar .days li { width: 12.9%; }
#calendar .weekdays li {
    display: inline-block;
    color: #666;
    text-align: center;
    margin-bottom: 3px;
    margin-top: 5px;
}
#calendar .days {
  border-bottom: 1px solid #d0d0d0;
}
#calendar .days:last-of-type { border-bottom: none; }
#calendar .days a, #calendar .days a:link, #calendar .days a:visited {
  color: #666;
  line-height: 35px;
  display: block;
  width: 100%;
}
#calendar .days .today a {
  font-weight: bold;
  color: #e6a220;
}
#calendar .days a.here, #calendar .days .today a.here {
  font-weight: bold;
  color: #fff;
  background-repeat: no-repeat;
  background-position: center center;
}
#calStatus, #customer #resultList ul, #resNew #customers ul {
  padding-top: 10px;
  text-align: left;
  width: 130px;
    margin: auto;
  font-size: 14px;
}
#calStatus dd, #customer #resultList ul li, #resNew #customers ul li {
  line-height: 22px;
  padding-bottom: 5px;
  background-position: left top;
  background-repeat: no-repeat;
  padding-left: 27px;
}
#resList {
  background: #fff;
  min-width: 476px;
}
#resList dl.tableTTL, #resList a {
  border-bottom: 1px solid #B3B3B3;
  padding-left: 20px;
}
#resList dl.tableTTL {
  font-size: 11px;
  padding-top: 3px;
  padding-bottom: 3px;
  color: #B3B3B3;
}
#resList dd.date, #resList dd.time, #resList dd.calendar, #resList dd.menu { font-size: 11pt; }
#resList dl dt, #resList dl dd {
  vertical-align: middle;
  display: inline-block;
}
#resList dl dd { line-height: 22px; }
#resList .time {
  width: 42px;
  text-align: right;
  padding-right: 5px;
  line-height: 1.2em;
}
#resList .calendar { width: 20%; }
#resList .menu { width: 20%; }
#resList .customer { width: 40%; }
#resList .calendar {
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 30px;
}
#resList .date {
  text-align: right;
  width: 52px;
}
#resList a, #resList a:link, #resList a:visited {
  display: block;
  padding: 5px 0 5px 20px;
  color: #444444;
}
#resList a.checkout, #resList a.checkout:link, #resList a.checkout:visited, #resList a.noshow, #resList a.noshow:link, #resList a.noshow:visited { color: #B3B3B3; }
#resList #record {
  height: 100%;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
#resList .float {
  position: absolute;
  z-index: 1001;
  box-shadow:0px 0px 6px 1px #d6d6d6;
  -moz-box-shadow:0px 0px 6px 1px #d6d6d6;
  -webkit-box-shadow:0px 0px 6px 1px #d6d6d6;
}
#resList .float div:first-child {
  background: #fff;
  border: 1px solid #b3b3b3;
  padding: 20px;
}
#resList .float p {
  text-align: left;
  width: auto;
  padding-bottom: 5px;
}
#resList .float dl { padding-top: 5px; }
#resList .float dl dd a {
  text-index: 0;
  line-height: 30px;
  height: 30px;
  padding: 0 20px;
  text-align: center;
}
#resList .float dl dd a.BTNgray { border-color: #666; }
#resList .float dl dd a.BTNyellow { border-color: #e6a21f; }
#resList .float dl dd a.BTNorange { border-color: #b0450d; }
#resList .float dl dd a.BTNtarco { border-color: #60938a; }
#resList .float .bubbleTop {
  height: 8px;
  width: 100%;
  position: absolute;
  top: -7px;
}
#mainNav { padding-left: 20px; }
#mainNav dl dd { padding-bottom: 10px; }
#mainNav a, #mainNav a:link, #mainNav a:visited {
  background-repeat: no-repeat;
  background-position: center 15px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 15px;
    font-size: 24px;
    line-height: 24px;
    width: 170px;
    height: inherit;
}
.shopIndex #footer { display: none; }
/* Search */
#searchRev {
  margin: 20px auto;
  background: #fff;
  border: 1px solid #B3B3B3;
  border-radius: 10px; /* 記述無し */
  -moz-border-radius: 10px; /* Firefox */
  -webkit-border-radius: 10px; /* Google Chrome、Safari */
  -o-border-radius: 10px; /* Opera */
  -ms-border-radius: 10px; /* Internet Explorer */
  max-width: 985px;
}
#searchRev .header {
  background: #d0d0d0;
  border-bottom: 1px solid #B3B3B3;
  padding: 10px;
  border-radius: 10px 10px 0 0; /* 記述無し */
  -moz-border-radius: 10px 10px 0 0; /* Firefox */
  -webkit-border-radius: 10px 10px 0 0; /* Google Chrome、Safari */
  -o-border-radius: 10px 10px 0 0; /* Opera */
  -ms-border-radius: 10px 10px 0 0; /* Internet Explorer */
  text-align: right;
}
#searchRev .header a, #searchRev .header a:link, #searchRev .header a:visited {
  color: #fff;
  font-weight: bold;
}
#searchRev .calendars, #searchRev .footer { 
  padding: 10px;
  display: flex;
  display: -moz-flex;
  display: -o-flex;
  display: -webkit-flex;
  display: -ms-flex;
  flex-direction: row;
  -moz-flex-direction: row;
  -o-flex-direction: row;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  justify-content: space-between;
}
#searchRev .calendars { padding: 20px 10px; }
#searchRev .calendars .calendar {
  display: table-cell;
  width: 50%;
  margin: 0 10px;
  border-bottom: 1px solid #d0d0d0;
}
#searchRev .calendars, #searchRev .calendars .days a, #searchRev .calendars .days a:link, #searchRev .calendars .days a:visited { color: #858585; }
#searchRev .calendars .month {
  padding-bottom: 10px;
  border-bottom: 1px solid #d0d0d0;
}
#searchRev .calendars .month h3 span {
  font-weight: normal;
  font-size: 80%;
  padding-left: 10px;
}
#searchRev .calendars .weekdays {
  border-bottom: 1px solid #d0d0d0;
  font-size: 13px;
  padding: 5px 0;
}
#searchRev .calendars .weekdays li, #searchRev .calendars .days li {
  display: inline-block;
  text-align: center;
}
#searchRev .calendars .weekdays li { width: 13.6%; }
#searchRev .calendars .days {
  border-bottom: 1px solid #d0d0d0;
  font-size: 18px;
}
#searchRev .calendars .days:last-child { border-bottom: none; }
#searchRev .calendars .days li {
  width: 13.3%;
    padding: 10px 0;
  line-height: 27px;
}
#searchRev .calendars .days a, #searchRev .calendars .days a:link, #searchRev .calendars .days a:visited {
  display: block;
  height: 27px;
  width: 100%;
}
#searchRev .calendars .days a.here, #searchRev .calendars .days .today a {
  font-weight: bold;
  color: #fff;
  background-repeat: no-repeat;
  background-position: center center;
}
#searchRev .footer { padding: 10px 20px; }
/* Customer */
#customer #resultList {
  min-width: 230px;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
#customer #resultList ul { margin-left: 0; }
#customer #resultList ul li, #resNew #customers ul li { display: inline-block; }
#customer #resultList ul li:last-child { margin-left: 10px; }
#customer #resultList div, #resNew #customerList {
  overflow-y: scroll;
  overflow-x: hidden;
  background: #fff;
}
#customer #resultList div { overflow: scroll; }
#customer #resultList a, #customer #resultList a:link, #customer #resultList a:visited,
#resNew #customerList a, #resNew #customerList a:link, #resNew #customerList a:visited {
  display: block;
  border-bottom: 1px solid #b3b3b3;
  padding: 12px 15px;
  color: #444;
}
#customer #resultList a.here { background-color: #dceae7; }
#customer #resultList dl, #resNew #customerList dl {
  background-position: left center;
  background-repeat: no-repeat;
  padding-left: 32px;
}
#customer #resultList dt, #resNew #customerList dt { font-size: 15px; }
#customer #resultList dd, #resNew #customerList dt .place {
  text-align: right;
  font-size: 13px;
}
#customerInfo #basic, #customerInfoNew #basic, #customerInfoEdit #basic { padding-bottom: 10px; }
#customerInfoEdit #basic input, #customerInfoNew #basic input, #resNew #resInfo input { text-indent: 10px; }
#customerInfoEdit #basic dl ul li, #customerInfoNew #basic dl ul li { padding-bottom: 5px; }
#customerInfoEdit #basic dl ul li i, #customerInfoNew #basic dl ul li i { margin-right: 5px; }
#customerInfo #basic dl dt, #customerInfo #basic dl dd, #customerInfoNew #basic dl dt, #customerInfoNew #basic dl dd, #customerInfoEdit #basic dl dt, #customerInfoEdit #basic dl dd {
  display: inline-block;
  vertical-align: middle;
}
#customerInfo #basic dl dt, #customerInfoEdit #basic dl dt, #customerInfoNew #basic dl dt { width: 110px; }
#customerInfo #basic dl dd:nth-child(2) {
  width: 54%;
}
#customerInfo #basic dl dd:nth-child(2) ul li {
  width: 100%;
  text-align: center;
}
#customerInfo #basic dl dd:nth-child(2) ul:not(.kana) {
  font-size: 20pt;
    font-weight: bold;
}
#customerInfo #basic a.BTNtarco {
  text-align: center;
  display: inline-block;
  margin-left: 10px;
  line-height: 54px;
}
#customerInfo #basic dl dt li:first-child { margin-bottom: 5px; }
#customerInfo #basic dl dt li {
  text-align: center;
  font-size: 90%;
  border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
    -ms-border-radius: 6px;
  padding: 5px;
}
#customerInfoEdit #basic select#customerSts, #customerInfoNew #basic select#customerSts, #customerInfo #basic dl dt li {
  border: 1px solid #b3b3b3;
  background-color: #d0d0d0;
}
#customerInfoEdit #basic select#customerSts.vip, #customerInfoNew #basic select#customerSts.vip, #customerInfo #basic dl dt li.vip {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-color: #b0450d;
  background-color: #ca4e0f;
  color: #fff;
}
#customerInfoEdit #basic input, #customerInfoEdit #basic select, #customerInfoNew #basic input, #customerInfoNew #basic select {
  line-height: 47px;
  height: 47px;
  padding-top: 0;
  padding-bottom: 0;
}
#customerInfoEdit #basic dt select, #customerInfoNew #basic dt select {
  width: 100%;
}
#customerInfo .tabs a { width: 40%; }
#customerInfo #resList #record { padding-top: 33px; }
#customerInfo #resList .menu { width: 40%; }
#customerInfo #resList .shop { width: 20%; }
#customerInfo #resList .year, #customerInfo #detailInfoEdit dl dt, #customerInfoNew #detailInfoEdit dl dt {
  text-align: center;
  background: #d0d0d0;
  color: #fff;
}
#customerInfo #resList .year {
  position: absolute;
  top: 0;
  width: 100%;
}
.customer #resList { min-width: 554px; }
.customer footer ul, .resNew footer ul {
  position: relative;
  padding: 10px 20px;
}
.customer footer ul li, .resNew footer ul li, .resNew footer ul ol { display: inline-block; }
.customer footer ul li:last-child {
  position: absolute;
  right: 20px;
}
.customer footer ul li a, .customer footer ul li a:link, .customer footer ul li a:visited, .customer footer ul li input,
.resNew footer ul li a, .resNew footer ul li a:link, .resNew footer ul li a:visited {
  border-radius: 6px; /* 記述無し */
  -moz-border-radius: 6px; /* Firefox */
  -webkit-border-radius: 6px; /* Google Chrome、Safari */
  -o-border-radius: 6px; /* Opera */
  -ms-border-radius: 6px; /* Internet Explorer */
  line-height: 50px;
  color: #fff;
  font-size: 23pt;
  height: 50px;
  line-height: 50px;
}
.customer footer ul li a, .customer footer ul li a:link, .customer footer ul li a:visited, .customer footer ul li input {
  border: 1px solid #464342;
  background: #858585;
}
.customer footer ul li a, .customer footer ul li a:link, .customer footer ul li a:visited,
.resNew footer ul li a, .resNew footer ul li a:link, .resNew footer ul li a:visited {
  padding: 0;
  text-align: center;
  width: 50px;
  display: block;
}
.customer footer ul li a.here {
  background: #6fa89f;
  border-color: #60938a;
}
.customer footer ul li input {
  text-indent: 45px;
  width: 100%;
  padding: 0;
}
.customer footer ul li input:placeholder-shown { color: #D8D8D8; }
.customer footer ul li input::-webkit-input-placeholder { color: #D8D8D8; }
.customer footer ul li input:-ms-input-placeholder { color: #D8D8D8; }
.customer footer ul li input::-moz-placeholder { color: #D8D8D8; }
/* #customerInfo #detailInfo */
#customerInfo .tabBody, #customerInfoNew .tabBody, #customerInfoEdit .tabBody { overflow: scroll; }
#customerInfo #basic dl dd ul li, #customerInfo #detailInfoEdit dl dd ul li, #customerInfoEdit #basic dl dd ul li, #customerInfoNew #basic dl dd ul li {
  display: inline-block;
  vertical-align: middle;
}
#customerInfo #detailInfo > ul, #customerInfo #detailInfo dl, #customerInfoEdit #detailInfo > ul, #customerInfoEdit #detailInfo dl, #customerInfoNew #detailInfo > ul, #customerInfoNew #detailInfo dl {
  padding: 10px 0;
  margin: 10px;
}
#customerInfo #detailInfo dl, #customerInfoEdit #detailInfo dl, #customerInfoNew #detailInfo dl {
  border-top: 1px solid #B3B3B3;
}
#customerInfo #detailInfo dl dt, #customerInfo #detailInfo dl dd {
}
#customerInfo #detailInfo dl dt, #customerInfo #detailInfo li.left, #customerInfoEdit #detailInfo dl dt, #customerInfoEdit #detailInfo li.left, #customerInfoNew #detailInfo dl dt, #customerInfoNew #detailInfo li.left {
  float: left;
}
#customerInfo #detailInfo dl dt, #customerInfoEdit #detailInfo dl dt, #customerInfoNew #detailInfo dl dt {
  color: #B3B3B3;
}
#customerInfo #detailInfo dl dt.delete a, #customerInfo #detailInfo dl dt.delete a:link, #customerInfo #detailInfo dl dt.delete a:visited {
  color: #ca4e0f;
}
#customerInfo #detailInfo dl dd, #customerInfo #detailInfo li.right, #customerInfoEdit #detailInfo dl dd, #customerInfoEdit #detailInfo li.right, #customerInfoNew #detailInfo dl dd, #customerInfoNew #detailInfo li.right {
  float: right;
  text-align: right;
}
#customerInfo #detailInfo dl dd { width: 80%; }
#customerInfo #detailInfo dl dt { width: 20%; }
#customerInfoEdit #detailInfo dl dd, #customerInfoNew #detailInfo dl dd { text-align: left; }
#customerInfo #detailInfo dl dd ul, #customerInfoNew #detailInfo dl dd ul, #customerInfoEdit #detailInfo dl dd ul { padding: 5px 0 0 0; }
#customerInfo #detailInfo dl dd ul li, #customerInfoNew #detailInfo dl dd ul li, #customerInfoEdit #detailInfo dl dd ul li {
  padding-bottom: 5px;
}
#customerInfo #detailInfo dl dd ul li span, #customerInfoNew #detailInfo dl dd ul li span, #customerInfoEdit #detailInfo dl dd ul li span { padding-right: 5px; }
#customerInfo #detailInfo dl dd ul li.memo span, #customerInfoNew #detailInfo dl dd ul li.memo span, #customerInfoEdit #detailInfo dl dd ul li.memo span {
    vertical-align: top;
    display: inline-block;
}
#customerInfo #detailInfo .phone li, #customerInfo #detailInfo .email li, #customerInfo #detailInfo li.customerID, #customerInfo #detailInfo li.dob { width: 49%; }
#customerInfoEdit #detailInfo input, #customerInfoNew #detailInfo input { padding: 8px 10px; margin-left: 5px; }
#customerInfoEdit #detailInfo input#zipcode3, #customerInfoNew #detailInfo input#zipcode3 { width: 65px; }
#customerInfoEdit #detailInfo input#zipcode4, #customerInfoNew #detailInfo input#zipcode4 { width: 70px; }
#customerInfoEdit #detailInfo .addrRest input, #customerInfoEdit #detailInfo .email input, #customerInfoEdit #detailInfo .memo textarea, #customerInfoNew #detailInfo .addrRest input, #customerInfoNew #detailInfo .email input, #customerInfoNew #detailInfo .memo textarea { min-width: 270px; max-width: 400px; }
#customerInfoEdit #detailInfo .phone input, #customerInfoNew #detailInfo .phone input { width: 150px; }
#customerInfoEdit #detailInfo .memo textarea, #customerInfoNew #detailInfo .memo textarea { font-size:14px; }
#customerInfoEdit #detailInfo  a.BTNtarco, #customerInfoEdit #detailInfo  a.BTNyellow, #customerInfoNew #detailInfo  a.BTNtarco, #customerInfoNew #detailInfo a.BTNyellow {
  display: inline-block;
    line-height: 30px;
    height: 30px;
    width: 30px;
    padding: 0;
    text-align: center;
    margin-left: 5px;
}
#customerInfo #detailInfo .phone dd li>i, #customerInfo #detailInfo .email dd li>i{
  padding: 0 5px 0 0;
  width: 35px;
    text-align: right;
  vertical-align: middle;
}
#customerInfo #detailInfo .phone dt, #customerInfo #detailInfo .email dt { position: relative; }
#customerInfo #detailInfo .phone dt a, #customerInfo #detailInfo .email dt a, #customerInfo #detailInfo .phone dd a, #customerInfo #detailInfo .email dd a {
    height: 40px;
  width: 40px;
  padding: 0;
    text-align: center;
}
#customerInfo #detailInfo .phone dt a, #customerInfo #detailInfo .email dt a {
  position: absolute;
  right: 8px;
    top: 8px;
}
#customerInfo #detailInfo .phone dd a, #customerInfo #detailInfo .email dd a {
  display: inline-block;
  margin-left: 10px;
}
/* Reservation */
#resNew #resInfo {
  color: #8F8F8F;
  padding-right: 20px;
}
#resNew #resInfo .formRow, #resNew #customerList dl { border-bottom: 1px solid #b3b3b3; }
#resNew #resInfo .formRow {
  display: table;
    width: 100%;
  margin-bottom: 10px;
}
#resNew #resInfo .formRow .form {
  padding-bottom: 10px;
  display: table-row;
  height: 54px;
}
#resNew #resInfo .formRow .form dt, #resNew #resInfo .formRow .form dd { display: table-cell; }
#resNew #resInfo #resDate dt, #resNew #resInfo #resMemo dt { width: 50px; }
#resNew #resInfo #resCalMenu dt { width: 80px; }
#resNew #resInfo .subinfo {
  padding-left: 10px;
  font-size: 14px;
}
#resNew #resInfo #resMemo, #resNew #customerList dl:last-child, #resNew #customerList dl a, #resNew #customerList dl a:link, #resNew #customerList dl a:visited { border-bottom: none; }
#resNew #resInfo #resMemo input {
  width: 100%;
  height:100px;
}
#resNew #resInfo h2, #resNew #customers h2 {
  background-repeat: no-repeat;
  background-position: left center;
  height: 29px;
  color: #858585;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 21px;
}
#resNew #resInfo h2 {
  text-indent: 40px;
}
#resNew #customers h2 {
  text-indent: 35px;
}
#resNew #customers h2 #addCustomer {
  float: right;
  height: 29px;
  line-height: 29px;
}
#resNew #customers { min-width: 290px; }
#resNew #customers ul { margin-right: 0; }
#resNew #customerList dl > a, #resNew #customerList dl dt, #resNew #customerList dl dd { display: inline-block; }
#resNew #customerList dl dt, #resNew #customerList dl dd { vertical-align: middle; }
#resNew #customerList dl dt { width: 180px; }
#resNew #customerList dl dd a, #resNew #customerList dl dd a:link, #resNew #customerList dl dd a:visited {
  background-position: center center;
  background-repeat: no-repeat;
  width: 10px;
  height: 10px;
  text-indent: -9999px;
  overflow: hidden;
  padding: 10px;
  line-height: 17px;
    text-align: left;
}
#resNew #customerList dl {
    background-position: left 20px center;
  padding-left: 52px;
}
.resNew footer #newResFlow { float: left; }
.resNew footer #BTNfunctions { float: right; }
.resNew footer #newResFlow, .resNew footer #newResFlow ol {
  border-radius: 20px; /* 記述無し */
  -moz-border-radius: 20px; /* Firefox */
  -webkit-border-radius: 20px; /* Google Chrome、Safari */
  -o-border-radius: 20px; /* Opera */
  -ms-border-radius: 20px; /* Internet Explorer */
}
.resNew footer #newResFlow {
  background: #f2f2f2;
  border: 5px solid #b3b3b3;
  color: #858585;
  padding: 0;
    margin-top: 16px;
  margin-left: 20px;
}
.resNew footer #newResFlow ol {
  line-height: 20px;
  height: 20px;
  padding: 5px 25px 5px 10px;
}
.resNew footer #newResFlow ol:first-child { padding-left: 25px; }
.resNew footer #newResFlow ol:last-child { background-image: none; }
.resNew footer #newResFlow ol.done {
  color: #6fa89f;
  padding-left: 25px;
}
.resNew footer #newResFlow ol.now {
  background: #6fa89f;
  color: #fff;
}
.resNew footer #BTNfunctions li a, .resNew footer #BTNfunctions li a:link, .resNew footer #BTNfunctions li a:visited {
  width: inherit;
  background-repeat: no-repeat;
  background-position: left 10px center;
  padding-right: 10px;
}
.resNew footer #BTNfunctions li a#BTNsave {
  padding-left: 55px;
}
.resNew footer #BTNfunctions li a#BTNdel {
  padding-left: 40px;
}
/*clear all*/
#aa:after, .firstSetting #progress:after, #customerInfo #detailInfo > ul:after, #customerInfo #detailInfo dl:after, #customerInfoEdit #detailInfo > ul:after, #customerInfoEdit #detailInfo dl:after, #customerInfoNew #detailInfo > ul:after, #customerInfoNew #detailInfo dl:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; 
}
