//= require customers/printing

@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans CJK JP');
}

html {
  font-family: 'Noto Sans JP', sans-serif;
  text-rendering: optimizeLegibility;
}

body {
  margin: 0;
}

.center {
  text-align: center;
}
