/* CSS Document */
html, body, ul, ol, li, dl, dt, dd, p, h1, h2, h3, h4, h5, form, fieldset {
margin: 0;
padding: 0;
border: 0;
}
ul li, dt, dd, dl li {
list-style: none;
}
/*start hide from IE mac*/
html {
  min-height: 100%;
  margin-bottom: 1px;
  position: relative;
}
/*end hide from IE mac*/
body {
  background: #f2f2f2;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 12pt;
  margin: 0;
  padding: 0px;
  height: 100%;
  color: #555;
}
img {
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
}
a, a:link, a:visited {
  color: #97bfb8;
  text-decoration: none;
}
a:hover { color: #60938a; }
a img:hover, #header .logo a:hover, #header #phone a:hover, #footerLogo a:hover, #indexUSP dl dd a:hover {
  opacity: 0.7;
}
.wrapper {
  background-color: transparent;
  margin: 0 auto;
  width: 980px;
}
.floatR {
  float: right;
}
.floatL {
  float: left;
}
div.error, div.caution {
  border: 1px solid;
  padding: 10px 20px;
  margin-bottom: 20px;
}
div.error {
  background: #fcecf3;
  border-color: #f7c5db;
}
div.caution {
  background: #fffeeb;
  border-color: #fff100;
}
p.caution, span.caution {
  font-size: 90%;
  color: #CF0003;
  line-height: 18px;
}
.table {
  width: 100%;
  display: table;
  border-collapse:collapse;
}
.tableRow {
  display: table-row-group;
  margin: 0;
  width: 100%;
}
.tableCell {
  display: table-cell;
  vertical-align: middle;
}
.tableRow dt, .tableRow dd {
  background: #fff;
  border: 1px solid #CCC;
  display: table-cell;
  padding: 10px 15px;
}
.tableRow dt {
  background: #eaeaea;
  color: #666;
  text-align: center;
}
input, select {
  border-radius: 4px; /* 記述無し */
  -moz-border-radius: 4px; /* Firefox */
  -webkit-border-radius: 4px; /* Google Chrome、Safari */
  -o-border-radius: 4px; /* Opera */
  -ms-border-radius: 4px; /* Internet Explorer */
  border: 1px solid #CCCCCC;
  background: #fff;
  line-height: 1.5;
  font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
input, select { padding: 8px 0; }
input { text-indent: 10px; }
input:placeholder { color: #ccc; }
input.BTNorange, input.BTNyellow, input.BTNtarco, a.BTNorange, a.BTNorange:link, a.BTNorange:visited, a.BTNyellow, a.BTNyellow:link, a.BTNyellow:visited, a.BTNtarco, a.BTNtarco:link, a.BTNtarco:visited, a.BTNgray, a.BTNgray:link, a.BTNgray:visited {
  border-radius: 6px; /* 記述無し */
  -moz-border-radius: 6px; /* Firefox */
  -webkit-border-radius: 6px; /* Google Chrome、Safari */
  -o-border-radius: 6px; /* Opera */
  -ms-border-radius: 6px; /* Internet Explorer */
  line-height: 50px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  display: block;
  height: 50px;
  text-decoration: none;
  padding: 0 15px;
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
  text-indent: 0;
}
a.BTNorange, a.BTNorange:link, a.BTNorange:visited, a.BTNyellow, a.BTNyellow:link, a.BTNyellow:visited, a.BTNtarco, a.BTNtarco:link, a.BTNtarco:visited, a.BTNgray, a.BTNgray:link, a.BTNgray:visited { display: block; }
input.BTNorange, a.BTNorange { background: #ca4e0e; border-color: #b0450d; }
input.BTNorange:hover, a.BTNorange:hover { background: #b0450d; border-color: #984418; }
input.BTNyellow, a.BTNyellow { background: #fcbe46; border-color: #e6a21f; }
input.BTNyellow:hover, a.BTNyellow:hover { background: #e6a21f; border-color: #d79a23; }
input.BTNtarco, a.BTNtarco { background: #97bfb8; border-color: #60938a; }
input.BTNtarco:hover, a.BTNtarco:hover { background: #60938a; border-color: #488479; }
input.BTNgray, a.BTNgray { background: #ccc; border-color: #666; }
input.BTNgray:hover, a.BTNgray:hover { background: #888; border-color: #666; }
h1 {
  color: #ca4e0e;
  padding: 20px 0 30px 0;
  font-size: 30px;
  line-height: 1.7;
}
h2 {
  font-size: 16px;
  margin-bottom: 20px;
}
a:hover, a img:hover {
  opacity: 0.7;
}
