@import "variables";

.display-hidden {
  display: none !important;
}

input[type="date"]
{
  min-height: 35px;
}

.datepicker-field {
  display: inline-block;
}

.busHours.shopClose {
  background-color: #ca4e0e;
  border: 1px #b0450d solid;
  color: #fff;
}

// customers page reservations popup modal date link
.customer {
  #resList .modal-title {
    a:link, a:visited {
      display: inline-block;
      color: #97bfb8;
      border-bottom: 0;
      padding: 0;
    }
  }

  // customers page right nav
  #mainNav dl {
    margin-bottom: 10px;
  }
}

// reservation new save button
button[disabled], a.disabled, input[disabled] {
  opacity: .45;
  cursor: not-allowed !important;
}

// reservation new menu select2
#resNew #resInfo {
  span.select2, span.select2-selection, span.selection, span.dropdown-wrapper {
    display: block;
  }
}

// reservation index calendar and reservation new
.busHours {
  .shop-name {
    display: block;
    width: 100px;
  }
}

// reservations#index page
.shopIndex {
  #resList {
    #record {
      .error-status {
        float: right;
        margin-right: 12px;
      }

      .warning {
        color: #e6a21f;
      }

      .danger {
        color: #cf0003;
      }

      .modal-body .warning i.fa-check-circle {
        vertical-align: baseline;
      }
    }
  }
}

// customer/filter and reservations#index page
#resList {
  &.contBody {
    overflow: scroll;
  }
}

// customer filter
.filter {
  .filterKey {
    .select2-container {
      display: inline-block;
    }

    .date {
      input[type="date"] {
        width: inherit;
      }
    }

    .filterForWording {
      margin-right: 3px;
    }

    .filterForReservationWording {
      margin-left: 3px;
      margin-right: 3px;
    }
  }

  #NAVsave, #NAVdelete {
    a {
      font-size: 14pt;
      font-weight: normal;
      padding: 0 10px;
      line-height: 35px;
      display: inline-block;
      width: inherit;
    }

    i {
      display: inline-block;
      line-height: 21px;
      font-size: 21px;
    }
  }

  #mainNav {
    #NAVprintOutcome {
      .filtered-outcome {
        margin-bottom: 15px;

        &.processing {
          color: $warning;
        }

        &.completed {
          color: $link;
        }

        &.failed, &.deleted {
          color: $danger;
        }

        a {
          font-size: 16px;
          padding-left: 0;

          &.processing {
            color: $warning;
          }

          &.completed {
            color: $link;
          }

          &.failed, &.deleted {
            color: $danger;
          }
        }

        .fa-search {
          cursor: pointer;
        }

        .filter-outcome-state {
          margin-right: 6px;

          &.processing {
            &:before {
              content: "\f252";
            }
          }

          &.completed {
            &:before {
              content: "\f0ab";
            }
          }

          &.failed, &.deleted {
            &:before {
              content: "\f05e";
            }
          }
        }
      }
    }
  }
}

.shopIndex {
  .sidel {
    .busHours {
      margin-top: 0px;
      margin-bottom: 15px;
    }
  }
}
