.hidden {
  display: none !important;
}

.busHours.shopClose {
  background-color: #ca4e0e;
  border: 1px #b0450d solid;
  color: #fff;
}

// customers page reservations popup modal date link
.customer {
  #resList .modal-title {
    a:link, a:visited {
      display: inline-block;
      color: #97bfb8;
      border-bottom: 0;
      padding: 0;
    }
  }

  // customers page right nav
  #mainNav dl {
    margin-bottom: 10px;
  }
}


// reservation new save button
button[disabled], a.disabled, input[disabled] {
  opacity: .45;
  cursor: not-allowed !important;
}

// reservation new menu select2
#resNew #resInfo {
  span.select2, span.select2-selection, span.selection, span.dropdown-wrapper {
    display: block;
  }
}

.datepicker-field {
  display: inline-block;
}

// reservations#index page
.shopIndex {
  #resList {
    #record {
      .error-status {
        float: right;
        margin-right: 12px;
      }

      .warning {
        color: #e6a21f;
      }

      .danger {
        color: #cf0003;
      }

      .modal-body .warning i.fa-check-circle {
        vertical-align: baseline;
      }
    }
  }
}

// customer/filter and reservations#index page
#resList {
  &.contBody {
    overflow: scroll;
  }
}

// customer filter
.filter {
  .filterKey {
    .select2-container {
      display: inline-block;
    }
  }

  #NAVsave {
    .filter-name-input {
      display: inherit;
      margin-bottom: 15px;
    }
  }

  #mainNav {
    #NAVprintOutcome {
      .filtered-outcome {
        margin-bottom: 15px;

        a {
          font-size: 16px;
          padding-left: 0;
        }

        .fa-search {
          cursor: pointer;
        }

        .filter-outcome-state {
          display: inline-block;
          border-radius: 3px;
          margin-right: 12px;
          padding: 3px;
          color: #FFF;

          &.processing {
            background-color: yellow;
            color: #333;
          }

          &.completed {
            background-color: green;
          }

          &.failed, &.deleted {
            background-color: red;
          }
        }
      }
    }
  }
}

.shopIndex {
  .sidel {
    .busHours {
      margin-top: 0px;
      margin-bottom: 15px;
    }
  }
}
