button[disabled], a.disabled, input[disabled] {
  opacity: .45;
  cursor: not-allowed !important;
}

#resNew #resInfo {
  span.select2, span.select2-selection, span.selection, span.dropdown-wrapper {
    display: block;
  }
}
