.busHours.shopClose {
  background-color: #ca4e0e;
  border: 1px #b0450d solid;
  color: #fff;
}

// customers page reservations popup modal date link
#resList .modal-title {
  a:link, a:visited {
    display: inline-block;
    color: #97bfb8;
    border-bottom: 0;
    padding: 0;
  }
}
// customers page right nav
#mainNav dl {
  margin-bottom: 10px;
}

// reservation new save button
button[disabled], a.disabled, input[disabled] {
  opacity: .45;
  cursor: not-allowed !important;
}

// reservation new menu select2
#resNew #resInfo {
  span.select2, span.select2-selection, span.selection, span.dropdown-wrapper {
    display: block;
  }
}

.datepicker-field {
  display: inline-block;
}

#resList #record {
  .error-status {
    float: right;
    margin-right: 12px;
  }

  .warning {
    color: #e6a21f;
  }

  .modal-body .warning i.fa-check-circle {
    vertical-align: baseline;
  }
}
