.busHours.shopClose {
  background-color: #ca4e0e;
  border: 1px #b0450d solid;
  color: #fff;
}

button[disabled], a.disabled, input[disabled] {
  opacity: .45;
  cursor: not-allowed !important;
}

#resNew #resInfo {
  span.select2, span.select2-selection, span.selection, span.dropdown-wrapper {
    display: block;
  }
}

.datepicker-field {
  display: inline-block;
}

#resList #record {
  .status {
    float: right;
    margin-right: 12px;
  }

  .warning {
    color: #e6a21f;
  }

  .modal-body .warning i.fa-check-circle {
    vertical-align: baseline;
  }
}
