button[disabled], a.disabled, input[disabled] {
  opacity: .45;
  cursor: not-allowed !important;
}

#resNew #resInfo {
  span.select2, span.select2-selection, span.selection, span.dropdown-wrapper {
    display: block;
  }
}

.field-error {
  border: 2px solid red;
}

.leftFunctions {
  float: left;

  #confirm-with-errors {
    display: initial;
    margin-right: 10px;
  }
}

.errors {
  span {
    margin-right: 12px;
  }

  .danger {
    color: #d9534f;
  }

  .warning {
    color: #fcbe46;
  }
}
