.display-hidden {
  display: none;
}

input[type="date"]
{
  min-height: 35px;
}

.datepicker-field {
  display: inline-block;
}

.dotdotdot {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.busHours.shopClose {
  background-color: #ca4e0e;
  border: 1px #b0450d solid;
  color: #fff;
}

// customers page reservations popup modal date link
#resList .modal-title {
  a:link, a:visited {
    display: inline-block;
    color: #97bfb8;
    border-bottom: 0;
    padding: 0;
  }
}

// customers page right nav
#mainNav dl {
  margin-bottom: 10px;
}

// reservation new save button
button[disabled], a.disabled, input[disabled] {
  opacity: .45;
  cursor: not-allowed !important;
}

// reservation new menu select2
#resNew #resInfo {
  span.select2, span.select2-selection, span.selection, span.dropdown-wrapper {
    display: block;
  }
}

// reservation index calendar and reservation new
.busHours {
  .shop-name {
    display: block;
    width: 100px;
  }
}

// reservation index and customers index
#resList #record {
  .status {
    float: right;
    margin-right: 12px;
  }

  .warning {
    color: #e6a21f;
  }

  .danger {
    color: #cf0003;
  }

  .modal-body .warning i.fa-check-circle {
    vertical-align: baseline;
  }
}

.shopIndex {
  .sidel {
    .busHours {
      margin-top: 0px;
      margin-bottom: 15px;
    }
  }
}
