@import "variables";

.notification.alert.alert-info {
  margin-bottom: 0;
}

.field-error {
  border: 2px solid #CF0003;
}

.warning {
  color: $warning;
}

.display-hidden {
  display: none !important;
}

input[type="date"]
{
  min-height: 35px;
}

.datepicker-field {
  display: inline-block;
}

.busHours.shopClose {
  background-color: #ca4e0e;
  border: 1px #b0450d solid;
  color: #fff;
}

// customers page reservations popup modal date link
.customer {
  #resList .modal-title {
    a:link, a:visited {
      display: inline-block;
      color: #97bfb8;
      border-bottom: 0;
      padding: 0;
    }
  }

  // customers page right nav
  #mainNav dl {
    margin-bottom: 10px;
  }

  // customers page modal footer link
  .modal-footer dl dd {
    vertical-align: middle;
    display: inline-block;
    line-height: 22px;
    padding-right: 5px;
    padding-left: 5px;

    a:link {
      color: #444444;
    }
  }
}

// reservation new save button
button[disabled], a.disabled, input[disabled], textarea[disabled], select[disabled], .input div.disabled, .checkbox .disabled, span.disabled {
 opacity: .45;
 cursor: not-allowed !important;
}

input:disabled, select:disabled, textarea[disabled], .input div.disabled {
 background-color: #d0d0d0;
}

// reservation index calendar and reservation new
.busHours {
  .shop-name {
    display: block;
    width: 100px;
  }
}

// reservations#index page
.shopIndex {
  #resList {
    #record {
      .error-status {
        float: right;
        margin-right: 12px;
      }

      .warning {
        color: $warning;
      }

      .danger {
        color: #cf0003;
      }

      .modal-body .warning i.fa-check-circle {
        vertical-align: baseline;
      }
    }
  }
}

// customer/filter and reservations#index page
.filter {
  .contBody {
    overflow: auto;
  }
}

// customer filter
.filter {
  .filterKey {
    .date {
      input[type="date"] {
        width: inherit;
      }
    }

    .filterForWording {
      margin-right: 3px;
    }

    .filterForReservationWording {
      margin-left: 3px;
      margin-right: 3px;
    }
  }

  #NAVsave, #NAVdelete {
    a {
      font-size: 14pt;
      font-weight: normal;
      padding: 0 10px;
      line-height: 35px;
      display: inline-block;
      width: inherit;
    }

    i {
      display: inline-block;
      line-height: 21px;
      font-size: 21px;
    }
  }

  #mainNav {
    #NAVprintOutcome {
      .filtered-outcome {
        margin-bottom: 15px;

        &.processing {
          color: $warning;
        }

        &.completed {
          color: $link;
        }

        &.failed, &.deleted {
          color: $danger;
        }

        a {
          font-size: 16px;
          padding-left: 0;

          &.processing {
            color: $warning;
          }

          &.completed {
            color: $link;
          }

          &.failed, &.deleted {
            color: $danger;
          }
        }

        .fa-search {
          cursor: pointer;
        }

        .filter-outcome-state {
          margin-right: 6px;

          &.processing {
            &:before {
              content: "\f252";
            }
          }

          &.completed {
            &:before {
              content: "\f0ab";
            }
          }

          &.failed, &.deleted {
            &:before {
              content: "\f05e";
            }
          }
        }
      }
    }
  }
}

.shopIndex {
  .sidel {
    .busHours {
      margin-top: 0px;
      margin-bottom: 15px;
    }
  }
}

.hover_alert {
  position: fixed;
}

#error_explanation {
  color: #f00;

  ul {
    list-style: none;
    margin: 0 0 18px 0;

    li.error-list {
      display: list-item;
    }
  }
}

caption {
  padding-top: 8px;
  padding-bottom: 8px;
  color: #777;
  text-align: left;
}

div.modal-footer > div {
  display: inline-block
}

.no-shop-reminder a {
  display: inline-block !important;
}

#content.new-profile {
  padding-left: 0;
}
