<% content_for :title do %>
  <title><%= t('meta.title') %></title>
<% end %>

<% content_for :script do %>
  <script charset="utf-8" src="https://static.line-scdn.net/liff/edge/versions/2.3.1/sdk.js"></script>
<% end %>

<div
  id="line-user-redirector"
  data-controller="line-user-redirector"
  data-line-user-redirector-liff-id=<%= @liff_id %>
  data-line-user-redirector-url=<%= @redirect_to %>
>
  <h3 class="centerize margin-around">
    Loading <i class="fa fa-spinner fa-spin fa-fw fa-2x" aria-hidden="true"></i>
  </h3>
</div>
