<h1>Pending business applications</h1>

<ul>
  <% @pending_applications.each do |application| %>
    <li>
      <%= application.user.name %>
      <%= I18n.l(application.updated_at) %>
      <%= link_to "Approve", approve_admin_business_application_path(application), method: :post, class: "btn btn-success" %>
      <%= link_to "Reject", reject_admin_business_application_path(application), method: :post, class: "btn btn-danger", data: { confirm: "Are you sure?" } %>
    </li>
  <% end %>
</ul>
