<div id="settingForm">
  <% all_menu_options = menu_group_options(@menu_result[:menu_options], :minutes, :interval) %>

  <%= react_component("management/settings/booking/booking_option_settings", {
    form_authenticity_token: form_authenticity_token,
    menu_total_limit: 2,
    menu_group_options: menu_group_options(@menu_result[:category_with_menu_options], :minutes),
    booking_option: @booking_option.attributes.merge!(
      amount_cents: @booking_option.amount&.fractional,
      start_at_type: @booking_option.start_at ? "date" : "now",
      start_at_date_part: @booking_option.start_at_date,
      start_at_time_part: @booking_option.start_at_time,
      end_at_type: @booking_option.end_at ? "date" : "now",
      end_at_date_part: @booking_option.end_at_date,
      end_at_time_part: @booking_option.end_at_time,
      option_type: @booking_option.option_type || "primary",
      menus: @booking_option.booking_option_menus.order("priority").map { |booking_option_menu|
        booking_option_menu.attributes.slice("priority", "required_time").reverse_merge!(all_menu_options.find { |option| option["value"] == booking_option_menu.menu_id })},
    ),
    path: {
      cancel: settings_user_booking_options_path(super_user),
      save: @booking_option.new_record? ? settings_user_booking_options_path(super_user) : settings_user_booking_option_path(super_user, @booking_option)
    },
    i18n: {
      currency_unit: t("number.currency.format.unit"),
      menu_time_span: Menu.human_attribute_name(:minutes),
      errors: t("errors.messages").slice(:required, :invalid_email_format, :not_a_number, :greater_than_or_equal_to),
    }.merge!([
      t("settings.booking_option.form"),
      t("common").slice(:required_label, :minute, :total, :select_a_menu),
      t("action").slice(:save, :cancel)
    ].inject(:merge)
    ),
  },
  { camelize_props: false }
  ) %>
</div>
