<div class="message centerize">
  <% if !@message_api_ready %>
    We already send the confirmation message to your line customer,
    You should receive a card message like the below, please click the cofirm button to let us confirm your message api setting is done.
    <br/ >
    <br/ >
    If you didn't please check your message api and line login api should be in the same provider and the linked OA is what you expected. <br />
    You could get more troubleshoot information from this help link.
  <% else %>
    Done
  <% end %>
</div>
