<div class="message centerize">
  <% if !@message_api_ready %>
    <h3 class="desc break-line-content"><%= t("line_verification.message_api_confirm_title") %></h3>
    <div class="text-left">
      <%= t("line_verification.message_api_confirm_desc_html") %>
    </div>
  <% else %>
    <h3 class="desc break-line-content"><%= t("line_verification.done_page_title") %></h3>
    <div class="text-left">
      <%= t("line_verification.done_page_html") %>
    </div>
  <% end %>
</div>
