<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-body">
      <%= t("tours.line_settings_required_for_booking_page_html") %>
      <div class="centerize">
        <%= embed_tour_video(:line_settings_required_for_booking_page) %>
      </div>
    </div>
  </div>
</div>
