<ul>
  <% @sale_pages.each do |sale_page| %>
    <li>
      <%= l(sale_page.created_at, format: :long_date_with_wday)%>
      <%= link_to sale_page.product_name, sale_page_path(sale_page), target: "_blank" %>
    </li>
<% end %>
</ul>
