<%= form_for(contact_group, url: url) do |f| %>
  <h3>Contacts Informations<strong>必須項目</strong></h3>
  <div id="contactsInfo" class="formRow">
    <dl>
      <dt>顧客台帳名</dt>
      <dd>
        <%= f.text_field :name, max_length: 30 %>
      </dd>
    </dl>
  </div>
  <ul id="footerav">
    <li>
      <%= link_to "Cancel", settings_contact_groups_path, class: "BTNtarco" %>
    </li>
    <li>
      <%= f.submit "保存", class: "BTNyellow" %>
    </li>
  </ul>
<% end %>
