<dl class="booking-options-sider">
  <%= active_link_to settings_user_booking_options_path(super_user),
    active: [[ "settings/booking_options", "settings/booking_pages" ]],
    wrap_tag: :dt, class_active: "here" do %>
    <span><i class="fa fa-globe fa-2x"></i>&nbsp;<%= t("settings.booking_option.sider_label") %></span>
  <% end %>
  <dd>
    <ul>
      <%= active_link_to t("settings.booking_option.booking_option_label"), settings_user_booking_options_path(super_user),
        active: [[ "settings/booking_options" ]],
        wrap_tag: :li,
        class_active: "here" %>
    </ul>
    <% if booking_settings_presenter.booking_option_setup? %>
      <ul>
        <%= active_link_to t("settings.booking_page.booking_page_label"), settings_user_booking_pages_path(super_user),
          active: [[ "settings/booking_pages" ]],
          wrap_tag: :li,
          class_active: "here" %>
      </ul>
    <% end %>
  </dd>
</dl>
