<div class="booking-pages form with-top-bar">
  <%= render "lines/user_bot/top_navigation_bar", title: I18n.t("user_bot.dashboards.metrics.title") %>


  <% if is_not_phone? %>
    <%= react_component("user_bot/metrics/sale_pages_visits", {
      demo: params[:demo],
      metric_path: lines_user_bot_metrics_booking_pages_visits_path({ id: params[:id], business_owner_id: business_owner_id, format: "json" }),
      header: I18n.t("user_bot.dashboards.metrics.weekly_service_sale_page_visit_count", service_name: @booking_page.title)
    }, { camelize_props: false }) %>
  <% end %>

  <%= react_component("user_bot/metrics/sale_pages_conversions", {
    demo: params[:demo],
    metric_path: lines_user_bot_metrics_booking_pages_conversions_path({ id: params[:id], business_owner_id: business_owner_id, format: "json" }),
  }, { camelize_props: false }) %>
</div>