<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 px-0 settings-view">
      <div class="margin-around">
        <div class="margin-around">
          <%= t("user_bot.dashboards.metrics.rich_menu_introduction_message_html", setting_path: edit_lines_user_bot_settings_social_account_rich_menu_path(business_owner_id: business_owner_id)) %>
        </div>
        <%= image_pack_tag "media/assets/user_bot/rich_menu_metric_#{Current.business_owner.locale}.png", class: "w-full" %>
      </div>
    </div>
  </div>
</div>