<div id="subNav">
  <h2>Let's Setup Your Account and Shop</h2>
</div>
<div id="about">
  <p>まずは管理人情報を登録します。<br>各種設定や利用料金の支払いなど、Toruyaの登録情報を管理する個人や法人を設定してください。</p>
</div>

<%= render 'form', profile: @profile, url: settings_profile_path %>
