body {
  background: $gray10;
  margin: 0;
}

.booking-content {
  background-color: #FFFFFF;
  width: 500px;
  min-height: 700px;
  padding: 12px;
  margin-top: 36px;
  margin-left: auto;
  margin-right: auto;

  @include media-breakpoint-down(mobile) {
    margin-top: 0;
    width: 100%;
  }

  .logo {
    width: 130px;
    height: auto;
    max-height: 45px;
  }
}

.footer {
  width: 500px;
  background-color: #FFFFFF;
  margin-left: auto;
  margin-right: auto;
  padding: 12px;
  text-align: center;
  font-size: 12px;
  color: $gray8;

  @include media-breakpoint-down(mobile) {
    width: 100%;
  }
}
