body {
  background: $gray10;
}

.booking-content {
  background-color: #FFFFFF;
  width: 500px;
  margin-left: auto;
  margin-right: auto;

  @include media-breakpoint-down(mobile) {
    width: 100%;
  }
}
