.booking-content {
  .alert.alert-info {
    margin: -12px -12px 0 -12px;
    border-radius: 0;
  }

  input[type="text"] {
    width: 45%;
  }

  input[type="tel"] {
    width: 85%;
  }

  input[type="email"] {
    width: 100%;
  }

  .field {
    width: 45%;
    margin: 0 3px;
    display: inline-block;
    vertical-align: top;

    input {
      width: 100%;
    }
  }

  .header {
    margin-top: 12px;
    margin-bottom: 12px;

    .header-title-part {
      h1 {
        margin: 20px 0 10px;
      }
    }

    .page-title {
      font-size: 24px;
    }

    .greeting {
      margin: 12px 0 20px;
      white-space: pre-wrap;
    }
  }

  a.edit {
    float: right;
    font-size: $small-font-size;
    font-weight: normal;
  }

  .selected-booking-datetime {
    margin-top: 12px;
    margin-left: 6px;
    margin-bottom: 20px;
    font-size: $normal2-font-size;

    .fa-calendar {
      margin-right: 5px;
    }
  }

  .last-selected-option {
    color: $palette-color1;

    .fa {
      margin-right: 3px;
    }
  }

  .booking-option-field {
    display: block;
    width: initial;
  }

  .selected-booking-option {
    position: relative;

    .fa-check-circle {
      position: absolute;
      font-size: 1.5em;
      right: -0.35em;
      top: -0.35em;
      color: $palette-color5;
      background-color: #ffffff;
    }

    .booking-option-field {
      border: 3px solid $palette-color5;
      color: $gray11;
    }
  }

  .customer-type-options,
  .regular-customer-options {
    margin-top: 40px;

    .radios {
      text-align: center;

      .radio {
        display: inline-block;
        margin: 6px 20px;
      }
    }

    .desc {
      margin-bottom: 9px;
    }

    .resend-row {
      margin-top: 9px;
    }
  }

  .find-customer {
    margin-top: 12px;
  }

  .remember-me,
  .reminder-permission {
    text-align: center;
    margin: 20px 0;
  }

  .customer-found {
    margin-top: 40px;
    text-align: center;

    .simple-address {
      margin-top: 20px;
      font-size: $normal-font-size;
    }

    .customer-full-name {
      font-size: $large-font-size;
    }

    .edit-customer-info, .not-me {
      margin-top: 12px;
      font-size: $normal-font-size;
    }
  }

  .reservation-confirmation {
    text-align: center;
    margin-top: 30px;

    .note {
      color: $gray11;
      margin-bottom: 20px;
      text-align: left;
      white-space: pre-wrap;
      font-size: 80%;
      overflow: scroll;
      height: 100px;
      border: 1px solid #ddd;
      padding: 5px;
    }
  }

  .booking-calendar {
    margin-top: 30px;

    .calendar,
    .demo-days {
      margin-left: auto;
      margin-right: auto;
    }

    .calendar-loading {
      width: 100%;
    }
  }

  #customer-info-modal {
    text-align: left;

    .info {
      margin-left: 20px;
    }
  }

  #customer-info-field-modal {
    .street-field,
    .email-field {
      width: 100%;
    }
  }

  .time-interval {
    display: inline-block;
    width: 150px;
    padding: 12px;
    margin: 0 12px 12px 0;
    background-color: $gray5;
    border: 1px solid $gray6;
    color: $black;
  }

  .booking-options {
    .result-field {
      margin-top: 15px;
    }
  }

  .social-login-block {
    margin-top: 40px;

    .btn {
      margin-top: 20px;
    }

    .skip {
      margin-top: 60px;
    }
  }

  .done-view,
  .start-yet-view,
  .ended-view {
    text-align: center;

    .title {
      margin: 40px 0;
    }

    .message {
      margin-bottom: 30px;
    }

    .desc {
      margin-bottom: 10px;
    }

    .toruya-logo {
      height: 35px;
    }

    .feature-list {
      text-align: left;
      margin: 10px auto;
      display: inline-block;
    }
  }

  .booking-failed-message {
    padding: 24px;
    background-color: $palette-color7;
    border: 1px solid $palette-color8;
    margin-top: 24px;

    .field-error-message {
      color: $black;
    }

    button.reset {
      margin-top: 12px;
    }
  }

  .start-yet-view,
  .ended-view,
  .unpayable-view {
    .title {
      padding: 20px;
      background-color: $palette-color7;
      border: 1px solid $palette-color8;
    }
  }

  .selected-time-item {
    border: 1px solid $danger;
  }

  .react-slidedown.calendar-slidedown {
    transition-duration: 1.0s;
    transition-timing-function: ease-in-out;
  }
}
