.booking-content {
  .alert.alert-info {
    margin: -12px -12px 0 -12px;
    border-radius: 0;
  }

  input[type="text"],
  input[type="tel"],
  input[type="email"] {
    width: 45%;
  }

  input[type="email"] {
    width: 100%;
  }

  .field {
    width: 45%;
    margin: 0 3px;
    display: inline-block;
    vertical-align: top;

    input {
      width: 100%;
    }
  }
  .header {
    margin-top: 12px;
    margin-bottom: 12px;

    .page-title {
      font-size: 24px;
      margin-left: 20px;
    }

    .logo {
      width: 130px;
      height: auto;
      max-height: 45px;
    }

    .greeting {
      margin: 12px 6px 20px;
      white-space: pre-wrap;
    }
  }

  a.edit {
    float: right;
    font-size: $small-font-size;
    font-weight: normal;
  }

  .selected-booking-datetime {
    margin-top: 12px;
    margin-left: 6px;
    margin-bottom: 20px;
    font-size: $normal2-font-size;

    .fa-calendar {
      margin-right: 5px;
    }
  }

  .booking-option-field {
    display: block;
    width: initial;
  }

  .selected-booking-option {
    position: relative;

    .fa-check-circle {
      position: absolute;
      font-size: 1.5em;
      right: -0.35em;
      top: -0.35em;
      color: $palette-color5;
      background-color: #ffffff;
    }

    .booking-option-field {
      border: 3px solid $palette-color5;
      color: $gray11;
    }
  }

  .customer-type-options,
  .regular-customer-options {
    margin-top: 40px;

    .radios {
      text-align: center;

      .radio {
        display: inline-block;
        margin: 6px 20px;
      }
    }
  }

  .remember-me {
    text-align: center;
    margin: 20px 0;
  }

  .customer-found {
    margin-top: 40px;
    text-align: center;

    .simple-address {
      margin-top: 20px;
      font-size: $normal-font-size;
    }

    .customer-full-name {
      font-size: $large-font-size;
    }

    .edit-customer-info, .not-me {
      margin-top: 12px;
      font-size: $normal-font-size;
    }
  }

  .reservation-confirmation {
    text-align: center;
    margin-top: 30px;

    .note {
      color: $gray11;
      margin-bottom: 20px;
      text-align: left;
      white-space: pre-wrap;
      font-size: 80%;
      overflow: scroll;
      height: 150px;
      border: 1px solid #ddd;
      padding: 5px;
    }
  }

  .booking-calendar {
    margin-top: 30px;

    .calendar,
    .demo-days {
      margin-left: auto;
      margin-right: auto;
    }

    .calendar-loading {
      width: 100%;
    }
  }

  #customer-info-modal {
    text-align: left;

    .info {
      margin-left: 20px;
    }
  }

  #customer-info-field-modal {
    .street-field,
    .email-field {
      width: 100%;
    }
  }

  .time-interval {
    display: inline-block;
    width: 150px;
    padding: 12px;
    margin: 0 12px 12px 0;
    background-color: $gray5;
    border: 1px solid $gray6;
    color: $black;
  }

  .booking-options {
    .result-field {
      margin-top: 15px;
    }
  }

  .done-view,
  .start-yet-view,
  .ended-view {
    text-align: center;

    .title {
      margin: 40px 0;
    }

    .message {
      margin-bottom: 50px;
    }

    .desc {
      margin-bottom: 10px;
    }

    .toruya-logo {
      height: 35px;
    }

    .feature-list {
      text-align: left;
      margin: 10px auto;
      display: inline-block;
    }
  }

  .start-yet-view,
  .ended-view {
    .title {
      padding: 20px;
      background-color: $palette-color7;
    }
  }

  .selected-time-item {
    border: 1px solid $danger;
  }

  .booking-calendar {
    &.enter {
      opacity: 0.01;
    }

    &.enter-active {
      opacity: 1;
      transition: opacity 500ms ease-in;
    }

    &.exit {
      opacity: 1;
    }

    &.exit-active {
      opacity: 0.01;
      transition: opacity 1000ms ease-in;
    }
  }

  .react-slidedown.calendar-slidedown {
    transition-duration: 1.0s;
    transition-timing-function: ease-in-out;
  }
}
