* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  background: $gray10;
}

.display-hidden {
  display: none !important;
}

.booking-content {
  background-color: #FFFFFF;
  width: 500px;
  min-height: 700px;
  padding: 12px;
  margin-top: 36px;
  margin-left: auto;
  margin-right: auto;

  @include media-breakpoint-down(mobile) {
    margin-top: 0;
    width: 100%;
  }
}

.footer {
  width: 500px;
  background-color: #FFFFFF;
  margin-left: auto;
  margin-right: auto;
  padding: 12px;
  text-align: center;
  font-size: 12px;
  color: $gray8;

  @include media-breakpoint-down(mobile) {
    width: 100%;
  }
}

input[type="text"],
input[type="tel"],
input[type="email"] {
  padding: 10px;
  color: $black;
  line-height: 15px;
  border: 1px solid $gray;
  background-color: $palette-color6;
  border-radius: 4px;
  margin: 0 3px;
  width: 45%;
}

input[type="email"] {
  width: 100%;
}

h4 {
  margin-top: 12px;
  margin-bottom: 12px;
  color: $black;
  font-size: 14px;
}

.centerize {
  text-align: center;
}

a {
  color: $palette-color2;
}
