* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  background: $gray10;
}

.display-hidden {
  display: none !important;
}
