* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  background: $gray10;
}

.display-hidden {
  display: none !important;
}

.responsive-content {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.mobile-content {
  position: relative;
  background-color: #FFFFFF;
  padding: 12px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  width: 100%; // mobile
  flex: 1 1 auto;

  &.extend,
  &.sale_pages,
  &.online_service_purchases,
  &.surveys,
  &.online_services {
    padding: 0;
  }

  @include media-breakpoint-up(tablet) {
    width: 500px;
    margin-top: 36px;

    &.surveys {
      width: 770px;
      max-width: 770px;
      padding: 0;
      background: $gray10;
    }
  }
}

.action-block {
  text-align: center;
  padding: 10px 0 20px;
}

.footer {
  width: 100%;
  background-color: #FFFFFF;
  margin-left: auto;
  margin-right: auto;
  padding: 12px;
  text-align: center;
  font-size: 12px;
  color: $gray8;

  &.surveys {
    background-color: $gray10;
  }

  @include media-breakpoint-up(tablet) {
    width: 500px;

    &.surveys {
      width: 770px;
      max-width: 770px;
      background-color: $gray10;
    }
  }
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="number"] {
  padding: 10px;
  color: $black;
  line-height: 15px;
  border: 1px solid $gray;
  background-color: $palette-color6;
  border-radius: 4px;
  margin: 0 3px;
}

select {
  appearance: none;
  line-height: 35px;
  padding: 0 15px;
  background-color: $palette-color6;
  border: 1px solid $gray;
  border-radius: 4px;
}

textarea {
  min-height: 150px;
  color: $black;
  border: 1px solid $gray;
  background-color: $palette-color6;
  line-height: 18px;
  margin: 0 3px;
  padding: 8px;
  font-size: $normal-font-size;

  &.extend {
    width: 100%;
    border: 0;
    border-radius: 0;
  }

  &.with-border {
    border: 1px solid $gray !important;
  }
}

h4 {
  margin-top: 12px;
  margin-bottom: 12px;
  color: $black;
  font-size: 14px;
}

.centerize {
  text-align: center;
}

a {
  color: $palette-color2;
}

.warning {
  color: $warning !important;
}

.field-error-message {
  color: $danger;
  display: block;
}

.field-warning-message {
  color: $warning;
  display: block;
}

.spinner-loading {
  width: 100%;
  text-align: center;
  font-size: 14px;
  color: $gray11;
}

.whole-page-center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.reminder-mark {
  background-color: $pink-background;
  border: 1px solid $pink-border;
  padding: 20px;
}

.membership {
  .input-group {
    .input-group-addon {
      background-color: $palette-color6;
      color: #666666;
      border-radius: 0;
      border: 0;
    }

    input.form-control {
      border-left: 0;
      margin-left: 0;
      border: 0;
      border-radius: 0;
      width: 95%;
    }
  }
}