<nav id="sideNav">
  <dl class="shop">
    <dt>
      <a href="#"><%= shop.name %>の設定</a>
    </dt>
  </dl>

  <dl class="staff">
    <%= active_link_to content_tag(:span, t("settings.staff.sider_label")), edit_settings_user_staff_path(super_user, staff),
      active: [["settings/staffs", "settings/working_time/staffs"]],
      wrap_tag: :dt,
      class_active: "here" %>
    <dd>
      <ul>
        <%= active_link_to t("settings.staff.info_title"),
          edit_settings_user_staff_path(super_user, staff),
          active: [["settings/staffs"]],
          wrap_tag: :li,
          class_active: "here" %>

        <%#
          full time permission or
          (
            part time worker and has regular/temporary working time permission
          )

          # full time worker but don't have full time permission only have regular/temporary permission would be ignored.
        %>
        <% if can?(:manage_staff_full_time_permission, shop_staff) ||
          (
            !staff.business_schedules.full_time.where(shop: shop).exists? && (
              can?(:manage_staff_regular_working_day_permission, shop_staff) ||
              can?(:manage_staff_temporary_working_day_permission, shop_staff)
            )
          )
        %>
          <%= active_link_to t("settings.staff.work_time"), working_schedules_settings_user_working_time_staff_path(super_user, staff),
            active: /working_schedules/,
            wrap_tag: :li,
            class_active: "here" %>
        <% end %>
      </ul>
    </dd>
  </dl>
</nav>
