<nav id="sideNav">
  <dl>
    <dt><a href="">基本情報</a></dt>
    <dd>
      <ul>
        <li class="here"><%= link_to "Shop Info", new_settings_shop_path %></li>
        <li><a href="bushours.html">Business Hours</a></li>
        <li><a href="staff.html">Staff</a></li>
        <li><a href="menu.html">Menu</a></li>
        <li><a href="price.html">Price</a></li>
        <li><a href="calendars.html">Calendars</a></li>
      </ul>
    </dd>
  </dl>
  <dl>
    <dt><a href="../publish/">公開page</a></dt>
  </dl>
  <dl>
    <dt><a href="../share/">Share</a></dt>
  </dl>
  <dl>
    <dt><a href="../apps/">店舗Apps</a></dt>
  </dl>
  <dl>
    <ul>
      <li><a href="../account/">Account</a></li>
      <li><a href="../account/">Account Info</a></li>
      <li><a href="../account/plans.html">Plans</a></li>
    </ul>
  </dl>
  <dl>
    <dt><a href="../login.html">Log Out</a></dt>
  </dl>
</nav>
