<!doctype html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8" />
    <%= stylesheet_link_tag wicked_pdf_asset_base64("pdf") %>
    <%= yield :style if content_for?(:style) %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
